@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "About Us";
}

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h3>Giới thiệu về công ty</h3>
            </div>
        </div>
    </div>
</section>
<!-- / .title -->


<section id="about-us" class="container main">
    <div class="row-fluid">
        <div class="span6">
            <h2></h2>
            <p>Phần mềm bán hàng PHOLO được xây dựng và phát triển từ nhu cầu thực tế của các cửa hàng bán lẻ tại Việt Nam. 
            Phần mềm được xây dựng bởi những kỹ sư công nghệ nhiệt huyết và tận tình. 
            </p>
        </div>
        <div class="span6">
            <div>
                <div><img width="120px" style="display:block;margin-left: auto;margin-right:auto" src="@Url.Content("~/Images/logo/pholo.png")" alt="logo-cong-ty-pholo"/></div>

                <h4>Mục tiêu của chúng tôi</h4>
                <div>Phần mềm bán hàng PHOLO sẽ là phần mềm tiện ích nhất với giá tốt nhất có thể tiếp cận mọi cửa hàng bán lẻ tại Việt Nam, 
                    từ những cửa hàng cá nhân mới bắt đầu đến những cửa hàng lớn có hệ thống chi nhánh trên cả nước.</div>
            </div>
        </div>
    </div>

    <hr>

    <!-- Meet the team -->
    <h1 class="center">Đội ngũ nhân viên</h1>
    <hr>

    <div class="center">
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <p>
                    <img src="@Url.Content("~/Content/home/images/sample/team1.jpg")" alt=""></p>
                <h5>Dương Thành Phong</h5>
                <h6>Người sáng lập</h6>
                <p></p>
                <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a><a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a><a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a><a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
            </div>
        </div>

        <div class="span3">
            <div class="box">
                <p>
                    <img src="@Url.Content("~/Content/home/images/sample/team2.jpg")" alt=""></p>
                <h5>Hoàng Xuân Lộc</h5>
                <h6>Đồng sáng lập</h6>
                <p></p>
                <a class="btn btn-social btn-facebook" href="#"><i class="icon-facebook"></i></a><a class="btn btn-social btn-google-plus" href="#"><i class="icon-google-plus"></i></a><a class="btn btn-social btn-twitter" href="#"><i class="icon-twitter"></i></a><a class="btn btn-social btn-linkedin" href="#"><i class="icon-linkedin"></i></a>
            </div>
        </div>

        
    </div>
    </div>
    <p>&nbsp;</p>
    <p></p>
    <hr>

    <!-- Why choose US -->
    <div class="row-fluid">
        <div class="span6">
            <h3>Tại sao lại chọn PHOLO?</h3>
            <p>Chúng tôi muốn đem tuổi trẻ và sự nhiệt huyết để phát triển những ứng dụng hỗ trợ con người làm việc một cách đơn giản và hiệu quả nhất.
               <br />
                Bạn chọn chúng tôi và chúng tôi cũng muốn đi cùng với bạn.
            </p>
        </div>
        <div class="span6">
            <h3>Hướng phát triển</h3>
            <div class="accordion" id="accordion2">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Trang bán hàng trực tuyến
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse">
                        <div class="accordion-inner">
                            

                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Phần mềm bán hàng trên thiết bị di động
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">
                           

                        </div>
                    </div>
                </div>
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">Bot tư vấn sản phẩm
                        </a>
                    </div>
                    <div id="collapseThree" class="accordion-body collapse">
                        <div class="accordion-inner">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
