@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}


<section id="register_success" class="container">
    <h1>ĐĂNG KÝ THÀNH CÔNG</h1>
    <p>Chúc mừng bạn đã đăng ký thàng công.</p>
    <a class="btn btn-success" href="@Url.Action("Login","Account")">TIẾP TỤC ĐĂNG NHẬP</a>
</section>

