@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h3>Điều khoản sử dụng</h3>
            </div>
        </div>
    </div>
</section>
<!-- / .title -->

<!-- terms-use -->
<section id="terms-use" class="container">
    <h4>Khi bạn sử dụng phần mềm của PHOLO, bạn phải tuân thủ các quy định cơ bản để đảm bảo quyền lợi của bạn .</h4>
    <p>&nbsp;</p>

    <h3>Bên người dùng</h3>
    <p style="font-size:14px">
        •	Cửa hàng của bạn phải kinh doanh các mặt hàng hợp pháp. PhoLo không chịu trách nhiệm cho những trường hợp khi bạn kinh doanh mặt hàng bất hợp pháp.
    </p>
    <p style="font-size:14px">
        •	Không được sử dụng PhoLo để hoạt động trái pháp luật: tuyên truyền nội dung cấm, phát tán virus,…
    </p>
    <p style="font-size:14px">
        •	Không được chia sẻ tài khoản đăng nhập / mật khẩu cho người khác.
    </p>
    <p>&nbsp;</p>

    <h3>Bên Pholo</h3>
    <p style="font-size:14px">
        •	PhoLo có trách nhiệm bảo mật thông tin cho  cửa hàng. Chỉ những tài khoản có quyền truy cập, cập nhật dữ liệu mới được thao tác. PhoLo không bán thông tin để thu lợi nhuận khác.
    </p>
    <p>&nbsp;</p>

</section>
<!-- /terms-use -->
