@{
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    ViewBag.Title = "Home Page";
}

<section class="title">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <h3>Điều khoản sử dụng</h3>
            </div>
        </div>
    </div>
</section>
<!-- / .title -->

<!-- terms-use -->
<section id="terms-use" class="container">
    <h4>Khi bạn sử dụng phần mềm của PHOLO, bạn phải tuân thủ các quy định cơ bản để đảm bảo quyền lợi của bạn .</h4>
    <p>&nbsp;</p>

    <h3>Điều kiện sử dụng</h3>
    <p style="font-size:14px">Bạn phải nhận thức và chấp nhận rằng Bạn có trách nhiệm sử dụng Dịch vụ vào công việc kinh doanh dịch vụ phù hợp với pháp luật hiện hành và thuần phong mỹ tục Việt Nam. 
        Bạn không được sử dụng dịch vụ để tuyên truyền nội dung đồi trụy, chống phá nhà nước, phát tán thư rác và / hoặc các thông tin không mong muốn đến những tổ chức và cá nhân khác trong hệ thống dưới mọi hình thức.
    </p>
    <p>&nbsp;</p>

    <h3>Bảo mật thông tin</h3>
    <p style="font-size:14px">Bạn phải có trách nhiệm lưu giữ thông tin truy cập vào Cửa hàng để tránh trường hợp tài khoản bị đánh cắp và/ hoặc bị lạm dụng với mục đích không an toàn cho cả Bạn và PHOLO. PHOLO không chịu trách nhiệm đối với sự xâm nhập trái phép của bên thứ ba vào Cửa hàng của Bạn do sự bất cẩn của Bạn. 
        PHOLO khuyến cáo Bạn đổi mật khẩu sau khi cung cấp mật khẩu cho các bên liên quan nhằm mục đích hỗ trợ sử dụng. 
        Ngoài ra, PHOLO cam kết giữ kín mọi thông tin của Bạn khi sử dụng các Dịch vụ trên Website của PHOLO và không tiết lộ cho bên thứ ba.

    </p>
    <p>&nbsp;</p>

    <h3>Nguyên tắc làm việc</h3>
    <p style="font-size:14px">Với phương châm hai bên đều phát triển, nếu có bất kì sự cố hay vấn đề mà Bạn gặp phải, xin hãy vui lòng liên lạc với chúng tôi để giải quyết trên tinh thần cở mở. 
    </p>
    <p>&nbsp;</p>
</section>
<!-- /terms-use -->
