.none-display{
    display:none;
}
/* widget */
.widget {
    margin-bottom: 40px;
}

.widget .widget-title {
    border-bottom: 4px double #E5E5E5;
    color: #444;
    font-size: 15px;
    margin: 0 0 25px;
    position: relative;
}

.widget ul ul {
    margin: 10px 0 0 10px;
}

.widget ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


ul.menu-widget > li{
    border-bottom: 1px solid #16A085;
}

ul.menu-widget > li li{
    margin: 0 0 10px;
}

.menu-widget > li > .active {
    background-color: #16A085;
    color: white;
    line-height: 18px;
    padding: 10px 75px 10px 20px;
    position: relative;
}

.widget a, .widget a:visited {
    color: #45454C;
    text-decoration: none;
}

.menu-widget > li > a {
    line-height: 18px;
    padding: 10px 75px 10px 20px;
    position: relative;
    display: block;
}


.menu-list-post {
    border-left: 1px solid #ddd;
    margin: 10px 0 0 20px !important;
}

.menu-list-post > li > a {
    padding: 5px 10px 5px 25px;
}

.menu-list-post > li > .active {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-left: 2px solid #16A085;
    color: #191919;
    font-weight: bold;
}

/* header content */
#page-header {
    border-bottom: 1px solid #16A085;
    margin: 0 0 30px;
    padding: 0 0 10px;
    position: relative;
}


#breadcrumbs {
    color: #808080;
    font-size: 14px;
}

#breadcrumbs a, #breadcrumbs a:visited {
    color: #808080;
}


.bold {
    font-weight: bold;
}

.white {
    color: #fff !important;
}

.red {
    color: #dd5a43 !important;
}

.green {
    color: #9abc32 !important;
}

.grey {
    color: #777 !important;
}

.blue {
    color: #6fb3e0 !important;
}

.blue-dark {
    color: #307ecc !important;
}

.pink {
    color: #c6699f !important;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #777;
    border-radius: 10px;
}

.badge-primary {
    background-color: #16A085 !important;
}