
<div class="row header-detail">
    <div class="col-md-4 primary-color">
        <h4 class="bold" style="display: inline-block"> In mã vạch </h4>
    </div>
    <div class="col-md-8 pull-right text-right">
        <button class="btn btn-primary margin-top-5" ng-click="DownloadProductBarcode()">
            <i class="fa fa-download white"></i>
            <span>Tải file PDF</span>
        </button>
        @*<button class="btn btn-primary margin-top-5 none-display" ng-click="PrintProductBarcode()">
            <i class="fa fa-print white"></i>
            <span>In mã vạch</span>
        </button>*@
        <button class="btn btn-default margin-top-5" ng-click="ClosePrintProductBarcode()">
            <i class="fa fa-arrow-left"></i>
            <span>Trở về</span>
        </button>
    </div>
</div>


<div class="row">
    <div class="col-md-8 form-group">
        <div class="row margin-top-10">
            <h4 class="primary-color">
                <i class="fa fa-info-circle margin-left-10"></i>                
                <span>Danh sách hàng hóa</span> - <span>Số lượng tem :</span> <span style="color:red"> {{NumItems}}</span>
            </h4>
            <div class="hr"></div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-12">
                <input id="txtSearchProductForPrintBarcode" ng-init="InitListAutoCompleteProducts('#txtSearchProductForPrintBarcode', false, RULES.ALLOW_PRICE_ZERO == 1, true,  RULES.ALLOW_COST_ZERO == 1)"
                       class="form-control" placeholder="Nhập mã hoặc tên hàng hóa"
                       check-custom="CheckNumOfProduct" check-custom-message="Vui lòng chọn hàng hóa cho đơn hàng."
                       check-under="check-order"/>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th><span>Mã hàng</span></th>
                                <th style="width: 30%"><span>Tên hàng hóa</span></th>
                                <th style="width: 20%"><span>SL tem </span><span style="color:red"> ({{NumItems}})</span></th>
                                <th style="width: 15%"><span>Giá bán</span></th>
                                <th ></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListProducts">
                                <td ng-bind="item.RowNum"></td>
                                <td ng-bind="item.ProductCode"> </td>
                                <td>
                                    <span ng-bind="item.ProductName"></span>
                                </td>
                                <td>
                                    <div class="col-md-7 padding-left-right-5">
                                        <input class="form-control text-right"  ng-model="item.Quantity" check-integer  min="1" max="200" ng-change="quantityChange(this,$event)" ng-focus="$event = $event"  />
                                    </div>
                                </td>
                                <td>
                                    <span ng-bind="item.Price | currency:'':0"></span>
                                </td>
                                <td >
                                    <a class="red margin-left-10" title="Xóa hàng hóa" ng-click="DeleteProduct(item)">
                                        <i class="fa-trash fa"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="ListProducts.length == 0">
                                @*Edit colspan*@
                                <td colspan="6" align="center"> Gõ mã hoặc tên hàng hóa vào hộp tìm kiếm để thêm hàng vào đơn hàng </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

    <div class="col-md-4 form-group">
        <div class="row margin-top-10">
            <h4 class="primary-color">
                <i class="fa  fa-cogs"></i>
                Thiết lập in mã vạch
            </h4>
            <div class="hr"></div>
        </div>
        
        <div class="row margin-top-10">
            <div class="col-md-4">
                <label class="control-label">Khổ in</label> 
            </div>
            <div class="col-md-8" >
                <div class="" style="padding-top: 0px;">
                    <div class="control-group"> 
                        <label style="padding-left: 0px; padding-right: 3px;">
                            <input name="rdPaperSize" type="radio" class="ace ng-pristine ng-valid" value="1" ng-model="ItemInfo.PrintSize">
                            <span class="lbl"> A4 -  65 tem </span>
                        </label> 
                    </div>
                    <div class="control-group"> 
                        <label style="padding-left: 0px; padding-right: 3px;">
                            <input name="rdPaperSize" type="radio" class="ace ng-pristine ng-valid" value="2" ng-model="ItemInfo.PrintSize">
                            <span class="lbl"> A4 - 100 tem </span>
                        </label>
                    </div>
                    <div class="control-group"> 
                        <label style="padding-left: 0px; padding-right: 3px;">
                            <input name="rdPaperSize" type="radio" class="ace ng-pristine ng-valid" value="3" ng-model="ItemInfo.PrintSize">
                            <span class="lbl"> A4 - 180 tem</span>
                        </label>
                    </div>

                    <div class="control-group"> 
                        <label style="padding-left: 0px; padding-right: 3px;">
                            <input name="rdPaperSize" type="radio" class="ace ng-pristine ng-valid" value="4" ng-model="ItemInfo.PrintSize">
                            <span class="lbl"> Decan nhiệt 1 tem</span>
                        </label>
                    </div>

                    <div class="control-group"> 
                        <label style="padding-left: 0px; padding-right: 3px;">
                            <input name="rdPaperSize" type="radio" class="ace ng-pristine ng-valid" value="5" ng-model="ItemInfo.PrintSize">
                            <span class="lbl"> Decan nhiệt 2 tem</span>
                        </label>
                    </div>
                </div>

            </div>
        </div>
       
        <div class="row margin-top-10">
            <h4 class="primary-color">
                <i class="fa fa-newspaper-o"></i>
                Mẫu tem
            </h4>
            <div class="hr"></div>
        </div>
        <div class="row margin-top-10">
            <div class="col-xs-4">
                <label class="control-label">Thông tin </label> 
            </div>
            <div class="col-xs-8">
                <div class="control-group"> 
                    <label style="padding-left: 0px; padding-right: 3px;">
                        <input name="rdItemInfo" type="radio" class="ace ng-pristine ng-valid" value="1" ng-model="ItemInfo.Option">
                        <span class="lbl"> Chỉ in mã</span>
                    </label>
                </div>
                <div class="control-group"> 
                    <label style="padding-left: 0px; padding-right: 3px;">
                        <input name="rdItemInfo" type="radio" class="ace ng-pristine ng-valid" value="2" ng-model="ItemInfo.Option">
                        <span class="lbl"> In mã và tên hàng hóa</span>
                    </label>
                </div>
                <div class="control-group"> 
                    <label style="padding-left: 0px; padding-right: 3px;">
                        <input name="rdItemInfo" type="radio" class="ace ng-pristine ng-valid" value="3" ng-model="ItemInfo.Option">
                        <span class="lbl"> In mã và giá bán</span>
                    </label>
                </div>
                <div class="control-group"> 
                    <label style="padding-left: 0px; padding-right: 3px;">
                        <input name="rdItemInfo" type="radio" class="ace ng-pristine ng-valid" value="4" ng-model="ItemInfo.Option">
                        <span class="lbl"> In thông tin đầy đủ</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row margin-top-10">
            <div class="col-xs-12">
                <label class="control-label">Xem trước</label>
                <div style="border:1px solid black; width:200px;">
                    <table width="100%" style="padding:1px">
                        <tr><td style="text-align:center">
                            <div> <span class="fa fa-barcode" style=" font-size: 64px;"></span></div>
                            <div style="margin-top:-15px"><span style="font-size:8px">SP000001</span></div>
                        </td></tr>
                        <tr ng-show="ItemInfo.IsShowPrice"><td style="text-align:center;font-weight:bold;font-size:10px"><span >400.000 vnđ</span></td></tr>
                        <tr ng-show="ItemInfo.IsShowProductName"><td style="text-align:center;;font-size:10px"><span >ÁO THUN CÁ XẤU XANH (SIZE M) </span></td></tr>
                    </table>
                </div>
            </div>
            
        </div>
        
        
    </div>
    
    
</div>

<div class="row">
    <div class="col-md-6 pull-right text-right">
       <button class="btn btn-primary margin-top-5" ng-click="DownloadProductBarcode()">
            <i class="fa fa-download white"></i>
            <span>Tải file PDF</span>
        </button>
        @*<button class="btn btn-primary margin-top-5 " ng-click="PrintProductBarcode()">
            <i class="fa fa-print white"></i>
            <span>In mã vạch</span>
        </button>*@
        <button class="btn btn-default margin-top-5" ng-click="ClosePrintProductBarcode()">
            <i class="fa fa-arrow-left"></i>
            <span>Trở về</span>
        </button>
    </div>
</div>

