<script type="text/javascript">
    $(document).ready(function () {
        $('#productGroupModal').on('show.bs.modal', function (e) {
            var modalId = $(this).attr("id");
            var scope = angular.element(document.getElementById(modalId)).scope();
            scope.$apply(function () {
                scope.SetShownProductGroupModal(true);
            });
        }).on('hide.bs.modal', function (e) {
            var modalId = $(this).attr("id");
            var scope = angular.element(document.getElementById(modalId)).scope();
            scope.$apply(function () {
                scope.SetShownProductGroupModal(false);
            });
        });
    });
</script>

<!-- Customer Modal -->
<div id="productGroupModal" class="modal fade " role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content" ng-if="IsShownProductGroupModal">
            <div class="modal-header infobox-primary white border-6">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title bold">Quản lý nhóm hàng </h4>
            </div>
            <div class="modal-body">
                <div style="padding: 1px 15px; border: 1px solid #C5D0DC">
                    <div class="row">
                        <div class="tabbable" style="padding-top: 10px">
                            <ul class="nav nav-tabs padding-left-18">
                                <li ng-click="SetCurrentTabProductGroup('tab-list-product-group')" ng-class="{'active' : (CurrentTabProductGroup == 'tab-list-product-group')}">
                                    <a data-toggle="tab">
                                        <i class="blue fa-list fa"></i>
                                        <span>Danh sách nhóm hàng</span>
                                    </a>
                                </li>
                                <li ng-click="SetCurrentTabProductGroup('tab-add-product-group')"
                                    ng-if="ProductGroupFormConfig._CanCreate"
                                    ng-class="{'active' : (CurrentTabProductGroup == 'tab-add-product-group')}">
                                    <a data-toggle="tab">
                                        <i class="blue fa-plus fa"></i>
                                        <span>Tạo mới nhóm hàng</span>
                                    </a>
                                </li>                                
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="tab-content no-border active">
                            <div class="tab-pane" ng-class="{'active' : (CurrentTabProductGroup == 'tab-list-product-group')}">
                                <div class="col-md-12 margin-top-10" ng-if="(CurrentTabProductGroup == 'tab-list-product-group')">
                                    <div class="table-responsive">
                                        <table grid-data="ProductGroups"
                                               grid-data-type="table" @*table/storedprocedure*@
                                               grid-data-action="get" @*get/getall*@
                                               grid-data-object="T_Master_ProductGroups" @*table name or stored procedure name*@
                                               grid-filter-condition="[IsActive] = 1 and [ParentStore] = {{ParentStore}}" @*must have [fieldname] for each colum field*@
                                               grid-sort-condition="[GroupName] ASC" @*must have [fieldname] for each colum field*@
                                               class="table table-striped table-bordered">
                                            <thead>
                                                <tr>
                                                    <th grid-defined-colum="ProductGroupId" class="none-display"></th>
                                                    <th grid-defined-colum="GroupName" style="width: 40%">
                                                        <span>Tên nhóm hàng</span>
                                                    </th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @*Dataset must have grid id*@
                                                <tr ng-repeat="item in DataSet.ProductGroups.Data">
                                                    <td>
                                                        <span ng-if="!item.IsEditing" ng-bind="item.GroupName"></span>
                                                        <input ng-if="item.IsEditing" class="form-control" ng-model="item.GroupName"
                                                               check-empty="" check-empty-message="Vui lòng nhập tên nhóm hàng."
                                                               check-length="200" check-length-message="Chiều dài tối đa là {0}."
                                                               check-under="PG{{item.ProductGroupId}}" />
                                                    </td>
                                                    <td>
                                                        <a class="blue margin-left-10" title="Cập nhật nhóm hàng"
                                                           ng-click="EditProductGroup(item)" ng-if="!item.IsEditing && item._CanUpdate">
                                                            <i class="fa-edit fa"></i>
                                                        </a>
                                                        <a class="red margin-left-10" title="Xóa nhóm hàng"
                                                           ng-click="DeleteProductGroup(item)" ng-if="!item.IsEditing && item._CanDelete">
                                                            <i class="fa-trash fa"></i>
                                                        </a>
                                                        <a class="blue margin-left-10" title="Lưu nhóm hàng"
                                                           ng-click="SaveProductGroup(item)" ng-if="item.IsEditing && item._CanUpdate">
                                                            <i class="fa-save fa"></i>
                                                        </a>

                                                        <a class="blue margin-left-10" title="Hủy chỉnh sửa"
                                                           ng-click="UndoProductGroup(item)" ng-if="item.IsEditing">
                                                            <i class="fa-undo fa"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr ng-if="!DataSet.ProductGroups.HasRecord()">
                                                    @*Edit colspan*@
                                                    <td colspan="2" align="center"> Không có dữ liệu! </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-8">
                                            <span grid-paging-for="ProductGroups"></span>
                                        </div>

                                        <div class="col-md-4">
                                            <span grid-page-size-for="ProductGroups"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane col-md-12" ng-class="{'active' : (CurrentTabProductGroup == 'tab-add-product-group') || (CurrentTabProductGroup == 'tab-add-parent-group')}">
                                <div ng-if="(CurrentTabProductGroup == 'tab-add-product-group')">
                                    <div class="row margin-top-10">
                                        <label class="col-md-4 control-label text-right">Tên nhóm hàng </label>
                                        <div class="col-md-8">
                                            <input class="form-control" ng-model="ProductGroupForm.GroupName"
                                                   placeholder="Nhập tên"
                                                   check-empty="" check-empty-message="Vui lòng nhập tên."
                                                   check-length="200" check-length-message="Chiều dài tối đa là {0}."
                                                   check-under="ProductGroup" />
                                        </div>
                                    </div>
                                    <div class="row padding-20 col-md-10 col-md-offset-4">
                                        <button type="button" class="btn btn-primary" ng-click="SaveProductGroupForm(false)">
                                            <i class="fa-check fa"></i>
                                            Lưu
                                        </button>
                                        <button type="button" class="btn btn-primary" ng-click="SaveProductGroupForm(true)">
                                            <i class="fa-save fa"></i>
                                            Lưu và tiếp tục
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    <i class="fa-undo fa"></i>
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>

