
<div class="row">
    <div class="form-group col-md-6">
        <h4 class="detail-title">Thông tin nhà cung cấp </h4>
    </div>
    <div class="col-md-3 pull-right" style="padding: 20px 0Px">

        <button class="btn btn-primary" ng-if="IsEditingSupplierDetail" ng-click="SaveSupplierDetail()">
            <i class="fa fa-save white"></i>
            <span>Lưu</span>
        </button>

        <button class="btn btn-primary" ng-if="!IsEditingSupplierDetail" ng-click="EditSupplierDetail()">
            <i class="fa fa-edit white"></i>
            <span>Sửa</span>
        </button>

        <button class="btn btn-default" ng-click="CloseSupplierDetail()">
            <i class="fa fa-arrow-left"></i>
            <span>Trở về</span>
        </button>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-6">
        <label class="col-sm-4 control-label ">Tên nhà cung cấp </label>
        <div class="col-sm-7">
            <span ng-if="!IsEditingSupplierDetail" ng-bind="SupplierForm.SupplierName"></span>
            <input class="form-control" ng-model="SupplierForm.SupplierName"
                   ng-if="IsEditingSupplierDetail"
                   check-empty="" check-empty-message="Vui lòng nhập tên nhà cung cấp."
                   check-length="300" check-length-message="Chiều dài tối ta là {0}." />

        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="col-sm-4 control-label ">Mã nhà cung cấp </label>
        <div class="col-sm-7">
            <span ng-bind="SupplierForm.SupplierCode"></span>
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label class="col-sm-4 control-label ">Số điện thoại </label>
        <div class="col-sm-7">
            <span ng-if="!IsEditingSupplierDetail" ng-bind="SupplierForm.Phone"></span>
            <input class="form-control" ng-model="SupplierForm.Phone || '(Chưa có)'" 
                   ng-if="IsEditingSupplierDetail"
                   check-length="50" check-length-message="Chiều dài tối ta là {0}." />
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="col-sm-4 control-label ">Email </label>
        <div class="col-sm-7">
            <span ng-if="!IsEditingSupplierDetail" ng-bind="SupplierForm.Email || '(Chưa có)'"></span>
            <input class="form-control" ng-model="SupplierForm.Email" 
                   ng-if="IsEditingSupplierDetail"
                   check-length="50" check-length-message="Chiều dài tối ta là {0}."
                   check-custom="CheckEmailValid" check-custom-message="Vui lòng nhập email hợp lệ." />
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label class="col-sm-4 control-label ">Địa chỉ </label>
        <div class="col-sm-7">
            <span ng-if="!IsEditingSupplierDetail" ng-bind="SupplierForm.Address || '(Chưa có)'"></span>
            <textarea class="form-control" ng-model="SupplierForm.Address" 
                   ng-if="IsEditingSupplierDetail"
                   check-length="500" check-length-message="Chiều dài tối ta là {0}." ></textarea>
        </div>
    </div>
    <div class="form-group col-md-6">
        <label class="col-sm-4 control-label ">Mã số thuế </label>
        <div class="col-sm-7">
            <span ng-if="!IsEditingSupplierDetail" ng-bind="SupplierForm.TaxCode || '(Chưa có)'"></span>
            <input class="form-control" ng-model="SupplierForm.TaxCode"
                   ng-if="IsEditingSupplierDetail"
                   check-length="50" check-length-message="Chiều dài tối ta là {0}." />
        </div>
    </div>
</div>
<div class="row">
    <div class="form-group col-md-6">
        <label class="col-sm-4 control-label ">Ghi chú </label>
        <div class="col-sm-7">
            <span ng-if="!IsEditingSupplierDetail" ng-bind="SupplierForm.Notes || '(Chưa có)'" ></span>
            <textarea class="form-control" ng-model="SupplierForm.Notes"
                   ng-if="IsEditingSupplierDetail"
                   check-length="500" check-length-message="Chiều dài tối ta là {0}."></textarea>
        </div>
    </div>
</div>

