<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
        <strong>HƯỚNG DẪN ĐĂNG KÝ&nbsp;PHẦN MỀM QUẢN LÝ BÁN HÀNG PHOLO:</strong>
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <strong>Bước 1:</strong> Nhập địa chỉ Email đăng ký<br>
            Để đăng ký sử dụng phần mềm quản lý bán hàng Suno, có rất nhiều cách, đơn giản nhất là truy cập vào <a href="https://auth.suno.vn/dang-ky/"><strong>link đăng ký</strong> </a>và nhập địa chỉ email:
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-01.jpg">
            <img class="aligncenter size-full wp-image-322" src="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-01.jpg" alt="dang-ky-va-dang-nhap-01" width="381" height="279"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc truy cập vào <strong>trang chủ Suno</strong> tại địa chỉ: https://suno.vn/, sau đó click vào phần DÙNG THỬ MIỄN PHÍ và điền email vào khung dưới đây để đăng ký sử dụng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_11.png">
            <img class="aligncenter wp-image-780 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_11.png" alt="" width="703" height="449"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_21.png">
            <img class="aligncenter size-full wp-image-781" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_21.png" alt="Screenshot_2" width="397" height="277"></a></p>
        <p>&nbsp;</p>
        <p>Sau khi nhập địa chỉ Email và chọn <strong>Bắt đầu đăng ký</strong>, Suno.vn sẽ hiển thị một bảng <strong>Thông tin cửa hàng.</strong></p>
        <p>Đồng thời nếu bạn truy cập vào Email, bạn sẽ nhận được một thư từ Suno kèm theo thông tin tài&nbsp;tài khoản để đăng nhập phần mềm:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_32.png">
            <img class="aligncenter size-full wp-image-783" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_32.png" alt="Screenshot_3" width="599" height="500"></a></p>
        <p>
            <strong>Bước 2:</strong> Khởi tạo cửa hàng<br>
            Sau khi&nbsp;<strong>Đăng ký</strong> và <strong>Đăng nhập</strong> thành công, phần mềm&nbsp;sẽ di chuyển đến khung <strong>Khởi tạo cửa hàng</strong>, tại đây ta nhập <strong>Thông tin cửa hàng</strong>&nbsp;để khởi tạo cửa hàng. Sau đó chọn <strong>Cập nhật và sử dụng</strong>.
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-05.png">
            <img class="aligncenter size-full wp-image-326" src="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-05.png" alt="dang-ky-va-dang-nhap-05" width="502" height="346"></a></p>
        <p>&nbsp;</p>
        <p>
            Sau khi đăng ký. Suno.vn sẽ hiển thị thông báo bạn đã khởi tạo cửa hàng thành công, tại đây có 2 lựa chọn:<br>
            <em><strong>Sử dụng dữ liệu mẫu:</strong></em> để khảo sát nhanh các tính năng của Suno bằng những dữ liệu do Suno cung cấp.<br>
            <em><strong>Bỏ qua:</strong></em> để quản lý cửa hàng ngay, bắt đầu nhập liệu sản phẩm cho cửa hàng và sử dụng phần mềm quản lý bán hàng Suno ngay lập tức.
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-06.jpg">
            <img class="aligncenter size-full wp-image-327" src="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-06.jpg" alt="dang-ky-va-dang-nhap-06" width="704" height="204"></a></p>
        <p>Chúc mừng bạn, đến đây thì ta đã đăng ký tài khoản thành công. Bạn có thể quản lý cửa hàng ngay tức thì.</p>
        <p>&nbsp;</p>
        <p>
            <strong>HƯỚNG DẪN ĐĂNG NHẬP PHẦN MỀM QUẢN LÝ BÁN HÀNG SUNO:</strong><br>
            Ta truy cập vào <strong><a href="https://auth.suno.vn/dang-nhap">link đăng nhập</a></strong> hoặc chọn&nbsp;đăng nhập tại trang chủ Suno:
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-07.png">
            <img class="aligncenter size-full wp-image-328" src="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-07.png" alt="dang-ky-va-dang-nhap-07" width="532" height="505"></a></p>
        <p>&nbsp;</p>
        <p>Nhập địa Email và mật khẩu đã khởi tạo, sau đó chọn <strong>Đăng nhập</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-08.png">
            <img class="aligncenter size-full wp-image-329" src="http://hotro.suno.vn/wp-content/uploads/2015/05/dang-ky-va-dang-nhap-08.png" alt="dang-ky-va-dang-nhap-08" width="420" height="355"></a></p>
        <p>&nbsp;</p>
        <p>Đây là giao diện tổng quan của phần mềm quản lý bán hàng Suno:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_4.png">
            <img class="aligncenter wp-image-789 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_4.png" alt="" width="973" height="658"></a></p>
        
    </div>
</article>
