<article class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Vào mục <b>Doanh số</b> để xem báo cáo doanh số.<br />
            Tại đây có các loại báo cáo doanh số sau:<br />
            - <b>Theo người bán</b><br />
            - <b>Theo cửa hàng</b><br />
            - <b>Theo tháng</b><br />
            - <b>Theo sản phẩm</b><br />
        </p>
        <p>&nbsp</p>

        <p><b>Theo người bán</b><br /></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/doanhso/doanhso_theonguoiban_chon.png")" alt="doanh-so-theo-nguoi-ban"  />
        </p>
        <p>&nbsp</p>

        <p><b>Theo cửa hàng</b><br /></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/doanhso/doanhso_theocuahang_chon.png")" alt="doanh-so-theo-cua-hang"  />
        </p>
        <p>&nbsp</p>

        <p><b>Theo tháng</b><br /></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/doanhso/doanhso_theothang_chon.png")" alt="doanh-so-theo-thang"  />
        </p>
        <p>&nbsp</p>

        <p><b>Theo sản phẩm</b><br /></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/doanhso/doanhso_theosanpham_chon.png")" alt="doanh-so-theo-san-pham"  />
        </p>
    </div>
</article>


