<<<<<<< HEAD
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để quản lý doanh số, ta chọn <strong>Doanh số:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_114.png">
            <img class="aligncenter wp-image-903 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_114-1024x434.png" alt="" width="980" height="415"></a></p>
        <p>&nbsp;</p>
        <p>Có thể quản lý theo người bán hoặc theo cửa hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_28.png">
            <img class="aligncenter wp-image-905 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_28.png" alt="" width="485" height="52"></a></p>
        <p>&nbsp;</p>
        <p>Chọn tên người bán để xem các đơn hàng của họ:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_311.png">
            <img class="aligncenter wp-image-906 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_311-1024x326.png" alt="" width="980" height="312"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc chọn báo cáo doanh số Theo cửa hàng, chọn tên cửa hàng để xem tình hình kinh doanh tại cửa hàng đó:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_48.png">
            <img class="aligncenter wp-image-907 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_48-1024x500.png" alt="" width="980" height="479"></a></p>
        <p>Ngoài ra còn có thể quản lý theo loại khách hàng (nếu cửa hàng có áp dụng cho từng loại khách hàng):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_218.png">
            <img class="aligncenter size-large wp-image-1055" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_218-1024x513.png" alt="Screenshot_2" width="980" height="491"></a></p>
        <p>Để lưu thành file Excel, ta chọn Xuất Excel:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-doanh-so-05.png">
            <img class="aligncenter size-full wp-image-251" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-doanh-so-05.png" alt="quan-ly-doanh-so-05" width="544" height="63"></a></p>
        
    </div>
</article>


=======
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để quản lý doanh số, ta chọn <strong>Doanh số:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_114.png">
            <img class="aligncenter wp-image-903 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_114-1024x434.png" alt="" width="980" height="415"></a></p>
        <p>&nbsp;</p>
        <p>Có thể quản lý theo người bán hoặc theo cửa hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_28.png">
            <img class="aligncenter wp-image-905 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_28.png" alt="" width="485" height="52"></a></p>
        <p>&nbsp;</p>
        <p>Chọn tên người bán để xem các đơn hàng của họ:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_311.png">
            <img class="aligncenter wp-image-906 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_311-1024x326.png" alt="" width="980" height="312"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc chọn báo cáo doanh số Theo cửa hàng, chọn tên cửa hàng để xem tình hình kinh doanh tại cửa hàng đó:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_48.png">
            <img class="aligncenter wp-image-907 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_48-1024x500.png" alt="" width="980" height="479"></a></p>
        <p>Ngoài ra còn có thể quản lý theo loại khách hàng (nếu cửa hàng có áp dụng cho từng loại khách hàng):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_218.png">
            <img class="aligncenter size-large wp-image-1055" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_218-1024x513.png" alt="Screenshot_2" width="980" height="491"></a></p>
        <p>Để lưu thành file Excel, ta chọn Xuất Excel:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-doanh-so-05.png">
            <img class="aligncenter size-full wp-image-251" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-doanh-so-05.png" alt="quan-ly-doanh-so-05" width="544" height="63"></a></p>
        
    </div>
</article>


>>>>>>> origin/master
