<article class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/doanhso/doanhso_theonguoiban_chon.png")" alt="doanh-so-theo-nguoi-ban"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/doanhso/doanhso_theocuahang_chon.png")" alt="doanh-so-theo-cua-hang"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/doanhso/doanhso_theothang_chon.png")" alt="doanh-so-theo-thang"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/doanhso/doanhso_theosanpham_chon.png")" alt="doanh-so-theo-san-pham"  />
        </p>
    </div>
</article>


