<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để quản lý đơn hàng vào mục <b>Đơn hàng</b> như hình sau :
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/donhang_chon.png")" alt="don-hang-chon"  />
        </p>
        <p>&nbsp</p>

        <p>
            <b>Tìm kiếm đơn hàng</b><br />
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/donhang_quanly.png")" alt="quan-ly-don-hang"  />
        </p>
        <p>
            Tìm kiếm theo mã đơn hàng hoặc mã/tên/SĐT của khách hàng <br />
            Hoặc lọc đơn hàng nhanh theo các lựa chọn có sẵn : <br />
            - Lọc theo <b>đơn hàng đã xóa/ còn nợ</b><br />
            - Lọc theo <b>thời gian</b><br />
        </p>
        <p>&nbsp</p>

        <p>
            <b>In hóa đơn bán hàng</b><br />
            Để in hóa đơn bán hàng, nhấn vào biểu tượng <i class="fa fa-print"></i> <br/>
            Ví dụ một hóa đơn như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/donhang_hoadonbanhang.png")" alt="hoa-don-ban-hang"  />
        </p>
        
    </div>
</article>

