<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/donhang_chon.png")" alt="don-hang-chon"  />
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/donhang_quanly.png")" alt="quan-ly-don-hang"  />
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/donhang_hoadonbanhang.png")" alt="hoa-don-ban-hang"  />
        </p>
        
    </div>
</article>

