<article class="clearfix ">
    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
         <p>
            Trong trang quản lý đơn hàng, nhấn vào nút <b>Bán hàng</b> để tạo đơn hàng mới mới như hình sau: 
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/donhang_them_chon.png")" alt="don-hang-them"  />
        </p>
        <p>&nbsp</p>

        <p>
            <b>1. Thông tin của đơn hàng</b>
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/donhang_them_hanghoa.png")" alt="don-hang-them_hang-hoa"  />
        </p>
        <p>
            Mục bên trái là danh sách các hàng hóa trong đơn hàng. 
            Có thể thêm hàng hóa bằng cách tìm kiếm bằng mã/tên hàng hóa rồi chọn để thêm như hình trên.
            <br />
            Mục bên phải là thông tin về đơn hàng và thông tin thanh toán<br />
            <br />

            <b>Thông tin đơn hàng</b><br />
            - <b>Mã phiếu</b> :  mã của đơn hàng<br />
            - <b>Khách hàng</b> :  khách mua hàng. Có thể để trống hoặc chọn khách hàng đã có. Nếu là khách hàng mới thì nhấn vào nút bên cạnh để thêm.<br />
            - <b>Ngày bán</b> : thời điểm bán hàng <br />
            - <b>Người bán</b> :  người đang đang nhập để bán hàng<br />
            - <b>Ghi chú</b> :  ghi chú của đơn hàng<br />
            <br />

            <b>Thông tin thanh toán</b><br />
            - <b>Hình thức</b> : Hình thức thanh toán <b>Tiền mặt/Chuyển khoản/Thẻ</b> <br />
            - <b>Tiền hàng</b> : Tổng tiền của các hàng hóa<br />
            - <b>Giảm giá</b> : Giảm giá nếu có trong chương trình khuyến mãi<br />
            - <b>Tổng cộng</b> :  Tổng giá tiền sau khi đã giảm giá<br />
            - <b>Thanh toán</b> :  Tiền mà khách hàng thanh toán<br />
        </p>

        <p>
            <b>2. Lưu kết quả</b>
        </p>
        <p>
            <b>Lưu tạm</b> : Lưu tạm kết quả, chưa trừ đi hàng hóa trong kho <br />
            <b>Lưu </b> : Lưu đơn hàng<br />
            <b>Lưu và in ấn</b> : Lưu đơn hàng sau đó hiển thị chức năng in đơn hàng giống trong mục quản lý đơn hàng <br />
        </p>
    </div>
</article>

