<<<<<<< HEAD
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p><strong>Để xem lại đơn hàng, ta nhập mã hóa đơn, họ tên, sđt khách hàng hoặc nhà cung cấp để tìm kiếm:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_36.png">
            <img class="aligncenter wp-image-851 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_36-1024x385.png" alt="" width="980" height="368"></a></p>
        <p>&nbsp;</p>
        <p>Có thể tìm kiếm theo&nbsp;<strong>đơn hàng đã xóa,</strong>&nbsp;<strong>đơn hàng còn nợ </strong>hoặc<strong> đơn hàng xuất trả NCC</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_44.png">
            <img class="aligncenter wp-image-853 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_44-1024x338.png" alt="" width="980" height="323"></a></p>
        <p>&nbsp;</p>
        <p>Ngoài ra Suno.vn còn cho phép bạn tìm kiếm đơn hàng theo một khoảng thời gian cụ thể hoặc tìm kiếm theo Tuần, Tháng, Quí:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-don-hang-02.png">
            <img class="aligncenter size-full wp-image-92" src="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-don-hang-02.png" alt="xem-lai-don-hang-02" width="572" height="313"></a></p>
        <p>&nbsp;</p>
        <p>Tuần trước, Tháng trước, Quý trước:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-don-hang-08.png">
            <img class="aligncenter size-full wp-image-97" src="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-don-hang-08.png" alt="xem-lai-don-hang-08" width="463" height="169"></a></p>
        <p>&nbsp;</p>
        <p>Nếu shop có nhiều cửa hàng, ta có thể tìm kiếm theo cửa hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_53.png">
            <img class="aligncenter wp-image-854 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_53-1024x301.png" alt="" width="980" height="288"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc tìm kiếm theo tên nhân viên Thu ngân:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_63.png">
            <img class="aligncenter wp-image-855 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_63-1024x334.png" alt="" width="980" height="320"></a></p>
        <p>Ngoài ra tại giao diện Đơn hàng, bạn có thể chọn hiển thị theo Tất cả (bao gồm đơn hàng POS và đơn Đặt hàng), POS hoặc Đặt hàng.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_71.png">
            <img class="aligncenter size-full wp-image-856" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_71.png" alt="Screenshot_7" width="938" height="415"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_8.png">
                <img class="aligncenter size-large wp-image-857" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_8.png" alt="Screenshot_8" width="971" height="332"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_9.png">
                    <img class="aligncenter size-large wp-image-858" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_9-1024x335.png" alt="Screenshot_9" width="980" height="321"></a></p>
        <p>Sau khi đã tìm kiếm được đơn hàng cần kiểm tra, ta chọn mã đơn hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_10.png">
            <img class="aligncenter wp-image-859 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_10-1024x301.png" alt="" width="980" height="288"></a></p>
        <p>Đây là giao diện tổng quan của Đơn Hàng</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_111.png">
            <img class="aligncenter wp-image-860 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_111-1024x549.png" alt="" width="980" height="525"></a></p>
        
    </div>
</article>

=======
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p><strong>Để xem lại đơn hàng, ta nhập mã hóa đơn, họ tên, sđt khách hàng hoặc nhà cung cấp để tìm kiếm:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_36.png">
            <img class="aligncenter wp-image-851 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_36-1024x385.png" alt="" width="980" height="368"></a></p>
        <p>&nbsp;</p>
        <p>Có thể tìm kiếm theo&nbsp;<strong>đơn hàng đã xóa,</strong>&nbsp;<strong>đơn hàng còn nợ </strong>hoặc<strong> đơn hàng xuất trả NCC</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_44.png">
            <img class="aligncenter wp-image-853 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_44-1024x338.png" alt="" width="980" height="323"></a></p>
        <p>&nbsp;</p>
        <p>Ngoài ra Suno.vn còn cho phép bạn tìm kiếm đơn hàng theo một khoảng thời gian cụ thể hoặc tìm kiếm theo Tuần, Tháng, Quí:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-don-hang-02.png">
            <img class="aligncenter size-full wp-image-92" src="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-don-hang-02.png" alt="xem-lai-don-hang-02" width="572" height="313"></a></p>
        <p>&nbsp;</p>
        <p>Tuần trước, Tháng trước, Quý trước:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-don-hang-08.png">
            <img class="aligncenter size-full wp-image-97" src="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-don-hang-08.png" alt="xem-lai-don-hang-08" width="463" height="169"></a></p>
        <p>&nbsp;</p>
        <p>Nếu shop có nhiều cửa hàng, ta có thể tìm kiếm theo cửa hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_53.png">
            <img class="aligncenter wp-image-854 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_53-1024x301.png" alt="" width="980" height="288"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc tìm kiếm theo tên nhân viên Thu ngân:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_63.png">
            <img class="aligncenter wp-image-855 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_63-1024x334.png" alt="" width="980" height="320"></a></p>
        <p>Ngoài ra tại giao diện Đơn hàng, bạn có thể chọn hiển thị theo Tất cả (bao gồm đơn hàng POS và đơn Đặt hàng), POS hoặc Đặt hàng.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_71.png">
            <img class="aligncenter size-full wp-image-856" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_71.png" alt="Screenshot_7" width="938" height="415"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_8.png">
                <img class="aligncenter size-large wp-image-857" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_8.png" alt="Screenshot_8" width="971" height="332"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_9.png">
                    <img class="aligncenter size-large wp-image-858" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_9-1024x335.png" alt="Screenshot_9" width="980" height="321"></a></p>
        <p>Sau khi đã tìm kiếm được đơn hàng cần kiểm tra, ta chọn mã đơn hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_10.png">
            <img class="aligncenter wp-image-859 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_10-1024x301.png" alt="" width="980" height="288"></a></p>
        <p>Đây là giao diện tổng quan của Đơn Hàng</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_111.png">
            <img class="aligncenter wp-image-860 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_111-1024x549.png" alt="" width="980" height="525"></a></p>
        
    </div>
</article>

>>>>>>> origin/master
