<<<<<<< HEAD
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <h3>1. Thiết lập bán hàng offline:</h3>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-01.png">
                <img class="alignnone size-full wp-image-683" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-01.png" alt="offline-01" width="1373" height="547"></a><br>
            Hình 1: thiết lập bán hàng offline
        </p>
        <p>
            • Bước 1: vào menu thiết lập -&gt; bật chạy POS Offline<br>
            • Bước 2: Lưu thiết lập<br>
            • Bước 3: Logout và Login lại vào hệ thống<br>
            • Bước 4: Bật màn hình Pos-bán hàng
        </p>
        <h3>2. Trạng thái online/offline:</h3>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-04.png">
                <img class="alignnone size-full wp-image-686" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-04.png" alt="offline-04" width="839" height="316"></a><br>
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-05.png">
                <img class=" size-full wp-image-687 aligncenter" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-05.png" alt="offline-05" width="132" height="44"></a><br>
            Hình 2,3: Thông báo khi kết nối mạng ổn định
        </p>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-02.png">
                <img class="alignnone size-full wp-image-684" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-02.png" alt="offline-02" width="835" height="297"></a><br>
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-03.png">
                <img class=" size-full wp-image-685 aligncenter" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-03.png" alt="offline-03" width="157" height="52"></a><br>
            Hình 4,5: Thông báo khi không có kết nối internet
        </p>
        <h3>3. Bán và lưu đơn hàng offline:</h3>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-06.png">
                <img class="alignnone size-full wp-image-688" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-06.png" alt="offline-06" width="1422" height="791"></a><br>
            Hình 6: Màn hình bán hàng
        </p>
        <p>
            Bước 1: Chọn hàng hoá cần bán đưa vào hoá đơn<br>
            Bước 2: Lưu hoá đơn<br>
            Bước 3: Thông báo lưu thành công đơn hàng vào trạng thái offline
        </p>
        <h3>4. Đồng bộ đơn hàng offline:</h3>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-07.png">
                <img class="alignnone size-full wp-image-689" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-07.png" alt="offline-07" width="1070" height="551"></a><br>
            Hình 7: Giao diện đồng bộ
        </p>
        <p>
            Bước 1: Nhấp vào nút đồng bộ<br>
            Bước 2: Chọn đồng bộ từng đơn hàng hoặc đồng bộ tất cả<br>
            Bước 3: Đóng giao diện đồng bộ<br>
            **Điều kiện: khi đồng bộ đơn hàng, máy tính phải có kết nối internet ổn định
        </p>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-08.png">
                <img class="alignnone size-full wp-image-690" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-08.png" alt="offline-08" width="1029" height="475"></a><br>
            Hình 8: Đồng bộ đơn hàng thành công
        </p>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-09.png">
                <img class="alignnone size-full wp-image-691" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-09.png" alt="offline-09" width="1008" height="482"></a><br>
            Hình 9: Thông báo lỗi khi đồng bộ không có internet
        </p>
    </div>
</article>

=======
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <h3>1. Thiết lập bán hàng offline:</h3>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-01.png">
                <img class="alignnone size-full wp-image-683" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-01.png" alt="offline-01" width="1373" height="547"></a><br>
            Hình 1: thiết lập bán hàng offline
        </p>
        <p>
            • Bước 1: vào menu thiết lập -&gt; bật chạy POS Offline<br>
            • Bước 2: Lưu thiết lập<br>
            • Bước 3: Logout và Login lại vào hệ thống<br>
            • Bước 4: Bật màn hình Pos-bán hàng
        </p>
        <h3>2. Trạng thái online/offline:</h3>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-04.png">
                <img class="alignnone size-full wp-image-686" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-04.png" alt="offline-04" width="839" height="316"></a><br>
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-05.png">
                <img class=" size-full wp-image-687 aligncenter" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-05.png" alt="offline-05" width="132" height="44"></a><br>
            Hình 2,3: Thông báo khi kết nối mạng ổn định
        </p>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-02.png">
                <img class="alignnone size-full wp-image-684" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-02.png" alt="offline-02" width="835" height="297"></a><br>
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-03.png">
                <img class=" size-full wp-image-685 aligncenter" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-03.png" alt="offline-03" width="157" height="52"></a><br>
            Hình 4,5: Thông báo khi không có kết nối internet
        </p>
        <h3>3. Bán và lưu đơn hàng offline:</h3>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-06.png">
                <img class="alignnone size-full wp-image-688" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-06.png" alt="offline-06" width="1422" height="791"></a><br>
            Hình 6: Màn hình bán hàng
        </p>
        <p>
            Bước 1: Chọn hàng hoá cần bán đưa vào hoá đơn<br>
            Bước 2: Lưu hoá đơn<br>
            Bước 3: Thông báo lưu thành công đơn hàng vào trạng thái offline
        </p>
        <h3>4. Đồng bộ đơn hàng offline:</h3>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-07.png">
                <img class="alignnone size-full wp-image-689" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-07.png" alt="offline-07" width="1070" height="551"></a><br>
            Hình 7: Giao diện đồng bộ
        </p>
        <p>
            Bước 1: Nhấp vào nút đồng bộ<br>
            Bước 2: Chọn đồng bộ từng đơn hàng hoặc đồng bộ tất cả<br>
            Bước 3: Đóng giao diện đồng bộ<br>
            **Điều kiện: khi đồng bộ đơn hàng, máy tính phải có kết nối internet ổn định
        </p>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-08.png">
                <img class="alignnone size-full wp-image-690" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-08.png" alt="offline-08" width="1029" height="475"></a><br>
            Hình 8: Đồng bộ đơn hàng thành công
        </p>
        <p style="text-align: center;">
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-09.png">
                <img class="alignnone size-full wp-image-691" src="http://hotro.suno.vn/wp-content/uploads/2016/04/offline-09.png" alt="offline-09" width="1008" height="482"></a><br>
            Hình 9: Thông báo lỗi khi đồng bộ không có internet
        </p>
    </div>
</article>

>>>>>>> origin/master
