<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để tạo một đơn bán hàng mới, ta vào phần <strong>Đơn hàng</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Don-hang.png">
            <img class="aligncenter wp-image-847 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Don-hang.png" alt="" width="963" height="417"></a></p>
        <p>Sau đó chọn <b>Bán hàng</b></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_25.png">
            <img class="aligncenter size-large wp-image-849" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_25-1024x335.png" alt="Screenshot_2" width="980" height="321"></a></p>
        <p>Nhập tên hoặc mã Barcode để thêm sản phẩm vào đơn hàng.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-03.png">
            <img class="aligncenter wp-image-69 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-03.png" alt="Tao-don-hang-03" width="755" height="232"></a></p>
        <p><strong>Lưu ý:</strong> Tại bước này ta chỉ cần gõ tên hoặc mã sản phẩm, có thể gõ tối thiểu 2 ký tự đầu, hệ thống sẽ tự động liệt kê cho ta lựa chọn. Chọn sản phẩm bằng nhấp chuột hoặc nút lên xuống trên bàn phím, sau đó gõ Enter:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-04.png">
            <img class=" wp-image-70 size-full aligncenter" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-04.png" alt="Tao-don-hang-04" width="756" height="382"></a></p>
        <p><strong>Giảm giá đơn hàng (nếu có) bằng 2 cách:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-05.png">
            <img class="aligncenter wp-image-71 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-05.png" alt="Tao-don-hang-05" width="1142" height="566"></a></p>
        <ol>
            <li>Giảm giá trên sản phẩm.</li>
            <li>Giảm giá trên toàn bộ đơn hàng.</li>
        </ol>
        <p><strong>Nhập Thông tin hóa đơn:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-06.png">
            <img class="aligncenter size-full wp-image-72" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-06.png" alt="Tao-don-hang-06" width="366" height="309"></a></p>
        <p>
            <strong>Trong đó</strong><br>
            <strong>Mã phiếu:</strong> do hệ thống tự tạo.<br>
            <strong>Khách hàng:</strong> nếu khách đã từng mua hàng ở shop, ta chỉ cần nhập tên, số điện thoại hoặc địa chỉ khách hàng, hệ thống sẽ tự động thêm vào. Nếu là khách hàng mới thì ta tạo mới, điền đầy đủ thông tin và chọn <strong>Lưu</strong> để lưu vào hệ thống.
        </p>
        <p>
            <strong>Ngày bán:</strong> nếu đã bán được sản phẩm trước khi tạo đơn hàng, tại bước này có thể tùy chỉnh thời gian để khớp với thời điểm bán hàng.<br>
            <strong>Người bán:</strong> có thể lựa chọn người bán trong danh sách các nhân viên, quản lý, chủ cửa hàng đã tạo.<br>
            <strong>Ghi chú:&nbsp;</strong>những chú thích của đơn hàng.
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-07.png">
            <img class="aligncenter size-full wp-image-73" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-07.png" alt="Tao-don-hang-07" width="1059" height="450"></a></p>
        <p>&nbsp;</p>
        <p><strong>Sau đó nhập thông tin thanh toán:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-08.png">
            <img class="aligncenter size-full wp-image-74" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Tao-don-hang-08.png" alt="Tao-don-hang-08" width="374" height="391"></a></p>
        <p>
            <strong>Bao gồm:</strong><br>
            <strong>Hình thức:</strong> thanh toán bằng tiền mặt, chuyển khoản, thẻ.<br>
            <strong>Tiền hàng:</strong> Hệ thống đã tính.<br>
            <strong>Giảm giá:</strong> tại đây ta có thể linh động giảm theo phần trăm giá trị món hàng hoặc giảm một số tiền cụ thể.<br>
            <strong>Tổng cộng:</strong> Hệ thống đã tính.<br>
            <strong>Đã thanh toán:</strong> số tiền khách hàng đã thanh toán cho món hàng.<br>
            <strong>Còn nợ:</strong> số nợ còn lại.<br>
            <strong>Sau đó ta có 4 lựa chọn:</strong><br>
            <strong>Lưu tạm:</strong> chỉ lưu bản nháp, không được xem là một đơn hàng.<br>
            <strong>Lưu:</strong> sau khi lưu, hệ thống tự động cập nhật thêm một đơn hàng.<br>
            <strong>Lưu và in</strong><br>
            <strong>Hủy:</strong> hủy đơn hàng.
        </p>
    </div>
</article>

