<article class="clearfix ">
    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Đây là trang bán hàng dành cho nhân viên tại các quầy bán hàng (POS).<br />
            Khi nhân viên bán hàng đăng nhập thì sẽ tự động chuyển đến trang <b>POS bán hàng</b>. 
            Còn người quản lý muốn vào thì nhấn vào nút <b>POS- Bán hàng</b> như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/pos_chon.png")" alt="chon-pos-ban-hang"  />
        </p>
        <p>&nbsp</p>

        <p>
            Giao diện trang bán hàng như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/pos.png")" alt="pos-ban-hang"  />
        </p>
        <p>
            Mục bên trái là thông tin các hàng hóa có trong cửa hàng. Với các bộ lọc nhanh :<br />
            - Lọc theo <b>nhóm hàng hóa</b><br />
            - <b>Hàng mới</b> : hàng hóa mới nhập kho<br />
            - <b>Hàng bán chạy</b>: hàng hóa đang bán chạy tại cửa hàng<br />
            <br />
            Mục bên phải gồm có : Danh sách các hàng hóa được chọn, Thông tin thanh toán, Thông tin hóa đơn<br />

        </p>
        <p>&nbsp</p>

        <p>
            <b>Danh sách hàng hóa</b>
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/donhang/pos_chonhanghoa.png")" alt="pos-them-hanghoa"  />
        </p>
        <p>
            Có thể thêm hàng hóa vào danh sách hàng hóa bằng 2 cách:<br />
            1. Nhấn chọn hàng hóa từ mục bên trái<br/>
            2. Tìm kiếm hàng hóa hàng mã/tên và chọn như hình trên.<br />
        </p>
        <p>&nbsp</p>

        <p>
            <b>Thông tin thanh toán</b><br />
            - <b>Hình thức</b> : Hình thức thanh toán <b>Tiền mặt/Chuyển khoản/Thẻ</b> <br />
            - <b>Tiền hàng</b> : Tổng tiền của các hàng hóa<br />
            - <b>Giảm giá</b> : Giảm giá nếu có trong chương trình khuyến mãi<br />
            - <b>Tổng cộng</b> :  Tổng giá tiền sau khi đã giảm giá<br />
            - <b>Khách trả</b> :  Tiền mà khách hàng thanh toán<br />
        </p>
        <p>&nbsp</p>

        <p>
            <b>Thông tin hóa đơn</b><br />
            - <b>Khách hàng</b> :  khách mua hàng. Có thể để trống hoặc chọn khách hàng đã có. Nếu là khách hàng mới thì nhấn vào nút bên cạnh để thêm.<br />
            - <b>Ghi chú</b> :  ghi chú của đơn hàng<br />
        </p>

    </div>
</article>

