<<<<<<< HEAD
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-02.png">
                <br>
            </a>Chọn menu <strong>Hàng hóa</strong>, sẽ xuất hiện trang tổng quan quản lý sản phẩm<br>
            <strong>1/ Xóa hàng hóa:</strong>
        </p>
        <p>
            <img class="aligncenter size-full wp-image-156" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-02.png" alt="quan-ly-hang-hoa-02" width="974" height="124"></p>
        <p><strong>Lưu ý:</strong> Hàng hóa chỉ xóa được nếu chưa có giao dịch, nếu đã có giao dịch như bán hàng, nhập kho, chuyển kho, kiểm kê thì hàng hóa sẽ không được phép xóa khỏi hệ thống. Cần xóa các giao dịch liên quan trước khi xóa hàng hóa.</p>
        <p><strong>2/Ngừng kinh doanh hàng hóa:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-03.png">
            <img class="aligncenter size-full wp-image-157" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-03.png" alt="quan-ly-hang-hoa-03" width="1011" height="123"></a></p>
        <p><strong>Lưu ý:</strong> Nên kiểm tra và thanh lý tồn kho trước khi ngừng kinh doanh hàng hóa. Sau khi ngừng kinh doanh, hàng hóa sẽ không tiếp tục các giao dịch được mà chỉ lưu ở tồn kho ở dạng lịch sử các giao dịch đã có trước đây.</p>
        <p><strong>3/ Copy hàng hóa:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-04.png">
            <img class="aligncenter size-full wp-image-158" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-04.png" alt="quan-ly-hang-hoa-04" width="1109" height="72"></a></p>
        <p>&nbsp;</p>
        <p><strong>4/ Upload hình ảnh hàng hóa:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-05.png">
            <img class="aligncenter size-full wp-image-159" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-05.png" alt="quan-ly-hang-hoa-05" width="1124" height="35"></a></p>
        <p>&nbsp;</p>
        <p><strong>5/ Xem thẻ kho:</strong> lịch sử giao dịch của hàng hóa</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-06.png">
            <img class="aligncenter size-full wp-image-160" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-06.png" alt="quan-ly-hang-hoa-06" width="1122" height="41"></a></p>
        <p>&nbsp;</p>
        <p>6/ Ngoài ra ta có thể xem các hàng hóa cùng loại bằng cách chọn dòng sau:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-07.png">
            <img class="aligncenter size-full wp-image-161" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-07.png" alt="quan-ly-hang-hoa-07" width="1129" height="328"></a></p>
        
    </div>
</article>

=======
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-02.png">
                <br>
            </a>Chọn menu <strong>Hàng hóa</strong>, sẽ xuất hiện trang tổng quan quản lý sản phẩm<br>
            <strong>1/ Xóa hàng hóa:</strong>
        </p>
        <p>
            <img class="aligncenter size-full wp-image-156" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-02.png" alt="quan-ly-hang-hoa-02" width="974" height="124"></p>
        <p><strong>Lưu ý:</strong> Hàng hóa chỉ xóa được nếu chưa có giao dịch, nếu đã có giao dịch như bán hàng, nhập kho, chuyển kho, kiểm kê thì hàng hóa sẽ không được phép xóa khỏi hệ thống. Cần xóa các giao dịch liên quan trước khi xóa hàng hóa.</p>
        <p><strong>2/Ngừng kinh doanh hàng hóa:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-03.png">
            <img class="aligncenter size-full wp-image-157" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-03.png" alt="quan-ly-hang-hoa-03" width="1011" height="123"></a></p>
        <p><strong>Lưu ý:</strong> Nên kiểm tra và thanh lý tồn kho trước khi ngừng kinh doanh hàng hóa. Sau khi ngừng kinh doanh, hàng hóa sẽ không tiếp tục các giao dịch được mà chỉ lưu ở tồn kho ở dạng lịch sử các giao dịch đã có trước đây.</p>
        <p><strong>3/ Copy hàng hóa:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-04.png">
            <img class="aligncenter size-full wp-image-158" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-04.png" alt="quan-ly-hang-hoa-04" width="1109" height="72"></a></p>
        <p>&nbsp;</p>
        <p><strong>4/ Upload hình ảnh hàng hóa:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-05.png">
            <img class="aligncenter size-full wp-image-159" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-05.png" alt="quan-ly-hang-hoa-05" width="1124" height="35"></a></p>
        <p>&nbsp;</p>
        <p><strong>5/ Xem thẻ kho:</strong> lịch sử giao dịch của hàng hóa</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-06.png">
            <img class="aligncenter size-full wp-image-160" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-06.png" alt="quan-ly-hang-hoa-06" width="1122" height="41"></a></p>
        <p>&nbsp;</p>
        <p>6/ Ngoài ra ta có thể xem các hàng hóa cùng loại bằng cách chọn dòng sau:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-07.png">
            <img class="aligncenter size-full wp-image-161" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-hang-hoa-07.png" alt="quan-ly-hang-hoa-07" width="1129" height="328"></a></p>
        
    </div>
</article>

>>>>>>> origin/master
