<article  class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để quản lý combo vào mục <b>Hàng hóa</b>  trong mục này sẽ có 2 mục con là <b>Hàng hóa</b> và <b>Combo</b>. 
            Chọn mục con <b>Combo</b> để vào trang quản lý combo. <br />
            Combo cũng được xem như một hàng hóa cụ thể, nó chỉ khác là được tạo thành từ các hàng hóa khác. 
            Thường thì một combo sẽ gồm các hàng hóa hay đi kèm với nhau và giá của nó sẽ rẻ hơn khi mua từng hàng hóa riêng lẻ.
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_quanly.png")" alt="quan-ly-combo"  />
        </p>
        <p>
            Cách thức quản lý combo cũng tương tự như cách thức quản lý hàng hóa, có thể tham khảo tại <a href="@Url.Action("Document","Home")?page=quan-ly-hang-hoa">đây</a>.
        </p>
        <p>&nbsp</p>
        
        <p>
            <b>Xem các hàng hóa có trong combo</b><br />
            Nhấn vào ký hiệu <span class="badge badge-primary"><i class="fa-plus fa "></i></span> để xem thông tin các hàng hóa có trong một combo : <br/>
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_quanly_xemhanghoa_chon.png")" alt=""  />
        </p>
        <p>&nbsp</p>
        <p>
            Thông tin các hàng hóa có trong combo :
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_quanly_xemhanghoa.png")" alt=""  />
        </p>
    </div>
</article>

