<article  class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
        Đăng ký
    </header>
    <!-- /.entry-header -->

     <div class="entry-content">

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_them_chon.png")" alt="chon-them-combo"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_them.png")" alt="nhap-lieu-them-combo"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_them_hanghoa.png")" alt="them-hang-hoa-trong-combo"  />
        </p>

          <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_them_danhap.png")" alt="da-nhap-lieu-them-combo"  />
        </p>
    </div>
</article>

