<article  class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p><strong>Bước 1:</strong>&nbsp;Để thêm hàng hóa, ta chọn <strong>Hàng hóa</strong> sau đó chọn <strong>Thêm hàng hóa</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_5.png">
            <img class="aligncenter wp-image-791 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_5-1024x429.png" alt="" width="980" height="411"></a></p>
        <p>&nbsp;</p>
        <p><strong>Bước 2:</strong> Nhập thông tin cơ bản</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-01.png">
            <img class="aligncenter size-full wp-image-100" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-01.png" alt="them-hang-hoa-01" width="1142" height="467"></a></p>
        <p>
            <strong>Tên hàng hóa:</strong> tên sản phẩm<br>
            <strong>Số lượng:</strong> Là tồn kho hiện tại của hàng hóa.<br>
            <strong>• Theo dõi tồn kho:</strong> Nếu không chọn, hàng hóa sẽ không theo dõi số lượng. Thường dùng cho các hàng hóa có tính chất dịch vụ, thuê bao. <strong>Ví dụ:</strong> dịch vụ vận chuyển…<br>
            <strong>• Cho phép bán âm:</strong> Cho phép hàng hóa vẫn được bán khi số lượng tồn khô hệ thống nhỏ hơn 0. <strong>Ví dụ:</strong> khai báo hàng hóa xong chưa kịp nhập số lượng, vẫn có thể bán hàng, sau đó nhập kho sau. <strong>Lưu ý:</strong> thuộc tính này không được phép chỉnh sửa sau khi lưu hàng hóa.<br>
            <strong>Giá bán:</strong> Nhập giá bán để có thể bán hàng ngay.<br>
            <strong>Giá vốn:</strong> Giá vốn hiện tại của hàng hóa<br>
            <strong>Nhóm hàng:</strong> có thể tạo mới nhóm bằng cách chọn <strong>Tạo mới nhóm hàng</strong>
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-02.png">
            <img class="aligncenter size-full wp-image-101" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-02.png" alt="them-hang-hoa-02" width="427" height="91"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-03.png">
                <img class="aligncenter size-full wp-image-102" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-03.png" alt="them-hang-hoa-03" width="690" height="329"></a></p>
        <p>
            Sau đó ta nhập tên nhóm. Nếu có nhóm hàng cấp cha thì thêm vào ( <strong>Ví dụ:</strong> quần jean là nhóm hàng cấp cha của quần jean nam và quần jean nữ…)<br>
            <strong>Mã hàng hóa:</strong> có thể để trống để hệ thống tự động sinh mã, hoặc tự nhập thủ công.<br>
            <strong>Giá bán</strong><br>
            <strong>Nhà sản xuất:</strong> có thể tạo mới bằng cách chọn <strong>Thêm nhà sản xuất:</strong>
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-05.png">
            <img class="aligncenter size-full wp-image-104" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-05.png" alt="them-hang-hoa-05" width="430" height="86"></a></p>
        <p>&nbsp;</p>
        <p>Chọn thẻ <strong>Tạo mới nhà sản xuất</strong> sau đó nhập tên và <strong>Lưu</strong>.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-06.png">
            <img class="aligncenter size-full wp-image-105" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-06.png" alt="them-hang-hoa-06" width="682" height="236"></a></p>
        <p>&nbsp;</p>
        <p><strong>Thuế VAT</strong></p>
        <p>Tùy chọn mức thuế phù hợp</p>
        <p>
            <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_12.png">
                <img class="aligncenter size-full wp-image-793" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_12.png" alt="Screenshot_1" width="424" height="147"></a><br>
            <strong>Bước 3:</strong> Thông tin mở rộng
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-07.png">
            <img class="aligncenter size-full wp-image-106" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-07.png" alt="them-hang-hoa-07" width="1133" height="225"></a></p>
        <p>
            Nhấp chọn <strong>Thông tin mở rộng</strong> sẽ xuất hiện:<br>
            <strong>1/ Chính sách kho:</strong> thiết lập phương thức quản lý kho đối với hàng hóa này, bao gồm<br>
            <em><strong>_ Mức tồn kho tối thiểu :</strong></em> Dùng để cảnh báo hàng sắp hết cần nhập về để bán<br>
            <em><strong>_ Mức tồn kho tối đa:</strong></em> Dùng để cảnh báo hàng tồn nhiều hơn dự kiến<br>
            <em><strong>_ Quản lý tồn kho theo Serial:</strong></em> Seiral là mã đích danh của một hàng hóa cụ thể, ví dụ: số IMEI của điện thoại hay thiết bị điện tử. Khi chọn quản lý tồn kho theo Serial, thay vì nhập số lượng hàng hóa, bạn cần nhập các Serial của hàng hóa ở phần Nhập kho.
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-08.png">
            <img class="aligncenter size-full wp-image-107" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-08.png" alt="them-hang-hoa-08" width="327" height="41"></a></p>
        <p>&nbsp;</p>
        <p>Quản lý kho theo <strong>thuộc tính hàng hóa</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-09.png">
            <img class="aligncenter size-full wp-image-108" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-09.png" alt="them-hang-hoa-09" width="852" height="187"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây ta có thể lựa chọn các thuộc tính cho sản phẩm như màu sắc, kích cỡ… Có thể thêm thuộc tính bằng cách nhấp chọn Thêm thuộc tính hoặc Quản lý thuộc tính, sau đó nhập thuộc tính mới và chọn <strong>Lưu</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-10.png">
            <img class="aligncenter size-full wp-image-109" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-10.png" alt="them-hang-hoa-10" width="686" height="244"></a></p>
        <p>&nbsp;</p>
        <p>Phần quản lý kho theo thuộc tính hàng hóa, ta có thể quản lý sản phẩm theo 5 thuộc tính và các giá trị không hạn chế:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-13.png">
            <img class="aligncenter size-full wp-image-112" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-13.png" alt="them-hang-hoa-13" width="848" height="196"></a></p>
        <p>&nbsp;</p>
        <p>
            Bên dưới hệ thống sẽ tự sinh ra các sản phẩm có thuộc tính và giá trị tương ứng, tại đây ta chọn những sản phẩm đã có sẵn, sau đó nhập những thông tin cần thiết:<br>
            <strong>Mã:</strong> nhập mã hoặc hệ thống tự động sinh.<br>
            <strong>Giá vốn:</strong> nhập giá vốn của sản phẩm hiện tại.<br>
            <strong>Giá bán:</strong> nhập giá bán để có thể bán hàng được ngay.<br>
            <strong>Tồn kho:</strong> nhập số lượng sản phẩm đã có sẵn trong kho.
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-14.png">
            <img class="aligncenter size-full wp-image-113" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-14.png" alt="them-hang-hoa-14" width="857" height="437"></a></p>
        <p>&nbsp;</p>
        <p>
            <strong>2/ Mô tả chi tiết:</strong><br>
            <em><strong>_ Upload hình ảnh hàng hóa:</strong></em> Để tải và hiển thị nhanh, mỗi ảnh nên có dung lượng dưới 500KB. Tải tối đa 10MB.<br>
            <em><strong>_ Viết mô tả chi tiết cho sản phẩm.</strong></em>
        </p>
        <p>
            <img class="aligncenter size-full wp-image-114" src="http://hotro.suno.vn/wp-content/uploads/2015/05/them-hang-hoa-15.png" alt="them-hang-hoa-15" width="1117" height="435"></p>
        <p>&nbsp;</p>
        <p><strong>3/ Thông tin cho Web (Hiển thị trên Web, tối ưu SEO):</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_22.png">
            <img class="aligncenter wp-image-794 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_22-1024x434.png" alt="" width="980" height="415"></a></p>
        <p>
            <strong>Tags:</strong> nhóm các sản phẩm có chung một đặc tính<br>
            <strong>Tiêu đề trang:</strong> Tiêu đề sản phẩm sẽ hiển thị trên các công cụ tìm kiếm như Google, Yahoo, Bing…<br>
            <strong>Thông tin mô tả:</strong> Thông tin sản phẩn sẽ hiển thị trên công cụ tìm kiếm như Google, Yahoo, Bing…<br>
            <strong>URL:</strong> đường dẫn của sản phẩm.<br>
            <strong>Bộ sưu tập:</strong> thêm vào bộ sưu tập hoặc có thể tạo mới.<br>
            <strong>Lưu ý:</strong> Các thông tin này được sử dụng khi hiển thị hàng hóa ra web bán hàng và tối ưu SEO cho Website.
        </p>
    </div>
</article>

