<article  class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_quanly.png")" alt="quan-ly-combo"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_quanly_xemhanghoa_chon.png")" alt=""  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/hanghoa/combo_quanly_xemhanghoa.png")" alt=""  />
        </p>
    </div>
</article>

