<<<<<<< HEAD
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Chọn thẻ <strong>Nhà cung cấp</strong> sẽ xuất hiện toàn bộ thông tin các nhà cung cấp của shop. Tại đây ta có thể tìm kiếm nhà cung cấp bằng số điện thoại hoặc tên, đã nhập hàng hoặc NCC còn nợ.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_411.png">
            <img class="aligncenter wp-image-931 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_411-1024x397.png" alt="" width="980" height="380"></a></p>
        <p>&nbsp;</p>
        <p>Để xem thông tin Nhà cung cấp, ta nhấp chọn Tên hoặc Mã NCC:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_510.png">
            <img class="aligncenter wp-image-933 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_510-1024x210.png" alt="" width="980" height="201"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây ta có toàn bộ thông tin của nhà cung cấp. Bên cạnh đó có thể chỉnh sửa bằng cách chọn <strong>Sửa</strong> hoặc trả hàng bằng cách chọn<strong> Xuất trả</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_68.png">
            <img class="aligncenter wp-image-934 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_68-1024x268.png" alt="" width="980" height="256"></a></p>
        <p>&nbsp;</p>
        <p>Đến đây ta có thể dễ dàng chỉnh sửa thông tin và sau đó chọn <strong>Lưu</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_75.png">
            <img class="aligncenter size-large wp-image-935" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_75-1024x286.png" alt="Screenshot_7" width="980" height="274"></a></p>
        <p>&nbsp;</p>
        <p>Nếu muốn <strong>Xuất trả</strong> vui lòng đọc kỹ <strong><a href="http://hotro.suno.vn/tao-xuat-tra-ncc/">link hướng dẫn</a></strong>&nbsp;mục số 3.</p>
        <p>Ngoài ra trong khung Nhà cung cấp ta có một số tiện ích như sau:</p>
        <p>– Xem tất cả mặt hàng đã nhập từ Nhà cung cấp đó:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_102.png">
            <img class="aligncenter size-large wp-image-1032" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_102-1024x277.png" alt="Screenshot_10" width="980" height="265"></a></p>
        <p>–&nbsp;Lịch sử nhập&nbsp;hàng hay trả hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_1110.png">
            <img class="aligncenter size-large wp-image-1033" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_1110-1024x387.png" alt="Screenshot_11" width="980" height="370"></a></p>
        <p>
            <img class="  wp-image-1030 alignleft" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_93.png" alt="Screenshot_9" width="25" height="22">&nbsp;Nhấn vào nút này nếu bạn muốn xuất ra file Excel</p>
        <p>— Tại&nbsp;giao diện này còn có thêm 1 tiện ích đó là trả tiền cho Nhà cung cấp đối với những đơn hàng còn nợ:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_125.png">
            <img class="aligncenter size-large wp-image-1034" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_125-1024x396.png" alt="Screenshot_12" width="980" height="379"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_131.png">
            <img class="aligncenter size-large wp-image-1035" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_131-1024x333.png" alt="Screenshot_13" width="980" height="319"></a></p>
        <p>– Lịch sử thu tiền hoặc trả tiền:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_141.png">
            <img class="aligncenter size-large wp-image-1036" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_141-1024x473.png" alt="Screenshot_14" width="980" height="453"></a></p>
        <p>&nbsp;</p>
        <p>
            <img class="  wp-image-1030 alignleft" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_93.png" alt="Screenshot_9" width="25" height="22">&nbsp;Nhấn vào nút này nếu bạn muốn xuất ra file Excel</p>
       
    </div>
</article>

=======
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Chọn thẻ <strong>Nhà cung cấp</strong> sẽ xuất hiện toàn bộ thông tin các nhà cung cấp của shop. Tại đây ta có thể tìm kiếm nhà cung cấp bằng số điện thoại hoặc tên, đã nhập hàng hoặc NCC còn nợ.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_411.png">
            <img class="aligncenter wp-image-931 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_411-1024x397.png" alt="" width="980" height="380"></a></p>
        <p>&nbsp;</p>
        <p>Để xem thông tin Nhà cung cấp, ta nhấp chọn Tên hoặc Mã NCC:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_510.png">
            <img class="aligncenter wp-image-933 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_510-1024x210.png" alt="" width="980" height="201"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây ta có toàn bộ thông tin của nhà cung cấp. Bên cạnh đó có thể chỉnh sửa bằng cách chọn <strong>Sửa</strong> hoặc trả hàng bằng cách chọn<strong> Xuất trả</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_68.png">
            <img class="aligncenter wp-image-934 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_68-1024x268.png" alt="" width="980" height="256"></a></p>
        <p>&nbsp;</p>
        <p>Đến đây ta có thể dễ dàng chỉnh sửa thông tin và sau đó chọn <strong>Lưu</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_75.png">
            <img class="aligncenter size-large wp-image-935" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_75-1024x286.png" alt="Screenshot_7" width="980" height="274"></a></p>
        <p>&nbsp;</p>
        <p>Nếu muốn <strong>Xuất trả</strong> vui lòng đọc kỹ <strong><a href="http://hotro.suno.vn/tao-xuat-tra-ncc/">link hướng dẫn</a></strong>&nbsp;mục số 3.</p>
        <p>Ngoài ra trong khung Nhà cung cấp ta có một số tiện ích như sau:</p>
        <p>– Xem tất cả mặt hàng đã nhập từ Nhà cung cấp đó:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_102.png">
            <img class="aligncenter size-large wp-image-1032" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_102-1024x277.png" alt="Screenshot_10" width="980" height="265"></a></p>
        <p>–&nbsp;Lịch sử nhập&nbsp;hàng hay trả hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_1110.png">
            <img class="aligncenter size-large wp-image-1033" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_1110-1024x387.png" alt="Screenshot_11" width="980" height="370"></a></p>
        <p>
            <img class="  wp-image-1030 alignleft" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_93.png" alt="Screenshot_9" width="25" height="22">&nbsp;Nhấn vào nút này nếu bạn muốn xuất ra file Excel</p>
        <p>— Tại&nbsp;giao diện này còn có thêm 1 tiện ích đó là trả tiền cho Nhà cung cấp đối với những đơn hàng còn nợ:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_125.png">
            <img class="aligncenter size-large wp-image-1034" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_125-1024x396.png" alt="Screenshot_12" width="980" height="379"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_131.png">
            <img class="aligncenter size-large wp-image-1035" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_131-1024x333.png" alt="Screenshot_13" width="980" height="319"></a></p>
        <p>– Lịch sử thu tiền hoặc trả tiền:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_141.png">
            <img class="aligncenter size-large wp-image-1036" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_141-1024x473.png" alt="Screenshot_14" width="980" height="453"></a></p>
        <p>&nbsp;</p>
        <p>
            <img class="  wp-image-1030 alignleft" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_93.png" alt="Screenshot_9" width="25" height="22">&nbsp;Nhấn vào nút này nếu bạn muốn xuất ra file Excel</p>
       
    </div>
</article>

>>>>>>> origin/master
