<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Chọn menu <strong>Khách hàng</strong> để vào giao diện quản lý khách hàng:<a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_116.png"><img class="aligncenter wp-image-926 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_116-1024x409.png" alt="" width="980" height="391"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây ta có thể tìm khách hàng theo Tên, số điện thoại, mã khách hàng bằng cách nhập tên, số điện thoại, mã khách hàng vào ô tìm kiếm và chọn <strong>Tìm kiếm:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-khach-hang-02.png">
            <img class="aligncenter size-full wp-image-165" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-khach-hang-02.png" alt="quan-ly-khach-hang-02" width="1155" height="302"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc có thể tìm kiếm theo danh sách những khách từng mua hàng, còn nợ:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-khach-hang-03.png">
            <img class="aligncenter size-full wp-image-166" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-khach-hang-03.png" alt="quan-ly-khach-hang-03" width="884" height="279"></a></p>
        <p>&nbsp;</p>
        <p>Nhấp vào tên hoặc mã khách hàng để xem thông tin khách hàng, lịch sử giao dịch:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_211.png">
            <img class="aligncenter wp-image-928 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_211-1024x63.png" alt="" width="980" height="60"></a></p>
        <p>&nbsp;</p>
        <p>– Như hàng hóa đã mua:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_414.png">
            <img class="aligncenter wp-image-1024 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_414-1024x404.png" alt="" width="980" height="387"></a></p>
        <p>&nbsp;</p>
        <p>– Lịch sử mua hàng, đặt hàng hay trả hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_512.png">
            <img class="aligncenter size-large wp-image-1025" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_512-1024x407.png" alt="Screenshot_5" width="980" height="390"></a></p>
        <p>&nbsp;</p>
        <p>
            <img class="  wp-image-1030 alignleft" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_93.png" alt="Screenshot_9" width="25" height="22">&nbsp;Nhấn vào nút này nếu bạn muốn xuất ra file Excel</p>
        <p>Tại giao diện này còn có thêm 1 tiện ích thu nợ khách hàng đối với những đơn hàng còn nợ:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_76.png">
            <img class="aligncenter size-large wp-image-1027" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_76-1024x418.png" alt="Screenshot_7" width="980" height="400"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_84.png">
            <img class="aligncenter size-large wp-image-1028" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_84-1024x461.png" alt="Screenshot_8" width="980" height="441"></a></p>
        <p>– Lịch sử thu tiền hoặc trả tiền:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_69.png">
            <img class="aligncenter size-large wp-image-1026" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_69-1024x411.png" alt="Screenshot_6" width="980" height="393"></a></p>
        <p>
            <img class="  wp-image-1030 alignleft" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_93.png" alt="Screenshot_9" width="25" height="22">&nbsp;Nhấn vào nút này nếu bạn muốn xuất ra file Excel.</p>
        <p>&nbsp;</p>
    </div>
</article>

