<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để quản lý nhà cung cấp vào mục <b>Khách hàng</b> và chọn mục con <b>Nhà cung cấp</b> như hình sau :<br />
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/khachhang/nhacungcap_chon.png")" alt="nha-cung-cap"  />
        </p>
        <p>
            Tại đây có thể thực hiện các chức năng:<br />
            - Tìm kiếm nhà cung cấp bằng mã/tên/sđt.<br />
            - Lọc những nhà cung cấp <b>Đã nhập hàng/Còn nợ</b><br />
            - Xóa nhà cung cấp<br />
        </p>
        <p>&nbsp</p>

        <p><b>Tạo nhà cung cấp mới</b><br />
            Nhấn vào nút <b>Tạo NCC</b> như hình sau để tạo nhà cung cấp mới:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/khachhang/nhacungcap_them_chon.png")" alt="nha-cung-cap"  />
        </p>
        <p>Sau đó sẽ hiển thị cửa sổ để điền thông tin của nhà cung cấp như hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/khachhang/nhacungcap_them.png")" alt="nha-cung-cap"  />
        </p>
        <p>Cuối cùng nhấn nút <b>Lưu</b> để tạo </p>
        

    </div>
</article>

