<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
        <strong>GIỚI THIỆU TỔNG QUAN VỀ CÁC CHỨC NĂNG:</strong>
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <!------------------------------------------------->
        <p>
            Giao diện chính của chương trình sẽ như sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tongquan.png")" alt="trang-quan-ly-pholo"  />
        </p>

        <p>&nbsp</p>
        <p><strong>Danh mục các chức năng quản lý nằm phía bên trái như hình , gồm các mục sau:</strong></p>
        
        <p><strong>POS -Bán hàng</strong></p>
        <p>Đây là trang dành cho nhân viên bán hàng. Với những tính năng đơn giản giúp người sử dụng có thể thực hiện việc bán hàng một nhanh chóng.
            <br />
            Quý khách có thể tham khảo chi tiết tại đây : <a target="_blank" href="@Url.Action("Document","Home")?page=pos"><strong>Hướng dẫn sử dụng "POS - Bán hàng"</strong></a>
        </p>

        <p><strong>Tổng quan</strong></p>
        <p>Cho biết thông tin chung về tình hình hoạt động của cửa hàng như:
            <ul>
                <li>Doanh số, lợi nhuận theo tuần/tháng/năm</li>
                <li>Thông tin về hàng hóa và đơn hàng </li>
                <li>Thông tin kho : số hàng hóa tồn kho lâu, số hàng hóa đã hết </li>
                <li>Những biểu đồ giúp người quản lý nắm được tình hình kinh doanh của cửa hàng</li>
            </ul>
        </p>

        <p><strong>Hàng hóa</strong></p>
        <p></p>

        <p><strong>Khách hàng</strong></p>
        <p></p>

        <p><strong>Nhập kho</strong></p>
        <p></p>

        <p><strong>Tồn kho</strong></p>
        <p></p>
        
        <p><strong>Doanh số</strong></p>
        <p></p>

        <p><strong>Thu chi</strong></p>
        <p></p>

        <p><strong>Lợi nhuận</strong></p>
        <p></p>

        <p><strong>Thiết lập</strong></p>
        <p></p>

        <p><strong>Thông báo</strong></p>
        <p></p>


    </div>
</article>
