<<<<<<< HEAD
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để xem lợi nhuận, ta chọn thẻ <strong>Lợi nhuận:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_115.png">
            <img class="aligncenter wp-image-909 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_115-1024x440.png" alt="" width="980" height="421"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo thời gian (dạng biểu đồ):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_57.png">
            <img class="aligncenter wp-image-911 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_57.png" alt="" width="947" height="111"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_49.png">
            <img class="aligncenter wp-image-912 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_49.png" alt="" width="956" height="543"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo thời gian (dạng danh sách):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_312.png">
            <img class="aligncenter wp-image-913 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_312.png" alt="" width="723" height="112"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_29.png">
            <img class="aligncenter wp-image-914 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_29-1024x270.png" alt="" width="980" height="258"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo hàng hóa (dạng biểu đồ):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_82.png">
            <img class="aligncenter wp-image-917 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_82-1024x220.png" alt="" width="980" height="211"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_92.png">
            <img class="aligncenter wp-image-916 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_92.png" alt="" width="1009" height="491"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo hàng hóa (dạng danh sách):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_66.png">
            <img class="aligncenter wp-image-918 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_66-1024x217.png" alt="" width="980" height="208"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_74.png">
                <img class="aligncenter wp-image-919 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_74-1024x100.png" alt="" width="980" height="96"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo cửa hàng (dạng biểu đồ):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_210.png">
            <img class="aligncenter wp-image-920 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_210.png" alt="" width="1016" height="251"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_313.png">
                <img class="aligncenter wp-image-923 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_313.png" alt="" width="674" height="370"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo cửa hàng (dạng danh sách):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_410.png">
            <img class="aligncenter wp-image-921 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_410.png" alt="" width="958" height="244"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_59.png">
            <img class="aligncenter wp-image-922 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_59-1024x98.png" alt="" width="980" height="94"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lãi lỗ Tất cả cửa hàng hoăc theo từng cửa hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_67.png">
            <img class="aligncenter size-full wp-image-924" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_67.png" alt="Screenshot_6" width="837" height="598"></a></p>
        <p>Chọn <strong>Xuất Excel</strong> để lưu số liệu thành file Excel:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-loi-nhuan-13.png">
            <img class="aligncenter size-full wp-image-267" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-loi-nhuan-13.png" alt="quan-ly-loi-nhuan-13" width="108" height="56"></a></p>
        
    </div>
</article>


=======
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để xem lợi nhuận, ta chọn thẻ <strong>Lợi nhuận:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_115.png">
            <img class="aligncenter wp-image-909 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_115-1024x440.png" alt="" width="980" height="421"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo thời gian (dạng biểu đồ):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_57.png">
            <img class="aligncenter wp-image-911 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_57.png" alt="" width="947" height="111"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_49.png">
            <img class="aligncenter wp-image-912 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_49.png" alt="" width="956" height="543"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo thời gian (dạng danh sách):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_312.png">
            <img class="aligncenter wp-image-913 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_312.png" alt="" width="723" height="112"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_29.png">
            <img class="aligncenter wp-image-914 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_29-1024x270.png" alt="" width="980" height="258"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo hàng hóa (dạng biểu đồ):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_82.png">
            <img class="aligncenter wp-image-917 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_82-1024x220.png" alt="" width="980" height="211"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_92.png">
            <img class="aligncenter wp-image-916 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_92.png" alt="" width="1009" height="491"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo hàng hóa (dạng danh sách):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_66.png">
            <img class="aligncenter wp-image-918 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_66-1024x217.png" alt="" width="980" height="208"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_74.png">
                <img class="aligncenter wp-image-919 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_74-1024x100.png" alt="" width="980" height="96"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo cửa hàng (dạng biểu đồ):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_210.png">
            <img class="aligncenter wp-image-920 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_210.png" alt="" width="1016" height="251"></a> <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_313.png">
                <img class="aligncenter wp-image-923 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_313.png" alt="" width="674" height="370"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lợi nhuận theo cửa hàng (dạng danh sách):</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_410.png">
            <img class="aligncenter wp-image-921 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_410.png" alt="" width="958" height="244"></a></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_59.png">
            <img class="aligncenter wp-image-922 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_59-1024x98.png" alt="" width="980" height="94"></a></p>
        <p>&nbsp;</p>
        <p>Xem báo cáo lãi lỗ Tất cả cửa hàng hoăc theo từng cửa hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_67.png">
            <img class="aligncenter size-full wp-image-924" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_67.png" alt="Screenshot_6" width="837" height="598"></a></p>
        <p>Chọn <strong>Xuất Excel</strong> để lưu số liệu thành file Excel:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-loi-nhuan-13.png">
            <img class="aligncenter size-full wp-image-267" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-loi-nhuan-13.png" alt="quan-ly-loi-nhuan-13" width="108" height="56"></a></p>
        
    </div>
</article>


>>>>>>> origin/master
