<article class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Vào mục <b>Lợi nhuận</b> để xem báo cáo lợi nhuận.<br />
            Tại đây có các loại báo cáo lợi nhuận sau:<br />
            - <b>Theo thời gian</b><br />
            - <b>Theo sản phẩm</b><br />
            - <b>Theo cửa hàng</b><br />
            - <b>Báo cáo lãi lỗ</b><br />
        </p>
        <p>&nbsp</p>


        <p><b>Theo thời gian</b><br /></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_theothoigian_chon.png")" alt="bao-cao-loi-nhuan-theo-thoi-gan"  />
        </p>
        <p>&nbsp</p>

        <p><b>Theo sản phẩm</b><br /></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_theosanpham_chon.png")" alt="bao-cao-loi-nhuan-theo-san-pham"  />
        </p>
        <p>&nbsp</p>

        <p><b>Theo cửa hàng</b><br /></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_theocuahang_chon.png")" alt="bao-cao-loi-nhuan-theo-cua-hang"  />
        </p>
        <p>&nbsp</p>

        <p><b>Báo cáo lãi lỗ</b><br /></p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/loinhuan/loinhuan_baocaolailo_chon.png")" alt="bao-cao-loi-nhuan-bao-cao-lai-lo"  />
        </p>
    </div>
</article>


