<<<<<<< HEAD
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Chọn <strong>Nhập kho</strong> để vào giao diện Quản lý nhập kho:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_15.png">
            <img class="aligncenter wp-image-807 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_15.png" alt="" width="891" height="556"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây ta có thể tìm kiếm các phiếu nhập kho trước bằng cách tìm theo phiếu nhập đã xóa, phiếu nhập còn nợ, phiếu nhập thiếu giá vốn</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_23.png">
            <img class="aligncenter wp-image-809 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_23-1024x166.png" alt="" width="980" height="159"></a></p>
        <p>hoặc có thể tìm kiếm theo mã hóa đơn, mã hàng, IMEI/Serial</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_34.png">
            <img class="aligncenter size-full wp-image-810" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_34.png" alt="Screenshot_3" width="691" height="161"></a></p>
        <p>Ngoài ra có thể tìm kiếm theo Tuần, Tháng, Quí hoặc thời gian cụ thể:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-03.png">
            <img class="aligncenter size-full wp-image-184" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-03.png" alt="quan-ly-nhap-kho-03" width="586" height="340"></a></p>
        <p>&nbsp;</p>
        <p>Để xem lại thông tin một phiếu nhập kho, chọn <strong>Mã hóa đơn:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_42.png">
            <img class="aligncenter wp-image-811 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_42.png" alt="" width="839" height="165"></a></p>
        <p>&nbsp;</p>
        <p>Phía dưới giao diện có thống kê tổng hóa đơn, tổng tiền, tổng nợ để theo dõi dễ dàng.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-05.png">
            <img class="aligncenter size-full wp-image-186" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-05.png" alt="quan-ly-nhap-kho-05" width="1136" height="52"></a></p>
        <p>&nbsp;</p>
        <p>Để xóa một phiếu nhập kho, ta chọn biểu tượng sau và <strong>OK</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-06.png">
            <img class="aligncenter size-full wp-image-187" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-06.png" alt="quan-ly-nhap-kho-06" width="1152" height="233"></a></p>
        <p>&nbsp;</p>
        <p>Để xuất thành file excel, chọn <strong>Xuất Excel</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_51.png">
            <img class="aligncenter wp-image-812 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_51-1024x245.png" alt="" width="980" height="234"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây có thể xem các phiếu nhập kho đã xóa hoặc xem phiếu nhập kho còn nợ, phiếu nhập thiếu giá vốn bằng cách chọn như sau:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_23.png">
            <img class="aligncenter wp-image-809 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_23-1024x166.png" alt="" width="980" height="159"></a></p>
        
    </div>
</article>

=======
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Chọn <strong>Nhập kho</strong> để vào giao diện Quản lý nhập kho:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_15.png">
            <img class="aligncenter wp-image-807 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_15.png" alt="" width="891" height="556"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây ta có thể tìm kiếm các phiếu nhập kho trước bằng cách tìm theo phiếu nhập đã xóa, phiếu nhập còn nợ, phiếu nhập thiếu giá vốn</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_23.png">
            <img class="aligncenter wp-image-809 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_23-1024x166.png" alt="" width="980" height="159"></a></p>
        <p>hoặc có thể tìm kiếm theo mã hóa đơn, mã hàng, IMEI/Serial</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_34.png">
            <img class="aligncenter size-full wp-image-810" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_34.png" alt="Screenshot_3" width="691" height="161"></a></p>
        <p>Ngoài ra có thể tìm kiếm theo Tuần, Tháng, Quí hoặc thời gian cụ thể:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-03.png">
            <img class="aligncenter size-full wp-image-184" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-03.png" alt="quan-ly-nhap-kho-03" width="586" height="340"></a></p>
        <p>&nbsp;</p>
        <p>Để xem lại thông tin một phiếu nhập kho, chọn <strong>Mã hóa đơn:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_42.png">
            <img class="aligncenter wp-image-811 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_42.png" alt="" width="839" height="165"></a></p>
        <p>&nbsp;</p>
        <p>Phía dưới giao diện có thống kê tổng hóa đơn, tổng tiền, tổng nợ để theo dõi dễ dàng.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-05.png">
            <img class="aligncenter size-full wp-image-186" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-05.png" alt="quan-ly-nhap-kho-05" width="1136" height="52"></a></p>
        <p>&nbsp;</p>
        <p>Để xóa một phiếu nhập kho, ta chọn biểu tượng sau và <strong>OK</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-06.png">
            <img class="aligncenter size-full wp-image-187" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-nhap-kho-06.png" alt="quan-ly-nhap-kho-06" width="1152" height="233"></a></p>
        <p>&nbsp;</p>
        <p>Để xuất thành file excel, chọn <strong>Xuất Excel</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_51.png">
            <img class="aligncenter wp-image-812 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_51-1024x245.png" alt="" width="980" height="234"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây có thể xem các phiếu nhập kho đã xóa hoặc xem phiếu nhập kho còn nợ, phiếu nhập thiếu giá vốn bằng cách chọn như sau:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_23.png">
            <img class="aligncenter wp-image-809 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_23-1024x166.png" alt="" width="980" height="159"></a></p>
        
    </div>
</article>

>>>>>>> origin/master
