<<<<<<< HEAD
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để tạo phiếu nhập kho vào Menu <strong>Nhập kho</strong>, chọn <strong>+ Tạo phiếu nhập:</strong></p>
        <p>
            <img class="aligncenter size-full wp-image-192" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-01.png" alt="tao-phieu-nhap-kho-01" width="755" height="400"></p>
        <p>&nbsp;</p>
        <p><strong>Bước 1:</strong> Thêm sản phẩm vào phiếu nhập, gõ tên sản phẩm hoặc barcode để thêm sản phẩm:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-02.png">
            <img class="aligncenter size-full wp-image-193" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-02.png" alt="tao-phieu-nhap-kho-02" width="750" height="504"></a></p>
        <p>&nbsp;</p>
        <p>Đối với những sản phẩm có quản lý số serial hoặc IMEI thì ta nhập vào phần dưới phiếu nhập như hình:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_62.png">
            <img class="aligncenter size-full wp-image-824" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_62.png" alt="Screenshot_6" width="781" height="315"></a></p>
        <p>Ngoài ra ta có thể nhập bằng file Excel:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_61.png">
            <img class="aligncenter wp-image-814 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_61.png" alt="" width="764" height="215"></a></p>
        <p>&nbsp;</p>
        <p>Tải file mẫu Nhapkho.xlsx để tham khảo hoặc Chọn file để nhập từ Excel</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-04.png">
            <img class="aligncenter size-full wp-image-195" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-04.png" alt="tao-phieu-nhap-kho-04" width="685" height="173"></a></p>
        <p>&nbsp;</p>
        <p>Sau khi đã nhập đủ sản phẩm vào phiếu, hệ thống sẽ quay về giao diện chính:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-05.png">
            <img class="aligncenter size-full wp-image-196" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-05.png" alt="tao-phieu-nhap-kho-05" width="760" height="239"></a></p>
        <p>&nbsp;</p>
        <p>
            <strong>Tại đây ta điền đầy đủ thông tin hóa đơn:</strong><br>
            <strong>Mã hóa đơn:</strong> do hệ thống tự động sinh<br>
            <strong>Nhà cung cấp:</strong> chọn nhà cung cấp có sẵn bằng cách gõ tên, số điện thoại hoặc mã nhà cung cấp, hệ thống sẽ tự hiển thị:
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-06.png">
            <img class="aligncenter size-full wp-image-197" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-06.png" alt="tao-phieu-nhap-kho-06" width="332" height="88"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc có thể tạo mới Nhà cung cấp bằng cách chọn biểu tượng <strong>+</strong>, sau đó nhập những thông tin cần thiết:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-07.png">
            <img class="aligncenter size-full wp-image-198" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-07.png" alt="tao-phieu-nhap-kho-07" width="1009" height="405"></a></p>
        <p>
            <strong>Lưu ý:</strong> Thông tin nhà cung cấp đặc biệt quan trọng để quản lý công nợ.<br>
            <strong>Ngày nhập:</strong> ngày nhập kho<br>
            <strong>Ghi chú:</strong> các ghi chú của phiếu nhập kho
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-08.png">
            <img class="aligncenter size-full wp-image-199" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-08.png" alt="tao-phieu-nhap-kho-08" width="359" height="287"></a></p>
        <p>
            <strong>Điền đầy đủ thông tin thanh toán:</strong><br>
            <strong>Hình thức:</strong> có thể lựa chọn tiền mặt, chuyển khoản hoặc thẻ.<br>
            <strong>Còn nợ:</strong> Khi phiếu hàng còn nợ, thông tin nhà cung cấp là bắt buộc.
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-09.png">
            <img class="aligncenter size-full wp-image-200" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-09.png" alt="tao-phieu-nhap-kho-09" width="370" height="312"></a></p>
        <p>&nbsp;</p>
        <p>Sau đó <strong>Lưu</strong> phiếu nhập kho để hoàn tất:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-10.png">
            <img class="aligncenter size-full wp-image-201" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-10.png" alt="tao-phieu-nhap-kho-10" width="377" height="46"></a></p>
        
    </div>
</article>

=======
﻿<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để tạo phiếu nhập kho vào Menu <strong>Nhập kho</strong>, chọn <strong>+ Tạo phiếu nhập:</strong></p>
        <p>
            <img class="aligncenter size-full wp-image-192" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-01.png" alt="tao-phieu-nhap-kho-01" width="755" height="400"></p>
        <p>&nbsp;</p>
        <p><strong>Bước 1:</strong> Thêm sản phẩm vào phiếu nhập, gõ tên sản phẩm hoặc barcode để thêm sản phẩm:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-02.png">
            <img class="aligncenter size-full wp-image-193" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-02.png" alt="tao-phieu-nhap-kho-02" width="750" height="504"></a></p>
        <p>&nbsp;</p>
        <p>Đối với những sản phẩm có quản lý số serial hoặc IMEI thì ta nhập vào phần dưới phiếu nhập như hình:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_62.png">
            <img class="aligncenter size-full wp-image-824" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_62.png" alt="Screenshot_6" width="781" height="315"></a></p>
        <p>Ngoài ra ta có thể nhập bằng file Excel:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_61.png">
            <img class="aligncenter wp-image-814 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_61.png" alt="" width="764" height="215"></a></p>
        <p>&nbsp;</p>
        <p>Tải file mẫu Nhapkho.xlsx để tham khảo hoặc Chọn file để nhập từ Excel</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-04.png">
            <img class="aligncenter size-full wp-image-195" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-04.png" alt="tao-phieu-nhap-kho-04" width="685" height="173"></a></p>
        <p>&nbsp;</p>
        <p>Sau khi đã nhập đủ sản phẩm vào phiếu, hệ thống sẽ quay về giao diện chính:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-05.png">
            <img class="aligncenter size-full wp-image-196" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-05.png" alt="tao-phieu-nhap-kho-05" width="760" height="239"></a></p>
        <p>&nbsp;</p>
        <p>
            <strong>Tại đây ta điền đầy đủ thông tin hóa đơn:</strong><br>
            <strong>Mã hóa đơn:</strong> do hệ thống tự động sinh<br>
            <strong>Nhà cung cấp:</strong> chọn nhà cung cấp có sẵn bằng cách gõ tên, số điện thoại hoặc mã nhà cung cấp, hệ thống sẽ tự hiển thị:
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-06.png">
            <img class="aligncenter size-full wp-image-197" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-06.png" alt="tao-phieu-nhap-kho-06" width="332" height="88"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc có thể tạo mới Nhà cung cấp bằng cách chọn biểu tượng <strong>+</strong>, sau đó nhập những thông tin cần thiết:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-07.png">
            <img class="aligncenter size-full wp-image-198" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-07.png" alt="tao-phieu-nhap-kho-07" width="1009" height="405"></a></p>
        <p>
            <strong>Lưu ý:</strong> Thông tin nhà cung cấp đặc biệt quan trọng để quản lý công nợ.<br>
            <strong>Ngày nhập:</strong> ngày nhập kho<br>
            <strong>Ghi chú:</strong> các ghi chú của phiếu nhập kho
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-08.png">
            <img class="aligncenter size-full wp-image-199" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-08.png" alt="tao-phieu-nhap-kho-08" width="359" height="287"></a></p>
        <p>
            <strong>Điền đầy đủ thông tin thanh toán:</strong><br>
            <strong>Hình thức:</strong> có thể lựa chọn tiền mặt, chuyển khoản hoặc thẻ.<br>
            <strong>Còn nợ:</strong> Khi phiếu hàng còn nợ, thông tin nhà cung cấp là bắt buộc.
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-09.png">
            <img class="aligncenter size-full wp-image-200" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-09.png" alt="tao-phieu-nhap-kho-09" width="370" height="312"></a></p>
        <p>&nbsp;</p>
        <p>Sau đó <strong>Lưu</strong> phiếu nhập kho để hoàn tất:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-10.png">
            <img class="aligncenter size-full wp-image-201" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-nhap-kho-10.png" alt="tao-phieu-nhap-kho-10" width="377" height="46"></a></p>
        
    </div>
</article>

>>>>>>> origin/master
