<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/nhapkho/nhapkho_them_chon.png")" alt="them-nhap-kho"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/nhapkho/nhapkho_them_hanghoa.png")" alt="nhap-kho-them-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/nhapkho/nhapkho_them_danhap.png")" alt="nhap-kho-da-dien-thong-tin"  />
        </p>
    </div>
</article>

