<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Chọn mục <b>Nhập kho</b> như hình sau để vào trang quản lý nhập kho :
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/nhapkho/nhapkho_chon.png")" alt="quan-ly-nhap-kho"  />
        </p>
        <p>&nbsp</p>
        
        <p>Ở đây, có thể tìm kiếm và quản lý các phiếu nhập kho một cách dễ dàng với các lựa chọn tìm kiếm.
            <br />
            Tìm kiếm theo mã hóa đơn nhập hàng <br />
            Hoặc lọc đơn nhanh theo các lựa chọn có sẵn : <br />
            - Lọc theo <b>phiếu hàng đã xóa/ còn nợ</b><br />
            - Lọc theo <b>thời gian</b><br />
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/nhapkho/nhapkho_quanly.png")" alt="quan-ly-nhap-kho"  />
        </p>

        <p>&nbsp</p>
        <p> <b>In hóa đơn nhập hàng</b><br />
            Để in hóa đơn nhập hàng, nhấn vào biểu tượng <i class="fa fa-print"></i> <br/>
            Ví dụ một hóa đơn như hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/nhapkho/nhapkho_hoadonnhaphang.png")" alt="hoa-don-nhap-hang"  />
        </p>
    </div>
</article>

