<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Vào mục <b>Thiết lập</b> và chọn mục con <b>Nhân viên</b> như hình sau để quản lý nhân viên:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_nhanvien_chon.png")" alt="thiet-lap-cau-hinh-nhanvien"  />
        </p>
        <p>
            <b>Phân quyền nhân viên</b><br />
            Có 3 nhóm quyền có thể gán cho nhân viên như hình trên với các chức năng tương ứng :<br />
            -<b>Chủ cửa hàng</b><br />
            -<b>Quản lý</b><br />
            -<b>Nhân viên bán hàng</b><br />
        </p>
        <p>&nbsp</p>
        
        <p><b>Thêm nhân viên</b><br />
            Nhấn vào nút <b>Tạo nhân viên</b> để thêm nhân viên mới như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_nhanvien_them_chon.png")" alt="thiet-lap-cau-hinh-them-nhan-vien"  />
        </p>
        <p>Khi đó một cửa sổ sẽ hiện ra để nhập các thông tin của nhân viên như sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_nhanvien_them.png")" alt="thiet-lap-cau-hinh-them-nhan-vien"  />
        </p>
        <p>&nbsp</p>

        <p><b>Gán quyền cho nhân viên</b><br />
            Để gán quyền cho nhân viên nhấn vào biểu tượng <i class="fa fa-user-md   blue "></i> sẽ hiện ra cửa sổ như hình sau: 
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_nhanvien_chucvu.png")" alt="thiet-lap-cau-hinh-chuc-vu-nhan-vien"  />
        </p>
        <p>Tại đây sẽ chọn cửa hàng và quyền tương ứng cho nhân viên này.</p>
    </div>
</article>

