<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Vào mục <b>Thiết lập</b> và chọn mục con <b>Cửa hàng</b> như hình sau để xem và thay đổi thông tin cửa hàng nếu cần thiết:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_cuahang_chon.png")" alt="thiet-lap-cau-hinh-cua-hang"  />
        </p>
        <p>Chú ý: Nếu quý khách có nhiều hơn một cửa hàng và muốn thêm cửa hàng mới thì vui lòng liên hệ với chúng tôi.</p>

    </div>
</article>

