<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Vào mục <b>Thiết lập</b> và chọn mục con <b>Khuyến mãi</b> như hình sau để quản lý các khuyến mãi:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_khuyenmai_chon.png")" alt="thiet-lap-cau-hinh-khuyen-mai"  />
        </p>
        <p>Thiết lập khuyến mãi có các thông tin :<br />
            - Thứ tự áp dụng<br />
            - Lượng giảm <br />	
            - Đơn vị <br />	
            - Giảm tối đa (VND)<br /> 	
            - Điều kiện<br /> 	
            - Ngày bắt đầu <br />	
            - Ngày kết thúc<br />
        </p>


    </div>
</article>

