<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_khuyenmai_chon.png")" alt="thiet-lap-cau-hinh-khuyen-mai"  />
        </p>


    </div>
</article>

