<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Vào mục <b>Thiết lập</b> và chọn mục con <b>Thiết lập bán hàng</b> như hình sau để xem thay đổi thiết lập bán hàng:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thietlap/thietlap_banhang_chon.png")" alt="thiet-lap-cau-hinh-ban-hang"  />
        </p>
        <p>
            <b>Các thiết lập:</b><br />
            - Số ngày cảnh báo tồn kho lâu	<br />
            - Cho phép sửa giá bán sản phẩm	<br />
            - Cho phép bán nợ<br />
            <br />
            Để chỉnh sửa thiết lập nhấn vào biểu tượng <i class="fa fa-edit blue"></i> để thay đổi thiết lập.
        </p>

    </div>
</article>

