<article  class="clearfix">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Vào mục con <b>Nhận tiền</b> trong mục <b>Thu chi</b> để quản lý thông tin về việc nhận tiền tiền từ nhân viên bán hàng hoặc nhân viên ứng tiền, như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_nhantien_chon.png")" alt="nhan-tien"  />
        </p>
        <p>
            <b>Các thông tin quản lý:</b><br />
            - <b>Người bán</b> : Tên người bán hàng <br />
            - <b>Tổng tiền</b> : Tổng số tiền mà người bán hàng đã bán được<br />
            - <b>Tiền ứng</b> : Tổng số tiền mà người bán hàng đã ứng<br />
            - <b>Tiền nhận</b> : Tổng số tiền mà chủ cửa hàng đã nhận từ người bán hàng <br />
            - <b>Tiền chi phí</b> : Tổng số tiền mà người này đã chi trong mục chi phí<br />
            - <b>Chưa nhận</b> : Tổng số tiến mà người này đang con giữ của chủ cửa hàng<br />
           <br />
           <br />
           <b>Nhận tiền</b> :Để nhận tiền từ nhân viên nhấn vào biểu tượng <i class="fa fa-edit blue"></i> ở cột Nhận tiền và nhập số tiến và lưu kết quả.
           <br />
           <b>Ứng tiền</b> :Để ứng tiền cho nhân viên nhấn vào biểu tượng <i class="fa fa-edit blue"></i> ở cột Ứng tiến và nhập số tiến và lưu kết quả.
        </p>
        <p>&nbsp</p>

        <p><b>Xem lịch sử nhận tiền/ứng tiền</b><br />
            Nhấn vào tên nhân viên để xem được lịch sử nhận tiền/ứng tiền từ nhân viên đó như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_nhantien_lichsu.png")" alt="lich-su-nhan-tien"  />
        </p>
    </div>

</article>


