<article  class="clearfix">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Chọn mục con <b>Thu tiền bán hàng</b> trong mục <b>Thu chi</b> như hình sau để vào trang báo cáo tiền thu được từ hoạt động bán hàng :
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_tienthu_chon.png")" alt="thu-tien-ban-hang"  />
        </p>
        <p> Ở đây có thể tìm kiếm theo <b>mã đơn hàng</b> <br />
            Đồng thời có thể lọc theo : <br />
            - Hình thức thanh toán : Tiền mặt/Chuyển khoản/Thẻ.<br />
            - Thời gian bán hàng.<br />
             

        </p>
    </div>
</article>


