<article  class="clearfix">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_nhantien_chon.png")" alt="nhan-tien"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/thuchi/thuchi_nhantien_lich-su.png")" alt="lich-su-nhan-tien"  />
        </p>
    </div>

</article>


