<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Tính năng “Thu chi” giúp bạn nắm bắt dòng tiền nhánh chóng, rõ ràng.</p>
        <p>Vào menu Thu chi</p>
        <p>Nếu bạn là chủ cửa hàng thì sẽ thấy 4 tab: Tổng quan, Thu, Chi và Sổ quĩ.</p>
        <p>
            <a href="http://hotro.suno.vn/wp-content/uploads/2016/06/tongquanthuchi.png">
                <br>
            </a><a href="http://hotro.suno.vn/wp-content/uploads/2016/06/menuthuchi.png">
                <img class="aligncenter size-large wp-image-1084" src="http://hotro.suno.vn/wp-content/uploads/2016/06/menuthuchi-1024x437.png" alt="menuthuchi" width="980" height="418"></a>
        </p>
        <p>&nbsp;</p>
        <p><strong>Màn hình tổng quan</strong> sẽ hiển thị các thông tin cho phép chủ cửa hàng nắm bắt dòng tiền nhanh chóng, rõ ràng theo sổ (Tiền mặt hay tài khoản) cũng như theo hạng mục (mua hàng, bán hàng, trả hàng, chi phí).</p>
        <p>Chọn khoảng thời gian hoặc tuần, tháng, quí, tuần trước, tháng trước và quí trước để xem số liệu tổng quan thu chi. Trong đó:</p>
        <ul>
            <li>Tổng thu: là tổng lượng tiền phát sinh trong quá trình thu bán hàng, thu xuất trả nhà cung cấp, thu cấn nợ trả hàng, thu góp vốn và thu khác. Tổng thu = Tổng tiền (màn hình thu).</li>
            <li>Tổng chi: là tổng lượng tiền phát sinh trong quá trình chi mua hàng, chi khách hàng trả hàng, chi phí, chi rút vốn và chi khác. Tổng chi = Tồng tiền (màn hình chi).</li>
            <li>Đầu kỳ: là lượng tiền tồn lại trước ngày bắt đầu tính số.</li>
            <li>Tồn quĩ = Đầu kỳ + Tổng thu – Tổng chi.</li>
            <li>Dòng tiền theo sổ:
                <ul>
                    <li>Tiền mặt: Đầu kỳ + Thu – Chi
                        <ul>
                            <li>Đầu kỳ: Lượng tiền mặt tồn lại trước ngày bắt đầu tính số</li>
                            <li>Thu: Tổng lượng tiền mặt phát sinh trong quá trình thu bán hàng, thu xuất trả nhà cung cấp, thu cấn nợ trả hàng, thu góp vốn và thu khác.</li>
                            <li>Chi: Tổng lượng tiền mặt phát sinh trong quá trình chi mua hàng, chi khách hàng trả hàng, chi phí, chi rút vốn và chi khác.</li>
                        </ul>
                    </li>
                    <li>Tài khoản: Đầu kỳ + Thu – Chi
                        <ul>
                            <li>Đầu kỳ: Bao gồm tiền chuyển khoản và thanh toán thẻ tồn lại trước ngày bắt đầu tính số.</li>
                            <li>Thu: Bao gồm tổng lượng tiền chuyển khoản và thanh toán thẻ phát sinh trong quá trình thu bán hàng, thu xuất trả nhà cung cấp, thu cấn nợ trả hàng, thu góp vốn và thu khác.</li>
                            <li>Chi: Bao gồm tổng lượng tiền chuyển khoản và thanh toán thẻ phát sinh trong quá trình chi mua hàng, chi khách hàng trả hàng, chi phí, chi rút vốn và chi khác.</li>
                        </ul>
                    </li>
                    <li>Dòng tiền theo danh mục:
                        <ul>
                            <li>Thu:
                                <ul>
                                    <li>Bán hàng: tổng lượng tiền thu từ việc bán hàng.</li>
                                    <li>Xuất trả hàng NCC: tổng lượng tiền thu từ việc xuát trả hàng cho nhà cung cấp.</li>
                                    <li>Góp vốn: tổng lượng tiền thu từ việc góp vốn (tài chính)</li>
                                    <li>Khác: tổng lượng tiền thu từ các khoản khác.</li>
                                </ul>
                            </li>
                            <li>Chi
                                <ul>
                                    <li>Mua hàng: tổng lượng tiền chi mua hàng.</li>
                                    <li>Khách trả hàng: tổng lượng tiền chi khách trả hàng.</li>
                                    <li>Chi phí: tổng lượng tiền về chi phí (điện nước, mặt bằng,…)</li>
                                    <li>Rút vốn: tổng lượng tiền chi rút vốn (tài chính)</li>
                                    <li>Khác: tổng lượng tiền chi cho các khoản khác.</li>
                                </ul>
                            </li>
                            <li>Khoản phải thu
                                <ul>
                                    <li>Phải thu khách hàng: lượng tiền cần thu của khách hàng còn nợ khi mua hàng.</li>
                                    <li>Phải thu trên phiếu: lượng tiền cần thu cho những đơn hàng còn nợ.</li>
                                </ul>
                            </li>
                            <li>Khoản phải trả: lượng tiền cần thanh toán mua hàng cho nhà cung cấp.</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        <p>&nbsp;</p>
        <p>Click vào <strong>tab Thu</strong>&nbsp;sẽ hiển thị các danh sách các khoản thu của cửa hàng.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2016/06/manhinhthu.png">
            <img class="aligncenter size-large wp-image-1085" src="http://hotro.suno.vn/wp-content/uploads/2016/06/manhinhthu-1024x337.png" alt="manhinhthu" width="980" height="323"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây hiển thị tất cả các phiếu thu được tạo trên hệ thống bao gồm:</p>
        <ul>
            <li>Thu bán hàng</li>
            <li>Thu xuất trả hàng NCC</li>
            <li>Thu cấn nợ trả hàng</li>
            <li>Thu góp vốn</li>
            <li>Các khoản thu khác</li>
        </ul>
        <p>Click vào <strong>tab chi</strong>, hệ thống hiển thị danh sách các khoản chi của cửa hàng.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2016/06/manhinhchi.png">
            <img class="aligncenter size-large wp-image-1086" src="http://hotro.suno.vn/wp-content/uploads/2016/06/manhinhchi-1024x332.png" alt="manhinhchi" width="980" height="318"></a></p>
        <p>Tại đây sẽ hiển thị tất cả các phiếu chi đã tạo trên hệ thống bao gồm:</p>
        <p>Chi mua hàng</p>
        <p>Chi khách hàng trả hàng</p>
        <p>Chi rút vốn</p>
        <p>Các loại chi phí khác ( điện, nước, mặt bằng, lương nhân viên … )</p>
        <p>Click vào <strong>tab sổ quĩ</strong>, hệ thống sẽ hiển thị lịch sử thu chi theo thời gian.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2016/06/soqui.png">
            <img class="aligncenter size-large wp-image-1087" src="http://hotro.suno.vn/wp-content/uploads/2016/06/soqui-1024x306.png" alt="soqui" width="980" height="293"></a></p>
        <p>&nbsp;</p>
        
    </div>
</article>


