<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để quản lý tồn kho, chọn Tồn kho, tại đây ta có thông tin sơ bộ Ngày lập, Số lượng tồn kho, Tổng vốn tồn kho, Tổng giá trị tồn kho, Mã hàng hóa, Tên hàng hóa…</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_18.png">
            <img class="aligncenter wp-image-873 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_18-1024x423.png" alt="" width="980" height="405"></a></p>
        <p>&nbsp;</p>
        <p>Để kiểm tra nhanh tình trạng tồn kho một sản phẩm, ta nhập tên hoặc mã hàng hóa:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-ton-kho-02.png">
            <img class="aligncenter size-full wp-image-216" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-ton-kho-02.png" alt="quan-ly-ton-kho-02" width="965" height="53"></a></p>
        <p>&nbsp;</p>
        <p>Hoặc tìm kiếm theo nhóm hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-ton-kho-03.png">
            <img class="aligncenter size-full wp-image-217" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-ton-kho-03.png" alt="quan-ly-ton-kho-03" width="964" height="138"></a></p>
        <p>&nbsp;</p>
        <p>Tìm kiếm hàng tồn, hàng đã hết, sắp hết hàng, vượt định mức hoặc tồn kho lâu:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-ton-kho-04.png">
            <img class="aligncenter size-full wp-image-218" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-ton-kho-04.png" alt="quan-ly-ton-kho-04" width="992" height="161"></a></p>
        <p>&nbsp;</p>
        <p>Để xem thẻ tồn một sản phẩm, ta chọn mã hoặc tên sản phẩm:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_38.png">
            <img class="aligncenter wp-image-875 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_38-1024x285.png" alt="" width="980" height="273"></a></p>
        <p>&nbsp;</p>
        <p>Tại đây ta có toàn bộ thông tin, chứng từ, lịch sử xuất nhập tồn của sản phẩm:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_54.png">
            <img class="aligncenter wp-image-869 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_54.png" alt="" width="671" height="287"></a></p>
        
    </div>
</article>


