<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/chuyenkho_them_chon.png")" alt="tao-phieu-chuyen-kho"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/chuyenkho_them.png")" alt="tao-phieu-chuyen-kho"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/chuyenkho_quanly.png")" alt="da-tao-phieu-chuyen-kho"  />
        </p>
    </div>
</article>



