<article class="clearfix">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Chọn mục con <b>Chuyển kho<b/> trong mục <b>Tồn kho</b> như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/chuyenkho_chon.png")" alt="quan-ly-chuyen-kho"  />
        </p>
        <p>
            Phiếu chuyển kho được lập để chuyển hàng hóa từ một cửa hàng sang cửa hàng khác.
        </p>
        <p>&nbsp</p>

        <p>Để tìm kiếm thông tin phiếu có thể tìm bằng mã phiếu hoặc lọc theo trạng thái (Lưu tạm/Đã chuyển)</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/chuyenkho_quanly.png")" alt="quan-ly-chuyen-kho"  />
        </p>
         <p>Có thể xem thông tin của phiếu bằng cách nhấn mã phiếu</p>
    </div>
</article>


