<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/kiemke_them_chon.png")" alt="tao-phieu-kiem-ke-hang-hoa"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/kiemke_them.png")" alt="tao-phieu-kiem-ke-hang-hoa"  />
        </p>
    </div>
</article>


