<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để tạo phiếu kiểm kê, chọn <strong>+ Tạo phiếu</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_19.png">
            <img class="aligncenter wp-image-877 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_19-1024x200.png" alt="" width="980" height="191"></a></p>
        <p>&nbsp;</p>
        <p><strong>Nhập tên hoặc mã hàng hóa để thêm vào phiếu:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_27.png">
            <img class="aligncenter wp-image-879 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_27-1024x546.png" alt="" width="980" height="523"></a></p>
        <p>&nbsp;</p>
        <p>Sau khi nhập tên tìm kiếm, hệ thống sẽ tự động liệt kê những sản phẩm phù hợp, nhấp chuột hoặc di chuyển phím lên, xuống trên bàn phím và enter để chọn sản phẩm:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-kiem-ke-03.png">
            <img class="aligncenter size-full wp-image-232" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-kiem-ke-03.png" alt="tao-phieu-kiem-ke-03" width="761" height="275"></a></p>
        <p>&nbsp;</p>
        <p>Sau khi kiểm kho, ta có thể thay đổi số liệu <strong>Tồn thực tế</strong> và <strong>Diễn giải</strong> tại bước này:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-kiem-ke-04.png">
            <img class="aligncenter size-full wp-image-233" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-kiem-ke-04.png" alt="tao-phieu-kiem-ke-04" width="749" height="181"></a></p>
        <p>&nbsp;</p>
        <p><strong>Phần thông tin phiếu, ta chọn ngày kiểm kê</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_39.png">
            <img class="aligncenter wp-image-880 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_39.png" alt="" width="394" height="441"></a></p>
        <p>&nbsp;</p>
        <p><strong>Và giờ kiểm kê</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_46.png">
            <img class="aligncenter wp-image-881 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_46.png" alt="" width="382" height="399"></a></p>
        <p>&nbsp;</p>
        <p><strong>Nếu có ghi chú thì thêm tại đây:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_55.png">
            <img class="aligncenter wp-image-882 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_55.png" alt="" width="380" height="344"></a></p>
        <p>&nbsp;</p>
        <p>
            <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-kiem-ke-08.png">
                <br>
            </a><strong>Cuối cùng có 3 lựa chọn:</strong>
        </p>
        <p>
            <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_65.png">
                <img class="aligncenter wp-image-883 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_65.png" alt="" width="282" height="41"></a><br>
            <strong>Lưu:</strong> Phiếu kiểm kê sẽ chuyển sang tình trạng Đang kiểm kê.<br>
            <strong>Cân bằng:</strong> Phiếu kiểm kê sẽ chuyển sang tình trạng Đã kiếm kê.<br>
            <strong>Hủy:</strong> để hủy phiếu kiểm kê.
        </p>
    </div>
</article>


