<article class="clearfix ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để tạo phiếu chuyển kho nhấn nút <b>Tạo phiếu</b> ở trang quản lý chuyển kho như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/chuyenkho_them_chon.png")" alt="tao-phieu-chuyen-kho"  />
        </p>
        <p>&nbsp</p>

        <p>Các thông tin của phiếu chuyển hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/chuyenkho_them.png")" alt="tao-phieu-chuyen-kho"  />
        </p>
        <p>
            Thông tin gồm có: <br />
            - Danh sách các hàng hóa và số lượng chuyển.<br />
            - Thông tin về phiếu : Mã phiếu, Cửa hàng nhận, Ghi chú.<br />
            <br />
            

        </p>
        <p>&nbsp</p>

        <p><b>Lưu kết quả</b><br />
            <b>Lưu tạm</b> : Lưu tạm kết quả, chưa chuyển hàng hóa <br />
            <b>Chuyển</b> : Lưu phiếu chuyển kho <br />
            <b>Trở về</b> : Hủy và trở về trang quản lý <br />
        </p>
        <p>&nbsp</p>

        <p>Ví dụ một phiếu chuyển kho được tạo như hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/chuyenkho_quanly.png")" alt="da-tao-phieu-chuyen-kho"  />
        </p>
    </div>
</article>



