<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->
    <div class="entry-content">
        <p>Chọn thẻ <strong>Kiểm kê</strong> để quản lý:</p>
        <p><strong><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_73.png">
            <img class="aligncenter wp-image-886 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_73-1024x222.png" alt="" width="980" height="212"></a></strong></p>
        <p><strong>Nhập mã phiếu để tìm kiếm:</strong></p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_81.png">
            <img class="aligncenter wp-image-887 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_81-1024x192.png" alt="" width="980" height="184"></a></p>
        <p>&nbsp;</p>
        <p>Có thể tìm kiếm phiếu theo trạng thái <strong>Đang kiểm kê</strong> hoặc <strong>Đã kiểm kê</strong>:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-phieu-kiem-ke-03.png">
            <img class="aligncenter size-full wp-image-242" src="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-lai-phieu-kiem-ke-03.png" alt="xem-lai-phieu-kiem-ke-03" width="446" height="164"></a></p>
        <p>&nbsp;</p>
        <p>Sau khi tìm xong phiếu kiểm kê, ta nhấp chuột vào mã phiếu để xem chi tiết:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_91.png">
            <img class="aligncenter wp-image-888 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_91-1024x203.png" alt="" width="980" height="194"></a></p>
        <p>&nbsp;</p>
        <p>Hệ thống sẽ liệt kê ra thông tin chi tiết của phiếu:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_101.png">
            <img class="aligncenter wp-image-889 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_101-1024x484.png" alt="" width="980" height="463"></a></p>
        <p>&nbsp;</p>
        <p>Ngoài ra, ta có thể xuất Excel theo phiếu kiểm kê:</p>
        <p style="text-align: center;"><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_112.png">
            <img class="aligncenter size-large wp-image-891" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_112-1024x478.png" alt="Screenshot_11" width="980" height="457"></a></p>
        
    </div>
</article>


