<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/tonkho_chon.png")" alt="ton-kho-quan-ly"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/tonkho_quanly.png")" alt="ton-kho-quan-ly"  />
        </p>

        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/tonkho_thekho.png")" alt="ton-kho-the-kho"  />
        </p>
    </div>
</article>


