<article class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để xem báo cáo về tình hình xuất-nhập-tồn theo từng khoàng thời gian vào mục con <b>Xuất nhập tồn<b/> trong mục <b>Tồn kho</b> như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/xuatnhapton_chon.png")" alt="xuat-nhap-ton"  />
        </p>
        <p>
            Báo cáo cho biết thông tin tổng tồn đầu kỳ, tổng số lượng nhập, tổng số lượng xuất, tổng tồn cuối kỳ tại cửa hàng. 
            Cũng như thông tin chi tiết cho từng hàng hóa.
        </p>

        <p>&nbsp</p>

        <p><b>Xem thẻ kho của hàng hóa</b><br/>
            Có thể xem thẻ kho của hàng hóa bằng cách nhấn vào mã hoặc tên của hàng hóa. Và được sẽ như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/tonkho_thekho.png")" alt="the-khoa"  />
        </p>
    </div>
</article>


