<article class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>
            Để tạo phiếu kiểm kê nhấn nút <b>Tạo phiếu</b> ở trang quản lý kiểm kê như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/kiemke_them_chon.png")" alt="tao-phieu-kiem-ke-hang-hoa"  />
        </p>
        <p>&nbsp</p>

        <p>Các thông tin của phiếu kiểm kê hình sau:</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/kiemke_them.png")" alt="tao-phieu-kiem-ke-hang-hoa"  />
        </p>
        <p>
            Thông tin kiểm kê gồm có: <br />
            - Danh sách các hàng hóa và số lượng thực tế tương ứng.<br />
            - Thông tin về phiếu : Mã phiếu, ghi chú.<br />
            <br />

        </p>
        <p>&nbsp</p>

        <p><b>Lưu kết quả</b><br />
            <b>Lưu tạm</b> : Lưu tạm kết quả, chưa cân bằng lại số lượng hàng hóa <br />
            <b>Cân hàng </b> : Lưu phiếu kiểm kê <br />
            <b>Trở về</b> : Hủy và trở về trang quản lý <br />
        </p>
    </div>
</article>


