<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để xem lại phiếu chuyển kho, vào menu <strong>Chuyển kho</strong>, sau đó nhập mã phiếu và tìm kiếm:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_110.png">
            <img class="aligncenter wp-image-893 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_110-1024x413.png" alt="" width="980" height="395"></a></p>
        <p>&nbsp;</p>
        <p>Có thể tìm kiếm theo trạng thái: Khởi tạo, Đang chuyển hoặc đã nhận:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-phieu-chuyen-kho-02.png">
            <img class="aligncenter size-full wp-image-279" src="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-phieu-chuyen-kho-02.png" alt="xem-phieu-chuyen-kho-02" width="238" height="150"></a></p>
        <p>&nbsp;</p>
        <p>Sau khi tìm kiếm được phiếu, ta click chọn vào mã phiếu:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-phieu-chuyen-kho-03.png">
            <img class="aligncenter size-full wp-image-280" src="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-phieu-chuyen-kho-03.png" alt="xem-phieu-chuyen-kho-03" width="1152" height="179"></a></p>
        <p>&nbsp;</p>
        <p>Đây là giao diện thông tin phiếu chuyển kho:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-phieu-chuyen-kho-04.png">
            <img class="aligncenter size-full wp-image-281" src="http://hotro.suno.vn/wp-content/uploads/2015/05/xem-phieu-chuyen-kho-04.png" alt="xem-phieu-chuyen-kho-04" width="1142" height="547"></a></p>
        
    </div>


</article>


