<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để quản lý nhập xuất tồn, ta chọn Tồn kho, sau đó chọn thẻ Nhập xuất tồn, tại đây ta có đầy đủ thông tin tổng tồn đầu kỳ, tổng số lượng nhập, tổng số lượng xuất, tổng tồn cuối kỳ…</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_17.png">
            <img class="aligncenter wp-image-864 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_17-1024x451.png" alt="" width="980" height="432"></a></p>
        <p>&nbsp;</p>
        <p>Tìm kiếm nhanh bằng cách nhập tên hoặc mã hàng hóa:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_26.png">
            <img class="aligncenter wp-image-866 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_26-1024x366.png" alt="" width="980" height="350"></a></p>
        <p>Tìm kiếm theo thời gian:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_37.png">
            <img class="aligncenter wp-image-867 size-large" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_37-1024x391.png" alt="" width="980" height="374"></a></p>
        <p>Hoặc tìm kiếm theo các nhóm hàng:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_45.png">
            <img class="aligncenter size-large wp-image-868" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_45-1024x290.png" alt="Screenshot_4" width="980" height="278"></a></p>
        <p>Để kiểm tra tình trạng hàng hóa, ta chọn tên hoặc mã hàng hóa:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-xuat-nhap-ton-04.png">
            <img class="aligncenter size-full wp-image-225" src="http://hotro.suno.vn/wp-content/uploads/2015/05/quan-ly-xuat-nhap-ton-04.png" alt="quan-ly-xuat-nhap-ton-04" width="1140" height="250"></a></p>
        <p>&nbsp;</p>
        <p>Sau đó hệ thống sẽ hiển thị toàn bộ lịch sử thông tin của sản phẩm:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_54.png">
            <img class="aligncenter wp-image-869 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_54.png" alt="" width="671" height="287"></a></p>
        <p>&nbsp;</p>
        <p>Để xuất thành file Excel theo từng kho, ta chọn tên kho rồi chọn Xuất Excel:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_64.png">
            <img class="aligncenter wp-image-870 size-full" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_64.png" alt="" width="672" height="286"></a></p>
        <p>&nbsp;</p>
        <p>
            Ngoài ra ta có thể xuất Excel theo tổng hợp của mặt hàng:<a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_54.png"><br>
            </a><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_64.png">
                <br>
            </a><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_72.png">
                <img class="aligncenter size-large wp-image-871" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_72-1024x281.png" alt="Screenshot_7" width="980" height="269"></a>
        </p>
    </div>
</article>


