<article class="clearfix  ">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->
    <div class="entry-content">
        <p>
            Chọn mục con <b>Kiểm kê<b/> trong mục <b>Tồn kho</b> như hình sau:
        </p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/kiemke_chon.png")" alt="kiem-ke-hang-hoa"  />
        </p>
        <p>Phiếu kiểm kê để kiểm tra lại số lượng thực sự của hàng hóa trong hệ thống phần mềm có khác so với số lượng thực tế hay không. </p>
        <p>&nbsp</p>

        <p>Để tìm kiếm thông tin phiếu kiểm kê có thể tìm bằng mã phiếu hoặc lọc theo trạng thái (Đang kiểm kê/Đã kiểm kê)</p>
        <p>
            <img class="align-center size-full" src="@Url.Content("~/Content/home/images/document/tonkho/kiemke_quanly.png")" alt="quan-ly-kiem-ke-hang-hoa"  />
        </p>
        <p>Có thể xem thông tin của phiếu kiểm kê bằng cách nhấn mã phiếu</p>
    </div>
</article>


