<article class="clearfix  post type-post status-publish format-standard hentry">

    <!-- .entry-header -->
    <header class="entry-header">
    </header>
    <!-- /.entry-header -->

    <div class="entry-content">
        <p>Để tạo phiếu chuyển kho, ta vào menu <strong>Chuyển kho</strong> sau đó chọn <strong>+ Tạo phiếu:</strong></p>
        <p>
            <img class="aligncenter size-full wp-image-270" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-01.png" alt="tao-phieu-chuyen-kho-01" width="1161" height="253"></p>
        <p>Nhập mã Barcode hoặc tên để tìm kiếm hàng hóa:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-02.png">
            <img class="aligncenter size-full wp-image-271" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-02.png" alt="tao-phieu-chuyen-kho-02" width="1170" height="462"></a></p>
        <p>&nbsp;</p>
        <p>Sau khi tìm kiếm hàng hóa cần chuyển kho, ta click chuột để thêm hàng hóa vào phiếu:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-03.png">
            <img class="aligncenter size-full wp-image-272" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-03.png" alt="tao-phieu-chuyen-kho-03" width="1154" height="458"></a></p>
        <p>&nbsp;</p>
        <p>Chọn số lượng hàng hóa cần chuyển:</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-04.png">
            <img class="aligncenter size-full wp-image-273" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-04.png" alt="tao-phieu-chuyen-kho-04" width="773" height="167"></a></p>
        <p>
            <strong>Thông tin phiếu:</strong><br>
            <strong>Mã phiếu:</strong> Hệ thống tự sinh.<br>
            <strong>Tình trạng:</strong> Tình trạng của phiếu.<br>
            <strong>Chuyển đến:</strong> Tùy chọn cửa hàng cần chuyển đến.<br>
            <strong>Ghi chú:</strong> ghi lại những lưu ý trong phiếu chuyển kho.
        </p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-05.png">
            <img class="aligncenter size-full wp-image-274" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-05.png" alt="tao-phieu-chuyen-kho-05" width="368" height="333"></a></p>
        <p><strong>Sau đó tùy chọn:</strong></p>
        <p>
            <strong>Lưu:</strong> lưu tạm phiếu, phiếu nằm ở trạng thái <strong>Khởi tạo</strong>. Sau khi <strong>Lưu&nbsp;</strong>thành công, cần vào đây chọn <strong>Chuyển kho</strong> để hoàn tiến hành các bước tiếp theo.<br>
            <strong>Chuyển kho:</strong>&nbsp;Quá trình chuyển kho được tiến hành, phiếu chuyển sẽ đổi thành trạng thái <strong>Đang chuyển</strong>&nbsp;(cần <strong>Xác nhận</strong> để Phiếu chuyển thành trạng thái <strong>Đã nhận</strong>).<br>
            <strong>Chuyển kho và In:</strong>&nbsp;Phiếu chuyển ở trạng thái <strong>Đang chuyển</strong> (cần <strong>Xác nhận</strong> để Phiếu chuyển thành trạng thái <strong>Đã nhận</strong>) và In thông tin phiếu.<br>
            <strong>Hủy:</strong> Hủy phiếu chuyển kho.<br>
            <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-06.png">
                <img class="aligncenter size-full wp-image-275" src="http://hotro.suno.vn/wp-content/uploads/2015/05/tao-phieu-chuyen-kho-06.png" alt="tao-phieu-chuyen-kho-06" width="424" height="79"></a>
        </p>
        <p><strong>* Quá trình chuyển đổi trạng thái của Phiếu chuyển kho</strong></p>
        <p>Khi<strong> Lưu:</strong> lưu tạm phiếu, phiếu nằm ở trạng thái <strong>Khởi tạo</strong>.</p>
        <p style="text-align: center;"><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_113.png">
            <img class="aligncenter size-large wp-image-897" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_113-1024x257.png" alt="Screenshot_1" width="980" height="246"></a></p>
        <p><span style="line-height: 1.5;">Sau khi </span><strong style="line-height: 1.5;">Lưu</strong><span style="line-height: 1.5;"> thành công, cần vào đây chọn </span><strong style="line-height: 1.5;">Chuyển kho</strong><span style="line-height: 1.5;"> để hoàn tất phiếu.</span></p>
        <p><strong>Chuyển kho:</strong> quá trình chuyển kho thành công, phiếu chuyển sẽ đổi thành trạng thái Đang chuyển</p>
        <p>
            <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_310.png">
                <img class="aligncenter size-large wp-image-898" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_310-1024x257.png" alt="Screenshot_3" width="980" height="246"></a>Để phiếu chuyển kho ở tình trạng <strong>Đã nhận</strong>, ta cần vào lại phiếu chuyển kho và ấn <strong>Xác nhận</strong><br>
            <a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_47.png">
                <img class="aligncenter size-large wp-image-899" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_47-1024x488.png" alt="Screenshot_4" width="980" height="467"></a>
        </p>
        <p>Lúc này phiếu chuyển kho đã chuyển thành tình trạng <strong>Đã nhận</strong>.</p>
        <p><a href="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_56.png">
            <img class="aligncenter size-large wp-image-900" src="http://hotro.suno.vn/wp-content/uploads/2015/05/Screenshot_56-1024x236.png" alt="Screenshot_5" width="980" height="226"></a></p>
        
    </div>
</article>



