<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.0.4" targetFramework="net451" />
  <package id="EntityFramework" version="6.1.1" targetFramework="net451" />
  <package id="SharpRepository.EfRepository" version="1.4.1.0" targetFramework="net451" />
  <package id="SharpRepository.Repository" version="1.4.6.0" targetFramework="net451" />
</packages>