@section scripts
{
    @Scripts.Render("~/bundles/Exception")
}

<div id="ExceptionController" ng-controller="ExceptionController">
    <div class="container-fluid">
        <div class="row" style="padding-bottom: 10px; padding-top: 5px">
            <div class="col-md-5 margin-top-5">
                <span grid-filter-for="Exceptions" place-holder-message="Tìm kiếm"></span>
            </div>
            <div class="col-md-2 margin-top-5">
                <select class="form-control input-sm" ng-model="AdditionalFilter.ExceptionType" ng-change="ReloadGrid('Exceptions')">
                    <option selected="selected" value="0">Chưa fix</option>
                    <option value="1">Đã fix</option>
                </select>
            </div>
            <div class="col-md-5 pull-right text-right margin-top-5">
                <button class="btn btn-success btn-primary" data-toggle="modal"
                        data-target="#exceptionModal"
                        ng-if="ExceptionFormConfig._CanCreate">
                    <i class="fa fa-bug white"></i>
                    <span>Tạo Bug</span>
                </button>
            </div>
        </div>
        <div class="row col-md-12">
            <div class="table-responsive">
                <table grid-data="Exceptions"
                       grid-data-type="table" @*table/storedprocedure*@
                       grid-data-action="get" @*get/getall*@
                       grid-data-object="T_System_Exception_Log" @*table name or stored procedure name*@
                       grid-filter-condition="[IsResolve] = {{AdditionalFilter.ExceptionType}}"
                       @*must have [fieldname] for each colum field*@
                       grid-sort-condition="[CreatedDate] DESC" @*must have [fieldname] for each colum field*@
                       class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th grid-defined-colum="ObjectName"><span>Object</span></th>
                            <th grid-defined-colum="ErrorMessage"><span>Message</span></th>
                            <th grid-defined-colum="Data"><span>Data</span></th>
                            <th grid-defined-colum="Source"><span>Source</span></th>
                            <th grid-defined-colum="CreatedBy.UserName, Logger"><span>Logged By</span></th>
                            <th grid-defined-colum="Hero.UserName, Hero"><span>Hero</span></th>
                            <th grid-defined-colum="Remarks"><span>Remarks</span></th>
                            <th></th>
                            <th grid-defined-colum="Id" class="none-display"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @*Dataset must have grid id*@
                        <tr ng-repeat="item in DataSet.Exceptions.Data">
                            <td ng-bind="item.ObjectName"></td>
                            <td style="max-width: 200px; word-break: break-all;"
                                ng-bind="item.ErrorMessage"></td>
                            <td style="max-width: 200px; word-break: break-all;"
                                ng-bind="item.Data"></td>
                            <td style="max-width: 200px; word-break: break-all;"
                                ng-bind="item.Source"></td>
                            <td ng-bind="item.Logger"></td>
                            <td ng-bind="item.Hero"></td>
                            <td>
                                <span ng-if="!item._CanUpdate" ng-bind="item.Remarks"></span>
                                <input class="form-control" ng-if="item._CanUpdate" ng-model="item.Remarks"
                                       check-empty="" check-empty-message="Vui lòng nhập ghi chú."
                                       check-under="Ex{{item.Id}}" />
                            </td>
                            <td>
                                <button class="btn btn-primary"
                                        ng-if="item._CanUpdate"
                                        ng-click="ResolveBug(item)">
                                    Resolve
                                </button>
                            </td>
                        </tr>
                        <tr ng-if="!DataSet.Exceptions.HasRecord()">
                            @*Edit colspan*@
                            <td colspan="8" align="center"> Không có dữ liệu! </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col-md-9 pull-left">
                        <span grid-paging-for="Exceptions"></span>
                    </div>

                    <div class="col-md-3 pull-right">
                        <span grid-page-size-for="Exceptions"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="exceptionModal" class="modal fade " role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header infobox-blue white border-6">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Tạo mới Bug </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label ">Object </label>
                            <div class="col-sm-7">
                                <input class="form-control" ng-model="ExceptionForm.ObjectName"
                                       check-empty="" check-empty-message="Vui lòng nhập chức năng bị lỗi."
                                       check-length="100" check-length-message="Chiều dài tối ta là {0}."
                                       check-under="check-bug" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label ">Error Message </label>
                            <div class="col-sm-7">
                                <input class="form-control" ng-model="ExceptionForm.ErrorMessage"
                                       check-empty="" check-empty-message="Vui lòng mô tả lỗi"
                                       check-length="1000" check-length-message="Chiều dài tối ta là {0}."
                                       check-under="check-bug" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label ">Data </label>
                            <div class="col-sm-7">
                                <input class="form-control" ng-model="ExceptionForm.Data"
                                       check-empty="" check-empty-message="Vui lòng nhập dữ liệu gây ra lỗi."
                                       check-under="check-bug" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label ">Source </label>
                            <div class="col-sm-7">
                                <input class="form-control" ng-model="ExceptionForm.Source"
                                       check-length="100" check-length-message="Chiều dài tối ta là {0}."
                                       check-under="check-bug" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa-undo fa"></i>
                        Trở về
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="SaveBug()">
                        <i class="fa-save fa"></i>
                        Lưu
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>