<div id="FilesController" ng-controller="FilesController">
    <div class="container-fluid none-display" ng-class="{'active-content' : !IsShowFilesDetail}">
        <div >
            <div class="row" style="padding-top: 5px">
                <div class="col-md-6">
                    <h4 class="dashboard-title">
                        <i class="fa-file fa"></i>&nbsp;Tài liệu 
                    </h4>
                </div>
                <div class="col-md-4 pull-right text-right">
                    <button class="btn btn-success btn-primary" ng-click="AddFile()"
                            ng-if="FilesFormConfig._CanCreate">
                        <i class="fa fa-plus white"></i>
                        <span>Thêm tài liệu</span>
                    </button>
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px; padding-top: 5px">
                <div class="col-md-5 margin-top-5">
                    <span grid-filter-for="Files" place-holder-message="Nhập tên tài liệu để tìm kiếm"></span>
                </div>
                <div class="col-md-2 margin-top-5">
                    <select class="form-control input-sm" ng-model="AdditionalFilter.FileTypeId" dropdown-master-table="T_Master_FileType" 
                         dropdown-value-field="FileTypeId" dropdown-name-field="TypeName" dropdown-empty-text="Chọn loại tài liệu" 
                         ng-change="ReloadGrid('Files')" dropdown-condition="[IsActive]  = 1">

                    </select>

                </div>
                <div class="col-md-5 margin-top-5">
                     
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table grid-data="Files"
                               grid-data-type="table" @*table/storedprocedure*@
                               grid-data-action="get" @*get/getall*@
                               grid-data-object="T_Master_File" @*table name or stored procedure name*@
                               grid-filter-condition="([IsActive] = 1 ) and ([FileTypeId] <> 1) and ([StoreId] = {{CurrentStore}}) and ({{AdditionalFilter.FileTypeId}} = 0 or {{AdditionalFilter.FileTypeId}} = [FileTypeId])"
                               @*must have [fieldname] for each colum field*@
                               grid-sort-condition="[CreatedDate] DESC" @*must have [fieldname] for each colum field*@
                               grid-sum-collection="" @*must have [fieldname] for each colum field*@
                               class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th grid-defined-colum="!FileId" class="none-display"></th>
                                    <th grid-defined-colum="FileName"><span>Tên tài liệu</span></th>
                                    <th grid-defined-colum="FileTypeId.TypeName , FileTypeName"><span>Loại tài liệu</span></th>
                                    <th><span>Tài liệu</span></th>
                                    <th grid-defined-colum="CreatedBy.UserName , UserName "><span>Người nhập</span></th>
                                    <th grid-defined-colum="CreatedDate"><span>Ngày nhập</span></th>
                                    <th></th>
                                    <th grid-defined-colum="!IsActive" class="none-display"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*Dataset must have grid id*@
                                <tr ng-repeat="item in DataSet.Files.Data">
                                    <td><a href="#" ng-bind="item.FileName" ng-click="ShowFilesDetail(item)"></a></td>
                                    <td ng-bind="item.FileTypeName"></td>
                                    <td align="center"><a href="~/download/{{item.FileId}}" download><i class="fa fa-file" ></i></a></td>
                                    <td ng-bind="item.UserName"></td>
                                    <td ng-bind="item.CreatedDate"></td>
                                    <td>
                                        <a class="red margin-left-10" ng-click="DeleteFiles(item, 1)" ng-if="item._CanDelete">
                                            <i class="fa-trash fa"></i>
                                        </a>
                                    </td>
                                </tr>

                                <tr ng-if="!DataSet.Files.HasRecord()">
                                    @*Edit colspan*@
                                    <td colspan="9" align="center"> Không có dữ liệu! </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="9" align="left">
                                        <div style="float: left;">
                                            <span>Tổng tài liệu: </span><span class="total-highlight" ng-bind="DataSet.Files.TotalItems"></span>
                                           
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <span grid-paging-for="Files"></span>
                        </div>

                        <div class="col-md-3">
                            <span grid-page-size-for="Files"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- Files Modal -->
    <div id="filesModal" class="modal fade " role="dialog">
        <div class="modal-dialog modal-lg">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header infobox-primary white border-6">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Thêm tài liệu</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label ">Tên tài liệu </label>
                            <div class="col-sm-7">
                                <input class="form-control" ng-model="FilesForm.FileName" placeholder="Nhập tên tài liệu (bắt buộc)" 
                                       check-empty="" check-empty-message="Vui lòng nhập tên tài liệu."
                                       check-length="300" check-length-message="Chiều dài tối ta là {0}." 
                                        check-under="check-files"/>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label ">Loại tài liệu </label>
                            <div class="col-sm-7">
                                <select class="form-control input-md" ng-model="FilesForm.FileTypeId" dropdown-master-table="T_Master_FileType" 
                                    dropdown-value-field="FileTypeId" dropdown-name-field="TypeName" dropdown-empty-text="Chọn loại tài liệu" 
                                    dropdown-condition="[IsActive]  = 1 "
                                    check-empty="0"  check-empty-message="Vui lòng chọn loại tài liệu." check-under="check-files"></select>
                                </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-sm-4 control-label " ng-show="FilesForm.FileId<=0" >Chọn tài liệu</label>
                            <label class="col-sm-4 control-label " ng-show="FilesForm.FileId>0" >Tải tài liệu</label>
                            <div class="col-sm-7">
                                <input id="uploadfile" type="file" data-show-upload="false" ng-show="FilesForm.FileId<=0"
                                   check-file-size="10485760"
                                   check-file-size-message="Kích thước file không được quá 10MB" />
                                <a href="~/download/{{FilesForm.FileId}}" download ng-show="FilesForm.FileId>0"><i class="fa fa-file"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <i class="fa-undo fa"></i>
                        Trở về
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="SaveFilesForm()">
                        <i class="fa-save fa"></i>
                        Lưu
                    </button>
                </div>
            </div>
            
        </div>
    </div>   
    <!-- End Files Modal -->
        


</div>