@{
    ViewBag.Title = "Store Management";
}

@section scripts
{
    @Scripts.Render("~/bundles/DataList")
}

<div ng-controller="RootController">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header" style="margin-top: 5px; margin-bottom: 7px; color: #307ECC; font-size: 20px">Thu chi</h3>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>

</div>

