<div ng-controller="ManageStoreController">
    <div class="container-fluid">
        <div class="row" style="padding: 10px 6px; margin: 10px -18px;">
            <div class="col-md-4 col-sm-6">
                <div class="widget-box bd-orange">
                    <div class="widget-header infobox-orange">
                        <h4 class="widget-title">
                            <i class="fa-dashcube fa"></i>
                            <span>Thông tin chung</span>
                        </h4>
                    </div>

                    <div class="widget-body" style="border: none; min-height: 144px;">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-9 info">
                                    <span>Số cửa hàng đang hoạt động</span>
                                </div>
                                <div class="col-xs-3 data text-right">
                                    <a href="#" ng-click="ChangeStoreType('1')"
                                       ng-bind="GeneralInfo.ActiveStores"></a>
                                </div>
                                <div class="col-xs-9 info">
                                    <span>Số cửa hàng đang hết hạn chờ kích hoạt</span>
                                </div>
                                <div class="col-xs-3 data text-right">
                                    <a href="#" ng-click="ChangeStoreType('2')"
                                       ng-bind="GeneralInfo.PendingStores"></a>
                                </div>
                                <div class="col-xs-9 info">
                                    <span>Số cửa hàng đã ngừng hoạt động</span>
                                </div>
                                <div class="col-xs-3 data text-right">
                                    <a href="#" ng-click="ChangeStoreType('3')"
                                       ng-bind="GeneralInfo.DeactiveStores"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="widget-box bd-green">
                    <div class="widget-header infobox-green">
                        <h4 class="widget-title">
                            <i class="fa-money fa"></i>
                            <span>Thông tin chi phí</span>
                        </h4>
                    </div>
                    <div class="widget-body" style="border: none; min-height: 144px;">
                        <div class="widget-main">
                            <div class="row">
                                <div class="col-xs-7 info">
                                    <span>Tổng chi phí</span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#"
                                       ng-bind="GeneralInfo.SumCost| currency:'':0"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span>Tổng doanh thu</span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#"
                                       ng-bind="GeneralInfo.Revenue| currency:'':0"></a>
                                </div>
                                <div class="col-xs-7 info">
                                    <span>Tổng lợi nhuận</span>
                                </div>
                                <div class="col-xs-5 data text-right">
                                    <a href="#"
                                       ng-bind="GeneralInfo.Profit| currency:'':0"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <a name="Stores"></a>
        <div class="row" style="padding-top: 5px">
            <div class="col-md-6">
                <h4 class="dashboard-title">
                    <i class="fa-shopping-cart fa"></i>
                    <span>Cửa hàng</span>
                </h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px; padding-top: 10px">
            <div class="col-md-5 col-xs-12 margin-top-5">
                <span grid-filter-for="Stores" place-holder-message="Nhập tên hoặc mã cửa hàng để tìm kiếm"></span>
            </div>
            <div class="col-md-2 col-xs-12 margin-top-5">
                <select class="form-control input-sm" ng-model="AdditionalFilter.StoreStatus" ng-change="ReloadGrid('Stores')">
                    <option selected="selected" value="1">Đang hoạt động</option>
                    <option value="2">Đang hết hạn chờ kích hoạt</option>
                    <option value="3">Đã bị ngừng hoạt động</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table grid-data="Stores"
                           grid-data-type="table" @*table/storedprocedure*@
                           grid-data-action="get" @*get/getall*@
                           grid-data-object="T_Master_Stores" @*table name or stored procedure name*@
                           grid-filter-condition="(([IsActive] = 1 and {{AdditionalFilter.StoreStatus}} = 1 and [LastWorkingDate] >= dbo.UFN_System_GetCurrentTime())
                    or ({{AdditionalFilter.StoreStatus}} = 2 and  [IsActive] = 1 and [LastWorkingDate] < dbo.UFN_System_GetCurrentTime())
                    or ({{AdditionalFilter.StoreStatus}} = 3 and [IsActive] = 0 and [IsPernamentDelete] = 0))"
                           @*must have [fieldname] for each colum field*@
                           grid-sort-condition="[StoreCode] ASC" @*must have [fieldname] for each colum field*@
                           class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th grid-defined-colum="StoreCode"><span>Mã cửa hàng</span></th>
                                <th grid-defined-colum="StoreName"><span>Tên cửa hàng</span></th>
                                <th grid-defined-colum="PresenterName"><span>Người đại diện</span></th>
                                <th grid-defined-colum="PhoneNumber"><span>Số điện thoại</span></th>
                                <th grid-defined-colum="Address"><span>Địa chỉ</span></th>
                                <th grid-defined-colum="CreatedDate"><span>Ngày tạo</span></th>
                                <th grid-defined-colum="LastWorkingDate"><span>Ngày hết hạn</span></th>
                                <th style="width: 10%"></th>
                                <th grid-defined-colum="StoreId" class="none-display"></th>
                                <th grid-defined-colum="IsActive" class="none-display"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*Dataset must have grid id*@
                            <tr ng-repeat="item in DataSet.Stores.Data">
                                <td><span ng-bind="item.StoreCode"> </span></td>
                                <td><span ng-bind="item.StoreName"></span></td>
                                <td><span ng-bind="item.PresenterName"> </span></td>
                                <td><span ng-bind="item.PhoneNumber"></span></td>
                                <td><span ng-bind="item.Address"> </span></td>
                                <td><span ng-bind="item.CreatedDate"></span></td>
                                <td><span ng-bind="item.LastWorkingDate"> </span></td>
                                <td>
                                    <a class="blue margin-left-10"
                                       title="Thêm ngày hoạt động" ng-click="OpenExtendStore(item.StoreId)" 
                                       data-toggle="modal" data-target="#extendStoreModal">
                                        <i class="fa-plus-square fa"></i>
                                    </a>
                                    <a class="blue margin-left-10" ng-if="item.IsActive == 1"
                                       title="Tạm ngừng hoạt động" ng-click="DeactivateStore(item)">
                                        <i class="fa-stop-circle fa"></i>
                                    </a>
                                    <a class="blue margin-left-10" ng-if="item.IsActive == 0"
                                       title="Xóa dữ liệu cửa hàng" ng-click="DeletePernamentStore(item)">
                                        <i class="fa-remove fa"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="!DataSet.Stores.HasRecord()">
                                @*Edit colspan*@
                                <td colspan="8" align="center"> Không có dữ liệu! </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span grid-paging-for="Stores"></span>
                    </div>
                    <div class="col-md-3">
                        <span grid-page-size-for="Stores"></span>
                    </div>
                </div>
            </div>
        </div>

        <a name="Revenue"></a>
        <div class="row" style="padding-top: 5px">
            <div class="col-md-6">
                <h4 class="dashboard-title">
                    <i class="fa-dollar fa"></i>
                    <span>Tiền thu</span>
                </h4>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px; padding-top: 10px">
            <div class="col-md-5 col-xs-12 margin-top-5">
                <span grid-filter-for="Revenue" place-holder-message="Nhập mã, tên cửa hàng, người nộp hoặc người nhận tiền"></span>
            </div>
            <div class="col-md-5 col-xs-12 margin-top-5">
                <span date-range-filter-for="Revenue,Costs" date-range-init-code="2"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table grid-data="Revenue"
                           grid-data-type="table" @*table/storedprocedure*@
                           grid-data-action="get" @*get/getall*@
                           grid-data-object="T_Trans_StoreActivation" @*table name or stored procedure name*@
                           grid-filter-condition="[IsActive] = 1 and convert(date, [CreatedDate]) between dbo.UFN_System_GetDateTime(''{{FilterRangeDate.StartDate}}'', ''dd-MM-yyyy'')
                                                    and  dbo.UFN_System_GetDateTime(''{{FilterRangeDate.EndDate}}'', ''dd-MM-yyyy'')
                                                  and ({{AdditionalFilter.PaymentType}} = 0 or [PaymentType] = {{AdditionalFilter.PaymentType}})"
                           @*must have [fieldname] for each colum field*@
                           grid-sort-condition="[CreatedDate] DESC" @*must have [fieldname] for each colum field*@
                           grid-sum-collection="[Amount]" @*must have [fieldname] for each colum field*@
                           class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th grid-defined-colum="StoreId.StoreCode"><span>Mã cửa hàng</span></th>
                                <th grid-defined-colum="StoreId.StoreName"><span>Tên cửa hàng</span></th>
                                <th grid-defined-colum="CreatedDate"><span>Ngày nhập</span></th>
                                <th grid-defined-colum="CreatedBy.UserName, CreatorName"><span>Người nhập</span></th>
                                <th grid-defined-colum="Payer"><span>Người giao tiền</span></th>
                                <th grid-defined-colum="Amount"><span>Số tiền</span></th>
                                <th grid-defined-colum="NumMonth"><span>Số tháng kích hoạt</span></th>
                                <th grid-defined-colum="PaymentType.PaymentName">
                                    <span style="display: inline-block">
                                        <select class="form-control min-width-100" ng-model="AdditionalFilter.PaymentType" dropdown-master-table="T_Master_PaymentType" dropdown-value-field="PaymentId"
                                                dropdown-name-field="PaymentName" dropdown-empty-text="Hình thức nhận" dropdown-empty-value="0"
                                                ng-change="ReloadGrid('Revenue')"></select>
                                    </span>
                                </th>
                                <th grid-defined-colum="Description"><span>Ghi chú</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*Dataset must have grid id*@
                            <tr ng-repeat="item in DataSet.Revenue.Data">                              
                                <td ng-bind="item.StoreCode"></td>
                                <td ng-bind="item.StoreName"></td>
                                <td ng-bind="item.CreatedDate"></td>
                                <td ng-bind="item.CreatorName"></td>
                                <td ng-bind="item.Payer"></td>
                                <td ng-bind="item.Amount | currency:'':0"></td>
                                <td ng-bind="item.NumMonth"></td>
                                <td ng-bind="item.PaymentName"></td>
                                <td ng-bind="item.Description"></td>
                            </tr>
                            <tr ng-if="!DataSet.Revenue.HasRecord()">
                                @*Edit colspan*@
                                <td colspan="9" align="center"> <span>Không có dữ liệu!</span> </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="9" align="left">
                                    <div style="float: left;">
                                        Tổng tiền: <span class="total-highlight"><span ng-bind="DataSet.Revenue.Sums.Amount | currency:'':0"></span> đ</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span grid-paging-for="Revenue"></span>
                    </div>
                    <div class="col-md-3">
                        <span grid-page-size-for="Revenue"></span>
                    </div>
                </div>
            </div>
        </div>

        <a name="SumCost"></a>
        <div class="row" style="padding-top: 5px">
            <div class="col-md-6">
                <h4 class="dashboard-title">
                    <i class="fa-file fa"></i>
                    <span>Chi phí</span>
                </h4>
            </div>
            <div class="col-md-4 pull-right text-right">
                <button class="btn btn-success btn-primary" ng-click="AddOrder()" 
                        data-toggle="modal" data-target="#costModal">
                    <i class="fa fa-plus white"></i>
                    <span>Thêm chi phí</span>
                </button>
            </div>
        </div>
        <div class="row" style="padding-bottom: 10px; padding-top: 10px">
            <div class="col-md-5 col-xs-12 margin-top-5">
                <span grid-filter-for="Costs" place-holder-message="Nhập mã, tên phiếu, tên người nhập để tìm kiếm"></span>
            </div>
            <div class="col-md-5 col-xs-12 margin-top-5">
                <span date-range-filter-for="Costs,Revenue" date-range-init-code="2"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table grid-data="Costs"
                           grid-data-type="table" @*table/storedprocedure*@
                           grid-data-action="get" @*get/getall*@
                           grid-data-object="T_Trans_CostPholo" @*table name or stored procedure name*@
                           grid-filter-condition="[IsActive] = 1 and
                                                   convert(date, [CreatedDate]) between dbo.UFN_System_GetDateTime(''{{FilterRangeDate.StartDate}}'', ''dd-MM-yyyy'')
                                                                                and  dbo.UFN_System_GetDateTime(''{{FilterRangeDate.EndDate}}'', ''dd-MM-yyyy'')"
                           @*must have [fieldname] for each colum field*@
                           grid-sort-condition="[CreatedDate] DESC" @*must have [fieldname] for each colum field*@
                           grid-sum-collection="[Amount]" @*must have [fieldname] for each colum field*@
                           class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th grid-defined-colum="CostCode"><span>Mã phiếu</span></th>
                                <th grid-defined-colum="CostName"><span>Tên phiếu</span></th>
                                <th grid-defined-colum="Amount"><span>Số tiền</span></th>
                                <th grid-defined-colum="Notes"><span>Ghi chú</span></th>
                                <th grid-defined-colum="CreatedDate"><span>Ngày nhập</span></th>
                                <th grid-defined-colum="CreatedBy.UserName, CreatorName"><span>Người nhập</span></th>                     
                            </tr>
                        </thead>
                        <tbody>
                            @*Dataset must have grid id*@
                            <tr ng-repeat="item in DataSet.Costs.Data">
                                <td ng-bind="item.CostCode"></td>
                                <td ng-bind="item.CostName"></td>
                                <td ng-bind="item.Amount| currency:'':0"></td>
                                <td ng-bind="item.Notes"></td>
                                <td ng-bind="item.CreatedDate"></td>
                                <td ng-bind="item.CreatorName"></td>
                            </tr>
                            <tr ng-if="!DataSet.Costs.HasRecord()">
                                @*Edit colspan*@
                                <td colspan="6" align="center"> <span>Không có dữ liệu!</span> </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6" align="left">
                                    <div style="float: left;">
                                        Tổng tiền: <span class="total-highlight"><span ng-bind="DataSet.Costs.Sums.Amount | currency:'':0"></span> đ</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="row">
                    <div class="col-md-9">
                        <span grid-paging-for="Costs"></span>
                    </div>
                    <div class="col-md-3">
                        <span grid-page-size-for="Costs"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div ng-include src="'@Url.Action("ExtendStoreModal", "Admin")'">
    </div>
    <div ng-include src="'@Url.Action("CostPholoModal", "Admin")'">
    </div>
</div>
