@{
    ViewBag.Title = "Store Management";
}

@section scripts
{
    @Scripts.Render("~/bundles/Payment")
}

<div id="InventoryController" ng-controller="InventoryController">
    <div class="container-fluid">

        <div class="row">
            <div class="tabbable" style="padding-top: 10px">
                <ul class="nav nav-tabs padding-left-18">
                    <li class="active" ng-click="SetCurrentTab('Costs')">
                        <a data-toggle="tab">
                            <i class="blue fa-file-text fa"></i>
                            <span>Chi phí</span>
                        </a>
                    </li>
                    <li class="" ng-click="SetCurrentTab('Payments')">
                        <a data-toggle="tab">
                            <i class="blue fa-sign-in fa"></i>
                            <span>Thu tiền</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="tab-content no-border active">
                <div class="tab-pane col-md-12 active" ng-class="{active : (CurrentTab =='Costs') }">
                    <div class="row margin-top-10">
                        <div class="col-md-5 pull-right text-right">
                            <button class="btn btn-success btn-primary" ng-click="AddOrder()">
                                <i class="fa fa-plus white"></i>
                                <span>Thêm phiếu chi</span>
                            </button>
                            <span grid-export-import-for="Costs"></span>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px; padding-top: 10px">
                        <div class="col-md-5">
                            <span grid-filter-for="Costs" place-holder-message="Nhập mã, tên hoặc loại chi phí"></span>
                        </div>
                        <div class="col-md-2">
                            <select class="form-control input-sm" ng-model="AdditionalFilter.CostType" ng-change="ReloadGrid('Costs')">
                                <option value="1">Phiếu chi</option>
                                <option value="2">Phiếu chi đã xóa</option>
                            </select>
                        </div>
                        <div class="col-md-5 text-right">
                            <input type="text" class="form-control input-sm datepicker width-20" ng-model="AdditionalFilter.StartDate"
                                   placeholder="Từ ngày" ng-change="ReloadGrid('Costs')">
                            <input type="text" class="form-control input-sm datepicker width-20" ng-model="AdditionalFilter.EndDate"
                                   placeholder="Đến ngày" ng-change="ReloadGrid('Costs')">
                            <button type="button" class="btn btn-sm btn-outline" ng-class="{1:'clicked'}[RangeDate]" ng-click="SetRangeDate(1)">Tuần</button>
                            <button type="button" class="btn btn-sm btn-outline" ng-class="{2:'clicked'}[RangeDate]" ng-click="SetRangeDate(2)">Tháng</button>
                            <button type="button" class="btn btn-sm btn-outline" ng-class="{3:'clicked'}[RangeDate]" ng-click="SetRangeDate(3)">Quí</button>
                            <button type="button" class="btn btn-sm btn-outline" ng-class="{4:'clicked', 5:'clicked', 6:'clicked'}[RangeDate]" data-toggle="dropdown" style="padding: 5px 3px"><i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right" ] role="menu">
                                <li><a href="#" ng-click="SetRangeDate(4)">Tuần trước</a></li>
                                <li><a href="#" ng-click="SetRangeDate(5)">Tháng trước</a></li>
                                <li><a href="#" ng-click="SetRangeDate(6)">Quí trước</a></li>
                            </ul>
                        </div>
                    </div>

                    <table grid-data="Costs"
                           grid-data-type="table" @*table/storedprocedure*@
                           grid-data-action="get" @*get/getall*@
                           grid-data-object="T_Trans_Cost" @*table name or stored procedure name*@
                           grid-filter-condition="([IsActive] = 1 and {{AdditionalFilter.CostType}} = 1
                                                    or [IsActive] = 0 and {{AdditionalFilter.CostType}} = 2)
                                                   and ({{AdditionalFilter.Status}} = 0 or {{AdditionalFilter.Status}} = [CostTypeId])
                                                   and  (''{{AdditionalFilter.StartDate}}'' = ''''
                                                    or ''{{AdditionalFilter.StartDate}}'' <> '''' and convert(date, [PaidDate]) >= dbo.UFN_System_GetDateTime(''{{AdditionalFilter.StartDate}}'', ''dd-MM-yyyy''))
                                                   and  (''{{AdditionalFilter.EndDate}}'' = ''''
                                                    or ''{{AdditionalFilter.EndDate}}'' <> '''' and convert(date, [PaidDate]) <= dbo.UFN_System_GetDateTime(''{{AdditionalFilter.EndDate}}'', ''dd-MM-yyyy''))" @*must have [fieldname] for each colum field*@
                           grid-sort-condition="[CostCode] ASC" @*must have [fieldname] for each colum field*@
                           grid-sum-collection="[Amount]" @*must have [fieldname] for each colum field*@
                           class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th grid-defined-colum="CostId" class="none-display"></th>
                                <th grid-defined-colum="CostCode"><span>Mã phiếu</span></th>
                                <th grid-defined-colum="CostName"><span>Tên phiếu</span></th>
                                <th grid-defined-colum="PaidDate"><span>Ngày chi</span></th>
                                <th grid-defined-colum="CostTypeId.CostTypeName">
                                    <span style="display: inline-block">
                                        <select class="form-control" ng-model="AdditionalFilter.Status" dropdown-master-table="T_Master_CostTypes" dropdown-value-field="CostTypeId"
                                                dropdown-name-field="CostTypeName" dropdown-empty-text="Loại chi phí" dropdown-empty-value="0"
                                                ng-change="ReloadGrid('Costs')"></select>
                                    </span>
                                </th>
                                <th grid-defined-colum="CreatedBy.UserName"><span>Người chi</span></th>
                                <th grid-defined-colum="Amount"><span>Tiền chi</span></th>
                                <th></th>
                                <th grid-defined-colum="Notes" class="none-display"></th>
                                <th grid-defined-colum="IsActive" class="none-display"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*Dataset must have grid id*@
                            <tr ng-repeat="item in DataSet.Costs.Data">
                                <td>
                                    <span ng-bind="item.CostCode"></span>
                                    <span ng-if="item.Notes" title="{{item.Notes}}" class="badge badge-primary"
                                          data-toggle="tooltip" data-placement="bottom">
                                        <i class="fa fa-info"></i>
                                    </span>
                                </td>
                                <td ng-bind="item.CostName"></td>
                                <td ng-bind="item.PaidDate"></td>
                                <td ng-bind="item.CostTypeName"></td>
                                <td ng-bind="item.UserName"></td>
                                <td class="bold" ng-bind="item.Amount | currency:'':0 "></td>
                                <td>
                                    <a class="grey margin-left-10">
                                        <i class="fa-print fa"></i>
                                    </a>
                                    <a class="red margin-left-10" ng-if="item.IsActive == 1" ng-click="DeleteCost(item)">
                                        <i class="fa-trash fa"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="!DataSet.Costs.HasRecord()">
                                @*Edit colspan*@
                                <td colspan="7" align="center"> Không có dữ liệu! </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" align="left">
                                    <div style="float: left;">
                                        <span>Số phiếu chi: </span><span class="total-highlight" ng-bind="DataSet.Costs.TotalItems"></span>
                                        <span>Tổng tiền: </span> <span class="total-highlight"><span ng-bind="DataSet.Costs.Sums.Amount | currency:'':0"></span> đ</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-md-9 pull-left">
                            <span grid-paging-for="Costs"></span>
                        </div>

                        <div class="col-md-3 pull-right">
                            <span grid-page-size-for="Costs"></span>
                        </div>
                    </div>

                </div>
                <div class="tab-pane col-md-12" ng-class="{active : (CurrentTab =='Payments') }">
                    <div class="row margin-top-10">
                        <div class="col-md-5 pull-right text-right">
                            <span grid-export-import-for="Payments"></span>
                        </div>
                    </div>
                    <div class="row" style="padding-bottom: 10px; padding-top: 10px">
                        <div class="col-md-5">
                            <span grid-filter-for="Payments" place-holder-message="Nhập mã đơn hàng để tìm kiếm"></span>
                        </div>
                        <div class="col-md-7 text-right">
                            <input type="text" class="form-control input-sm datepicker width-20" ng-model="AdditionalFilter.StartDate"
                                   placeholder="Từ ngày" ng-change="ReloadGrid('Payments')">
                            <input type="text" class="form-control input-sm datepicker width-20" ng-model="AdditionalFilter.EndDate"
                                   placeholder="Đến ngày" ng-change="ReloadGrid('Payments')">
                            <button type="button" class="btn btn-sm btn-outline" ng-class="{1:'clicked'}[RangeDate]" ng-click="SetRangeDate(1)">Tuần</button>
                            <button type="button" class="btn btn-sm btn-outline" ng-class="{2:'clicked'}[RangeDate]" ng-click="SetRangeDate(2)">Tháng</button>
                            <button type="button" class="btn btn-sm btn-outline" ng-class="{3:'clicked'}[RangeDate]" ng-click="SetRangeDate(3)">Quí</button>
                            <button type="button" class="btn btn-sm btn-outline" ng-class="{4:'clicked', 5:'clicked', 6:'clicked'}[RangeDate]" data-toggle="dropdown" style="padding: 5px 3px"><i class="fa fa-caret-down"></i></button>
                            <ul class="dropdown-menu dropdown-menu-right" ] role="menu">
                                <li><a href="#" ng-click="SetRangeDate(4)">Tuần trước</a></li>
                                <li><a href="#" ng-click="SetRangeDate(5)">Tháng trước</a></li>
                                <li><a href="#" ng-click="SetRangeDate(6)">Quí trước</a></li>
                            </ul>
                        </div>
                    </div>

                    <table grid-data="Payments"
                           grid-data-type="table" @*table/storedprocedure*@
                           grid-data-action="get" @*get/getall*@
                           grid-data-object="T_Trans_Payment" @*table name or stored procedure name*@
                           grid-filter-condition="([IsActive] = 1)
                                                   and ({{AdditionalFilter.PaymentType}} = 0 or {{AdditionalFilter.PaymentType}} = [OrderId.PaymentType])
                                                   and  (''{{AdditionalFilter.StartDate}}'' = ''''
                                                    or ''{{AdditionalFilter.StartDate}}'' <> '''' and convert(date, [CreatedDate]) >= dbo.UFN_System_GetDateTime(''{{AdditionalFilter.StartDate}}'', ''dd-MM-yyyy''))
                                                   and  (''{{AdditionalFilter.EndDate}}'' = ''''
                                                    or ''{{AdditionalFilter.EndDate}}'' <> '''' and convert(date, [CreatedDate]) <= dbo.UFN_System_GetDateTime(''{{AdditionalFilter.EndDate}}'', ''dd-MM-yyyy''))" @*must have [fieldname] for each colum field*@
                           grid-sort-condition="[PaymentId] DESC" @*must have [fieldname] for each colum field*@
                           grid-sum-collection="[Amount]" @*must have [fieldname] for each colum field*@
                           class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th grid-defined-colum="PaymentId" class="none-display"></th>
                                <th><span>STT</span></th>
                                <th grid-defined-colum="CreatedDate"><span>Ngày thu</span></th>
                                <th grid-defined-colum="CreatedBy.UserName, Cashier"><span>Thu ngân</span></th>
                                <th grid-defined-colum="OrderId.PaymentType.PaymentName">
                                    <span style="display: inline-block">
                                        <select class="form-control" ng-model="AdditionalFilter.PaymentType" dropdown-master-table="T_Master_PaymentType" dropdown-value-field="PaymentId"
                                                dropdown-name-field="PaymentName" dropdown-empty-text="Hình thức thu" dropdown-empty-value="0"
                                                ng-change="ReloadGrid('Payments')"></select>
                                    </span>
                                </th>
                                <th grid-defined-colum="Amount"><span>Tiền thu</span></th>
                                <th grid-defined-colum="OrderId.OrderCode"><span>Ghi chú</span></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @*Dataset must have grid id*@
                            <tr ng-repeat="item in DataSet.Payments.Data">
                                <td ng-bind="item.RowNum"></td>
                                <td ng-bind="item.CreatedDate"></td>
                                <td ng-bind="item.Cashier"></td>
                                <td ng-bind="item.PaymentName"></td>
                                <td ng-bind="item.Amount | currency:'':0 "></td>
                                <td>
                                    <span>
                                        Thu
                                        <span ng-bind="item.Amount | currency:'':0 "></span>
                                        cho đơn hàng
                                        <span ng-bind="item.OrderCode"></span>
                                    </span>
                                </td>
                                <td>
                                    <a class="red margin-left-10" ng-click="DeletePayment(item)">
                                        <i class="fa-trash fa"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-if="!DataSet.Payments.HasRecord()">
                                @*Edit colspan*@
                                <td colspan="7" align="center"> Không có dữ liệu! </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7" align="left">
                                    <div style="float: left;">
                                        <span>Số phiếu thu: </span><span class="total-highlight" ng-bind="DataSet.Payments.TotalItems"></span>
                                        <span>Tổng thu: </span> <span class="total-highlight"><span ng-bind="DataSet.Payments.Sums.Amount | currency:'':0"></span> đ</span>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                    <div class="row">
                        <div class="col-md-9 pull-left">
                            <span grid-paging-for="Payments"></span>
                        </div>

                        <div class="col-md-3 pull-right">
                            <span grid-page-size-for="Payments"></span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

