@{
    ViewBag.Title = "Store Management";
}

@section scripts
{
    @Scripts.Render("~/bundles/Profit")
}

<div ng-controller="ProfitController">
    <div class="container-fluid">

        <div class="row">
            <div class="tabbable" style="padding-top: 10px">
                <ul class="nav nav-tabs padding-left-18">
                    <li class="active" ng-click="SetCurrentTab('ReportByTime')">
                        <a data-toggle="tab">
                            <i class="blue fa-calendar fa"></i>
                            <span>Theo thời gian</span>
                        </a>
                    </li>
                    <li class="" ng-click="SetCurrentTab('ReportByProduct')">
                        <a data-toggle="tab">
                            <i class="blue fa-qrcode fa"></i>
                            <span>Theo sản phẩm</span>
                        </a>
                    </li>
                    <li class="" ng-click="SetCurrentTab('ReportByStore')">
                        <a data-toggle="tab">
                            <i class="blue fa-shopping-cart fa"></i>
                            <span>Theo cửa hàng</span>
                        </a>
                    </li>
                    <li class="" ng-click="SetCurrentTab('ReportProfit')">
                        <a data-toggle="tab">
                            <i class="blue fa-laptop fa"></i>
                            <span>Báo cáo lãi lỗ</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="tab-content no-border active">
                <div class="tab-pane col-md-12 active" ng-class="{'active': CurrentTab =='ReportByTime'}">
                    @*If use ng-if, chart will be bind wrong*@
                    <div ng-show="CurrentTab =='ReportByTime'">
                        <div class="row margin-top-30">
                            <div class="col-md-5">
                                @if (!String.IsNullOrWhiteSpace(@ViewBag.DateRangeCode))
                                {
                                    <span date-range-filter-for="ReportByTime" date-range-init-code="@ViewBag.DateRangeCode"></span>
                                    <span ng-init="Filter.CurrentStore = CurrentStore"></span>
                                }
                                else
                                {
                                    <span date-range-filter-for="ReportByTime" date-range-init-code="2"></span>
                                }
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="Filter.ReportGroupBy"
                                        ng-change="ReloadGrid('ReportByTime')">
                                    <option value="d">Theo ngày</option>
                                    <option value="w">Theo tuần</option>
                                    <option value="m">Theo tháng</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="Filter.CurrentStore"
                                        ng-change="ReloadGrid('ReportByTime')"
                                        dropdown-master-table="T_Master_Stores" dropdown-value-field="StoreId"
                                        dropdown-empty-text="Tất cả cửa hàng" dropdown-empty-value="0"
                                        dropdown-name-field="StoreCode"></select>
                            </div>
                            <div class="col-md-3">
                                <span grid-export-import-for="ReportByTime" grid-export-template="ReportByTime.xlsx"></span>
                            </div>
                        </div>
                        <div class="row form-group col-md-12 margin-top-10">
                            <div class="summary-head">
                                <div class="infobox infobox-green">
                                    <div class="infobox-icon">
                                        <i class="fa-signal fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-green" ng-bind="DataSet.ReportByTime.Sums.Revenue | currency:'':0"></span>
                                        <div class="infobox-content">Doanh thu</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-orange">
                                    <div class="infobox-icon">
                                        <i class="fa-dollar fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-orange" ng-bind="DataSet.ReportByTime.Sums.Profit | currency:'':0"></span>
                                        <div class="infobox-content">Lãi gộp</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-blue">
                                    <div class="infobox-icon">
                                        <i class="fa-money fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-blue" ng-bind="DataSet.ReportByTime.Sums.Cost | currency:'':0"></span>
                                        <div class="infobox-content">Tiền vốn</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-red">
                                    <div class="infobox-icon">
                                        <i class="fa-gift fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-red" ng-bind="DataSet.ReportByTime.Sums.Discount | currency:'':0"></span>
                                        <div class="infobox-content">Tiền giảm giá</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-red">
                                    <div class="infobox-icon">
                                        <i class="fa-trash-o fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-red" ng-bind="DataSet.ReportByTime.Sums.ReturnAmount | currency:'':0"></span>
                                        <div class="infobox-content">Đơn hàng bị xóa</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 text-center">
                            <span class="bold">Báo cáo lãi theo thời gian</span>
                        </div>
                    </div>
                    <div class="row col-md-6 margin-top-10" ng-show="CurrentTab =='ReportByTime'">
                        <div id="chartReportByTime"></div>
                    </div>
                    @*use ng-if to reload chart*@
                    <div class="row col-md-12 margin-top-10" ng-if="CurrentTab =='ReportByTime'">
                        <table grid-data="ReportByTime"
                               grid-data-type="function" @*table/storedprocedure*@
                               grid-data-action="getall" @*get/getall*@
                               grid-data-object="dbo.UFN_Report_Profit_By_Time" @*table name or stored procedure name*@
                               grid-parameters="{{CurrentUser}}
                                            ,dbo.UFN_System_GetDateTime(''{{FilterRangeDate.StartDate}}'', ''dd-MM-yyyy'')
                                            ,dbo.UFN_System_GetDateTime(''{{FilterRangeDate.EndDate}}'', ''dd-MM-yyyy'')
                                            ,{{Filter.CurrentStore}}
                                            ,''{{Filter.ReportGroupBy}}''"
                               grid-sort-condition="GroupBy ASC" @*must have [fieldname] for each colum field*@
                               grid-sum-collection="Revenue;Profit;ReturnAmount;Cost;Discount" @*must have [fieldname] for each colum field*@
                               class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th grid-defined-colum="GroupBy"><span>Thời gian</span></th>
                                    <th grid-defined-colum="Quantity"><span>SL bán</span></th>
                                    <th grid-defined-colum="ReturnQuan"><span>SL xóa</span></th>
                                    <th grid-defined-colum="Discount"><span>Giảm giá</span></th>
                                    <th grid-defined-colum="Revenue"><span>Doanh thu</span></th>
                                    <th grid-defined-colum="ReturnAmount"><span>Đơn hàng bị xóa</span></th>
                                    <th grid-defined-colum="Cost"><span>Vốn</span></th>
                                    <th grid-defined-colum="Profit"><span>Lãi</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*Dataset must have grid id*@
                                <tr ng-repeat="item in DataSet.ReportByTime.Data">
                                    <td ng-bind="item.GroupBy"></td>
                                    <td ng-bind="item.Quantity"></td>
                                    <td ng-bind="item.ReturnQuan"></td>
                                    <td ng-bind="item.Discount | currency:'':0"></td>
                                    <td ng-bind="item.Revenue | currency:'':0"></td>
                                    <td ng-bind="item.ReturnAmount | currency:'':0"></td>
                                    <td ng-bind="item.Cost | currency:'':0"></td>
                                    <td ng-bind="item.Profit | currency:'':0" class="bold"></td>
                                </tr>
                                <tr ng-if="!DataSet.ReportByTime.HasRecord()">
                                    @*Edit colspan*@
                                    <td colspan="8" align="center"> Không có dữ liệu! </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane col-md-12" ng-class="{'active': CurrentTab =='ReportByProduct'}">
                    @*If use ng-if, chart will be bind wrong*@
                    <div ng-show="CurrentTab =='ReportByProduct'">
                        <div class="row margin-top-30">
                            <div class="col-md-5">
                                <span date-range-filter-for="ReportByProduct"></span>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="Filter.ProductGroup"
                                        ng-change="ReloadGrid('ReportByProduct')"
                                        dropdown-master-table="T_Master_ProductGroups" dropdown-value-field="ProductGroupId"
                                        dropdown-name-field="GroupName" dropdown-empty-text="Tất cả nhóm hàng"
                                        dropdown-empty-value="0"
                                        dropdown-condition="[IsActive]  = 1 and [IsParent] = 0"></select>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="Filter.CurrentStore"
                                        ng-change="ReloadGrid('ReportByProduct')"
                                        dropdown-master-table="T_Master_Stores" dropdown-value-field="StoreId"
                                        dropdown-empty-text="Tất cả cửa hàng" dropdown-empty-value="0"
                                        dropdown-name-field="StoreCode"></select>
                            </div>
                            <div class="col-md-3">
                                <span grid-export-import-for="ReportByProduct" grid-export-template="ProfitByProduct.xlsx"></span>
                            </div>
                        </div>
                        <div class="row form-group col-md-12 margin-top-10">
                            <div class="summary-head">
                                <div class="infobox infobox-green">
                                    <div class="infobox-icon">
                                        <i class="fa-signal fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-green" ng-bind="DataSet.ReportByProduct.Sums.Revenue | currency:'':0"></span>
                                        <div class="infobox-content">Doanh thu</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-orange">
                                    <div class="infobox-icon">
                                        <i class="fa-dollar fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-orange" ng-bind="DataSet.ReportByProduct.Sums.Profit | currency:'':0"></span>
                                        <div class="infobox-content">Lãi gộp</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-blue">
                                    <div class="infobox-icon">
                                        <i class="fa-money fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-blue" ng-bind="DataSet.ReportByProduct.Sums.Cost | currency:'':0"></span>
                                        <div class="infobox-content">Tiền vốn</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-red">
                                    <div class="infobox-icon">
                                        <i class="fa-gift fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-red" ng-bind="DataSet.ReportByProduct.Sums.Discount | currency:'':0"></span>
                                        <div class="infobox-content">Tiền giảm giá</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-red">
                                    <div class="infobox-icon">
                                        <i class="fa-trash-o fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-red" ng-bind="DataSet.ReportByProduct.Sums.ReturnAmount | currency:'':0"></span>
                                        <div class="infobox-content">Đơn hàng bị xóa</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 text-center">
                            <span class="bold">Báo cáo lãi theo sản phẩm</span>
                        </div>
                    </div>
                    <div class="row col-md-6 margin-top-10" ng-show="CurrentTab =='ReportByProduct'">
                        <div id="chartReportByProduct"></div>
                    </div>
                    @*use ng-if to reload chart*@
                    <div class="row col-md-12 margin-top-10" ng-if="CurrentTab =='ReportByProduct'">
                        <table grid-data="ReportByProduct"
                               grid-data-type="function" @*table/storedprocedure*@
                               grid-data-action="getall" @*get/getall*@
                               grid-data-object="dbo.UFN_Report_Profit_By_Product" @*table name or stored procedure name*@
                               grid-parameters="{{CurrentUser}}
                                            ,dbo.UFN_System_GetDateTime(''{{FilterRangeDate.StartDate}}'', ''dd-MM-yyyy'')
                                            ,dbo.UFN_System_GetDateTime(''{{FilterRangeDate.EndDate}}'', ''dd-MM-yyyy'')
                                            ,{{Filter.CurrentStore}}
                                            ,{{Filter.ProductGroup}}"
                               grid-sort-condition="[ProductCode] ASC" @*must have [fieldname] for each colum field*@
                               grid-sum-collection="Revenue;Profit;ReturnAmount;Cost;Discount" @*must have [fieldname] for each colum field*@
                               class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th grid-defined-colum="ProductCode"><span>Mã</span></th>
                                    <th grid-defined-colum="ProductName"><span>Tên sản phẩm</span></th>
                                    <th grid-defined-colum="Quantity"><span>SL bán</span></th>
                                    <th grid-defined-colum="ReturnQuan"><span>SL xóa</span></th>
                                    <th grid-defined-colum="Discount"><span>Giảm giá</span></th>
                                    <th grid-defined-colum="Revenue"><span>Doanh thu</span></th>
                                    <th grid-defined-colum="ReturnAmount"><span>Đơn hàng bị xóa</span></th>
                                    <th grid-defined-colum="Cost"><span>Vốn</span></th>
                                    <th grid-defined-colum="Profit"><span>Lãi</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*Dataset must have grid id*@
                                <tr ng-repeat="item in DataSet.ReportByProduct.Data">
                                    <td ng-bind="item.ProductCode"></td>
                                    <td ng-bind="item.ProductName"></td>
                                    <td ng-bind="item.Quantity"></td>
                                    <td ng-bind="item.ReturnQuan"></td>
                                    <td ng-bind="item.Discount | currency:'':0"></td>
                                    <td ng-bind="item.Revenue | currency:'':0"></td>
                                    <td ng-bind="item.ReturnAmount | currency:'':0"></td>
                                    <td ng-bind="item.Cost | currency:'':0"></td>
                                    <td ng-bind="item.Profit | currency:'':0" class="bold"></td>
                                </tr>
                                <tr ng-if="!DataSet.ReportByProduct.HasRecord()">
                                    @*Edit colspan*@
                                    <td colspan="9" align="center"> Không có dữ liệu! </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane col-md-12" ng-class="{'active': CurrentTab =='ReportByStore'}">
                    @*If use ng-if, chart will be bind wrong*@
                    <div ng-show="CurrentTab =='ReportByStore'">
                        <div class="row margin-top-30">
                            <div class="col-md-5">
                                <span date-range-filter-for="ReportByStore" ></span>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="Filter.CurrentStore"
                                        ng-change="ReloadGrid('ReportByStore')"
                                        dropdown-master-table="T_Master_Stores" dropdown-value-field="StoreId"
                                        dropdown-empty-text="Tất cả cửa hàng" dropdown-empty-value="0"
                                        dropdown-name-field="StoreCode"></select>
                            </div>
                            <div class="col-md-3">
                                <span grid-export-import-for="ReportByStore" grid-export-template="ProfitByStore.xlsx"></span>
                            </div>
                        </div>
                        <div class="row form-group col-md-12 margin-top-10">
                            <div class="summary-head">
                                <div class="infobox infobox-green">
                                    <div class="infobox-icon">
                                        <i class="fa-signal fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-green" ng-bind="DataSet.ReportByStore.Sums.Revenue | currency:'':0"></span>
                                        <div class="infobox-content">Doanh thu</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-orange">
                                    <div class="infobox-icon">
                                        <i class="fa-dollar fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-orange" ng-bind="DataSet.ReportByStore.Sums.Profit | currency:'':0"></span>
                                        <div class="infobox-content">Lãi gộp</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-blue">
                                    <div class="infobox-icon">
                                        <i class="fa-money fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-blue" ng-bind="DataSet.ReportByStore.Sums.Cost | currency:'':0"></span>
                                        <div class="infobox-content">Tiền vốn</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-red">
                                    <div class="infobox-icon">
                                        <i class="fa-gift fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-red" ng-bind="DataSet.ReportByStore.Sums.Discount | currency:'':0"></span>
                                        <div class="infobox-content">Tiền giảm giá</div>
                                    </div>
                                </div>
                                <div class="infobox infobox-red">
                                    <div class="infobox-icon">
                                        <i class="fa-trash-o fa"></i>
                                    </div>
                                    <div class="infobox-data">
                                        <span class="infobox-data-number infobox-red" ng-bind="DataSet.ReportByStore.Sums.ReturnAmount | currency:'':0"></span>
                                        <div class="infobox-content">Đơn hàng bị xóa</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row col-md-12 text-center">
                            <span class="bold">Báo cáo lãi cửa hàng</span>
                        </div>
                    </div>
                    <div class="row col-md-6 margin-top-10" ng-show="CurrentTab =='ReportByStore'">
                        <div id="chartReportByStore"></div>
                    </div>
                    @*use ng-if to reload chart*@
                    <div class="row col-md-12 margin-top-10" ng-if="CurrentTab =='ReportByStore'">
                        <table grid-data="ReportByStore"
                               grid-data-type="function" @*table/storedprocedure*@
                               grid-data-action="getall" @*get/getall*@
                               grid-data-object="dbo.UFN_Report_Profit_By_Store" @*table name or stored procedure name*@
                               grid-parameters="{{CurrentUser}}
                                            ,dbo.UFN_System_GetDateTime(''{{FilterRangeDate.StartDate}}'', ''dd-MM-yyyy'')
                                            ,dbo.UFN_System_GetDateTime(''{{FilterRangeDate.EndDate}}'', ''dd-MM-yyyy'')
                                            ,{{Filter.CurrentStore}}"
                               grid-sort-condition="StoreCode ASC" @*must have [fieldname] for each colum field*@
                               grid-sum-collection="Revenue;Profit;ReturnAmount;Cost;Discount" @*must have [fieldname] for each colum field*@
                               class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th grid-defined-colum="StoreCode"><span>Cửa hàng</span></th>
                                    <th grid-defined-colum="Quantity"><span>SL bán</span></th>
                                    <th grid-defined-colum="ReturnQuan"><span>SL xóa</span></th>
                                    <th grid-defined-colum="Discount"><span>Giảm giá</span></th>
                                    <th grid-defined-colum="Revenue"><span>Doanh thu</span></th>
                                    <th grid-defined-colum="ReturnAmount"><span>Đơn hàng bị xóa</span></th>
                                    <th grid-defined-colum="Cost"><span>Vốn</span></th>
                                    <th grid-defined-colum="Profit"><span>Lãi</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*Dataset must have grid id*@
                                <tr ng-repeat="item in DataSet.ReportByStore.Data">
                                    <td ng-bind="item.StoreCode"></td>
                                    <td ng-bind="item.Quantity"></td>
                                    <td ng-bind="item.ReturnQuan"></td>
                                    <td ng-bind="item.Discount | currency:'':0"></td>
                                    <td ng-bind="item.Revenue | currency:'':0"></td>
                                    <td ng-bind="item.ReturnAmount | currency:'':0"></td>
                                    <td ng-bind="item.Cost | currency:'':0"></td>
                                    <td ng-bind="item.Profit | currency:'':0" class="bold"></td>
                                </tr>
                                <tr ng-if="!DataSet.ReportByStore.HasRecord()">
                                    @*Edit colspan*@
                                    <td colspan="8" align="center"> Không có dữ liệu! </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane col-md-12" ng-class="{'active': CurrentTab =='ReportProfit'}">
                    @*If use ng-if, chart will be bind wrong*@
                    <div ng-show="CurrentTab =='ReportProfit'">
                        <div class="row margin-top-30">
                            <div class="col-md-5">
                                <span date-range-filter-for="ReportProfit" ></span>
                            </div>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="Filter.CurrentStore"
                                        ng-change="ReloadGrid('ReportProfit')"
                                        dropdown-master-table="T_Master_Stores" dropdown-value-field="StoreId"
                                        dropdown-empty-text="Tất cả cửa hàng" dropdown-empty-value="0"
                                        dropdown-name-field="StoreCode"></select>
                            </div>
                            <div class="col-md-3">
                                <span grid-export-import-for="ReportProfit" grid-export-template="ReportProfit.xlsx"></span>
                            </div>
                        </div>
                    </div>
                    @*use ng-if to reload chart*@
                    <div class="row col-md-12 margin-top-10" ng-if="CurrentTab =='ReportProfit'">
                        <table grid-data="ReportProfit"
                               grid-data-type="function" @*table/storedprocedure*@
                               grid-data-action="getall" @*get/getall*@
                               grid-data-object="dbo.UFN_Report_Profit_Summary" @*table name or stored procedure name*@
                               grid-parameters="{{CurrentUser}}
                                            ,dbo.UFN_System_GetDateTime(''{{FilterRangeDate.StartDate}}'', ''dd-MM-yyyy'')
                                            ,dbo.UFN_System_GetDateTime(''{{FilterRangeDate.EndDate}}'', ''dd-MM-yyyy'')
                                            ,{{Filter.CurrentStore}}"
                               grid-sort-condition="" @*must have [fieldname] for each colum field*@
                               grid-sum-collection="" @*must have [fieldname] for each colum field*@
                               class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th grid-defined-colum="Discount" class="none-display"></th>
                                    <th grid-defined-colum="Revenue" class="none-display"></th>
                                    <th grid-defined-colum="ReturnAmount" class="none-display"></th>
                                    <th grid-defined-colum="Cost" class="none-display"></th>
                                    <th grid-defined-colum="ExtraCost" class="none-display"></th>
                                    <th><span>Chỉ tiêu</span></th>
                                    <th>
                                        <span>Kỳ trước</span>
                                        <div style="font-weight: normal">({{Filter.PreStartDate}} / {{Filter.PreEndDate}})</div>
                                    </th>
                                    <th>
                                        <span>Kỳ hiện tại</span>
                                        <div style="font-weight: normal">({{FilterRangeDate.StartDate}} / {{FilterRangeDate.EndDate}})</div>
                                    </th>
                                    <th><span>Thay đổi (%)</span></th>
                                </tr>
                            </thead>
                            <tbody ng-repeat="item in DataSet.ReportProfit.Data">
                                @*Dataset must have grid id*@
                                <tr ng-init="Filter.PreStartDate = item.PreStartDate; Filter.PreEndDate = item.PreEndDate">
                                    <td>1. Doanh thu</td>
                                    <td ng-bind="item.PreRevenue | currency:'':0"></td>
                                    <td ng-bind="item.Revenue | currency:'':0"></td>
                                    <td>
                                        <span ng-if="item.PreRevenue > 0" 
                                              ng-bind="100*(item.Revenue - item.PreRevenue)/item.PreRevenue | number:2"></span>
                                        <span ng-if="item.PreRevenue == 0 && item.Revenue > 0" >100</span>
                                        %
                                        <span>
                                            <i ng-if="item.Revenue > item.PreRevenue" class="fa fa-arrow-up green"> </i>
                                            <i ng-if="item.Revenue < item.PreRevenue" class="fa fa-arrow-down red"> </i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>2. Tiền giảm giá</td>
                                    <td ng-bind="item.PreDiscount | currency:'':0"></td>
                                    <td ng-bind="item.Discount | currency:'':0"></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>3. Đơn hàng bị xóa</td>
                                    <td ng-bind="item.PreReturnAmount | currency:'':0"></td>
                                    <td ng-bind="item.ReturnAmount | currency:'':0"></td>
                                    <td >
                                        <span ng-if="item.PreReturnAmount > 0" 
                                              ng-bind="100*(item.ReturnAmount - item.PreReturnAmount)/item.PreReturnAmount | number:2"></span>
                                        <span ng-if="item.PreReturnAmount == 0 && item.ReturnAmount > 0">100</span>
                                        %
                                        <span>
                                            <i ng-if="item.ReturnAmount > item.PreReturnAmount" class="fa fa-arrow-up green"> </i>
                                            <i ng-if="item.ReturnAmount < item.PreReturnAmount" class="fa fa-arrow-down red"> </i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>4. Tiền vốn mua hàng</td>
                                    <td ng-bind="item.PreCost | currency:'':0"></td>
                                    <td ng-bind="item.Cost | currency:'':0"></td>
                                    <td >
                                        <span ng-if="item.PreCost > 0" 
                                              ng-bind="100*(item.Cost - item.PreCost)/item.PreCost | number:2"></span>
                                        <span ng-if="item.PreCost == 0 && item.Cost > 0">100</span>
                                        %
                                        <span>
                                            <i ng-if="item.Cost > item.PreCost" class="fa fa-arrow-up green"> </i>
                                            <i ng-if="item.Cost < item.PreCost" class="fa fa-arrow-down red"> </i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>5. Lãi gộp = [1] - [3]</td>
                                    <td ng-init="item.PreGrossRevenue = (item.PreRevenue - item.PreCost)" ng-bind="item.PreGrossRevenue | currency:'':0"></td>
                                    <td ng-init="item.GrossRevenue = (item.Revenue - item.Cost)" ng-bind="item.GrossRevenue | currency:'':0"></td>
                                    <td >
                                        <span ng-if="item.PreGrossRevenue != 0"
                                              ng-bind="100*(item.GrossRevenue - item.PreGrossRevenue)/Abs(item.PreGrossRevenue) | number:2"></span>
                                        <span ng-if="item.GrossRevenue < 0 && item.PreGrossRevenue == 0">-</span>
                                        <span ng-if="item.PreGrossRevenue == 0 && item.GrossRevenue != 0">100</span>
                                        %
                                        <span>
                                            <i ng-if="item.GrossRevenue > item.PreGrossRevenue" class="fa fa-arrow-up green"> </i>
                                            <i ng-if="item.GrossRevenue < item.PreGrossRevenue" class="fa fa-arrow-down red"> </i>
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>6. Chi phí</td>
                                    <td ng-bind=" item.PreExtraCost | currency:'':0"></td>
                                    <td ng-bind=" item.ExtraCost | currency:'':0"></td>
                                    <td>
                                        <span ng-if="item.PreExtraCost > 0"
                                              ng-bind="100*(item.ExtraCost - item.PreExtraCost)/item.PreExtraCost | number:2"></span>
                                        <span ng-if="item.PreExtraCost == 0 && item.ExtraCost > 0">100</span>
                                        %
                                        <span>
                                            <i ng-if="item.ExtraCost > item.PreExtraCost" class="fa fa-arrow-up red"> </i>
                                            <i ng-if="item.ExtraCost < item.PreExtraCost" class="fa fa-arrow-down green"> </i>
                                        </span>
                                    </td>
                                </tr>
                                <tr class="bold">
                                    <td>7. Lãi ròng = [5] - [6]</td>
                                    <td>
                                        <span ng-init="item.PreProfit = (item.PreRevenue - item.PreCost - item.PreExtraCost)"
                                              ng-bind="item.PreProfit | currency:'':0"></span>
                                    </td>
                                    <td>
                                        <span ng-init="item.Profit = (item.Revenue - item.Cost - item.ExtraCost)"
                                              ng-bind="item.Profit | currency:'':0"></span>
                                    </td>
                                    <td >
                                        <span ng-if="item.PreProfit != 0"
                                              ng-bind="100*(item.Profit - item.PreProfit)/ Abs(item.PreProfit) | number:2"></span>
                                        <span ng-if="item.Profit < 0 && item.PreProfit == 0">-</span>
                                        <span ng-if="item.PreProfit == 0 && item.Profit != 0">100</span>
                                        %
                                        <span>
                                            <i ng-if="item.Profit > item.PreProfit" class="fa fa-arrow-up green"> </i>
                                            <i ng-if="item.Profit < item.PreProfit" class="fa fa-arrow-down red"> </i>
                                        </span>
                                    </td>
                                </tr>
                                <tr >
                                    <td>8. Tiền giảm giá/Doanh thu (%) = [2]/[1]</td>
                                    <td>
                                        <span ng-if="item.PreRevenue > 0" ng-bind="(100*item.PreDiscount/item.PreRevenue) | number:2"></span>
                                        <span ng-if="item.PreRevenue == 0"> 0</span>
                                        %
                                    </td>
                                    <td>
                                        <span ng-if="item.Revenue > 0" ng-bind="(100*item.Discount/item.Revenue) | number:2"></span>
                                        <span ng-if="item.Revenue == 0"> 0</span>
                                        %
                                    </td>   
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>9. Tiền đơn hàng xóa/Doanh thu (%) = [3]/[1]</td>
                                    <td>
                                        <span ng-if="item.PreRevenue > 0" ng-bind="(100*item.PreReturnAmount/item.PreRevenue) | number:2"></span>
                                        <span ng-if="item.PreRevenue == 0"> 0</span>
                                        %
                                    </td>
                                    <td>
                                        <span ng-if="item.Revenue > 0" ng-bind="(100*item.ReturnAmount/item.Revenue) | number:2"></span>
                                        <span ng-if="item.Revenue == 0"> 0</span>
                                        %
                                    </td>                                    
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>10. Lãi gộp/Doanh thu (%) = [5]/[1]</td>
                                    <td>
                                        <span ng-if="item.PreRevenue > 0" ng-bind="(100*(item.PreRevenue - item.PreCost)/item.PreRevenue) | number:2"></span>
                                        <span ng-if="item.PreRevenue == 0"> 0</span>
                                        %
                                    </td>
                                    <td>
                                        <span ng-if="item.Revenue > 0" ng-bind="(100*(item.Revenue - item.Cost)/item.Revenue) | number:2"></span>
                                        <span ng-if="item.Revenue == 0"> 0</span>
                                        %
                                    </td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>11. Lãi ròng/Doanh thu (%) = [7]/[1]</td>
                                    <td>
                                        <span ng-if="item.PreRevenue > 0" ng-bind=" (100*(item.PreRevenue - item.PreCost - item.PreExtraCost)/item.PreRevenue) | number:2"></span>
                                        <span ng-if="item.PreRevenue == 0"> 0</span>
                                        %
                                    </td>
                                    <td>
                                        <span ng-if="item.Revenue > 0" ng-bind=" (100*(item.Revenue - item.Cost - item.ExtraCost)/item.Revenue) | number:2"></span>
                                        <span ng-if="item.Revenue == 0"> 0</span>
                                        %
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

