<div id="PurchaseController" ng-controller="PurchaseController">
    <div class="container-fluid none-display" ng-class="{'active-content' : !IsShowPurchaseDetail}">
        <div ng-if="!IsShowPurchaseDetail">
            <div class="row" style="padding-top: 5px">
                <div class="col-md-6">
                    <h4 class="dashboard-title">
                        <i class="fa-truck fa"></i>&nbsp;Nhập kho
                    </h4>
                </div>
                <div class="col-md-4 pull-right text-right">
                    <button class="btn btn-success btn-primary" ng-click="AddPurchase()"
                            ng-if="PurchaseFormConfig._CanCreate">
                        <i class="fa fa-desktop white"></i>
                        <span>Tạo phiếu nhập</span>
                    </button>
                    <span grid-export-import-for="Purchases" grid-export-template="Purchases.xlsx"></span>
                </div>
            </div>
            <div class="row" style="padding-bottom: 10px; padding-top: 5px">
                <div class="col-md-5 margin-top-5">
                    <span grid-filter-for="Purchases" place-holder-message="Nhập mã hóa đơn để tìm kiếm"></span>
                </div>
                <div class="col-md-2 margin-top-5">
                    <select class="form-control input-sm" ng-model="AdditionalFilter.PurchaseType"
                            ng-class="{notice:AdditionalFilter.PurchaseType != 1 }" ng-change="ReloadGrid('Purchases')">
                        <option selected="selected" value="1">Phiếu nhập</option>
                        <option value="2">Phiếu nhập đã xóa</option>
                        <option value="3">Phiếu nhập còn nợ</option>
                    </select>
                </div>
                <div class="col-md-5 margin-top-5">
                    <span date-range-filter-for="Purchases" date-range-init-code="2"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table grid-data="Purchases"
                               grid-data-type="table" @*table/storedprocedure*@
                               grid-data-action="get" @*get/getall*@
                               grid-data-object="T_Trans_Purchase" @*table name or stored procedure name*@
                               grid-filter-condition="(([IsActive] = 1 and {{AdditionalFilter.PurchaseType}} = 1)
                                                    or ({{AdditionalFilter.PurchaseType}} = 2 and  [IsActive] = 0)
                                                    or ({{AdditionalFilter.PurchaseType}} = 3 and [Debt] > 0 and [IsActive] = 1))
                                               and ([StoreId] = {{CurrentStore}})
                                               and ({{AdditionalFilter.Status}} = 0 or {{AdditionalFilter.Status}} = [StatusId])
                                               and  (convert(date, [PurchaseDate]) between dbo.UFN_System_GetDateTime(''{{FilterRangeDate.StartDate}}'', ''dd-MM-yyyy'')
                                                                                  and dbo.UFN_System_GetDateTime(''{{FilterRangeDate.EndDate}}'', ''dd-MM-yyyy'')
                                                      or [PurchaseDate] is null)"
                               @*must have [fieldname] for each colum field*@
                               grid-sort-condition="[PurchaseCode] ASC" @*must have [fieldname] for each colum field*@
                               grid-sum-collection="[SumMoney];[Debt]" @*must have [fieldname] for each colum field*@
                               class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th grid-defined-colum="!PurchaseId" class="none-display"></th>
                                    <th grid-defined-colum="PurchaseCode"><span>Mã hóa đơn</span></th>
                                    <th grid-defined-colum="StatusId.StatusName">
                                        <span style="display: inline-block">
                                            <select class="form-control min-width-100" ng-model="AdditionalFilter.Status" dropdown-master-table="T_Master_PurchaseStatus" dropdown-value-field="StatusId"
                                                    dropdown-name-field="StatusName" dropdown-empty-text="Trạng thái" dropdown-empty-value="0"
                                                    ng-change="ReloadGrid('Purchases')"></select>
                                        </span>
                                    </th>
                                    <th grid-defined-colum="PurchaseDate"><span>Ngày nhập</span></th>
                                    <th grid-defined-colum="Purchaser.UserName, PurchaserName"><span>Người nhập</span></th>
                                    <th grid-defined-colum="Quantity"><span>SL</span></th>
                                    <th grid-defined-colum="SumMoney"><span>Tổng tiền</span></th>
                                    <th grid-defined-colum="Debt"><span>Nợ</span></th>
                                    <th></th>
                                    <th grid-defined-colum="!StatusId.DisplayClass" class="none-display"></th>
                                    <th grid-defined-colum="!Notes" class="none-display"></th>
                                    <th grid-defined-colum="!SupplierId.SupplierName" class="none-display"></th>
                                    <th grid-defined-colum="!IsActive" class="none-display"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @*Dataset must have grid id*@
                                <tr ng-repeat="item in DataSet.Purchases.Data">
                                    <td>
                                        <a href="#" ng-bind="item.PurchaseCode" ng-click="ShowPurchaseDetail(item)"></a>
                                        <span ng-if="item.Notes" title="{{item.Notes}}" class="badge badge-primary"
                                              data-toggle="tooltip" data-placement="bottom">
                                            <i class="fa fa-info"></i>
                                        </span>
                                    </td>
                                    <td>
                                        <span class="{{item.DisplayClass}}" ng-bind="item.StatusName"></span>
                                    </td>
                                    <td ng-bind="item.PurchaseDate"></td>
                                    <td ng-bind="item.PurchaserName"></td>
                                    <td ng-bind="item.Quantity"></td>
                                    <td><span ng-bind="item.SumMoney | currency:'':0" class="bold"></span></td>
                                    <td ng-bind="item.Debt  | currency:'':0"></td>
                                    <td>
                                        <a class="grey margin-left-10" ng-click="PrintPurchase(item)">
                                            <i class="fa-print fa"></i>
                                        </a>
                                        <a class="red margin-left-10" ng-if="item._CanDelete" ng-click="DeletePurchase(item)">
                                            <i class="fa-trash fa"></i>
                                        </a>
                                    </td>
                                </tr>
                                <tr ng-if="!DataSet.Purchases.HasRecord()">
                                    @*Edit colspan*@
                                    <td colspan="8" align="center"> Không có dữ liệu! </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="8" align="left">
                                        <div style="float: left;">
                                            <span>Tổng hóa đơn: </span><span class="total-highlight" ng-bind="DataSet.Purchases.TotalItems"></span>
                                            <span>Tổng tiền: </span> <span class="total-highlight"><span ng-bind="DataSet.Purchases.Sums.SumMoney | currency:'':0"></span> đ</span>
                                            <span>Tổng nợ: </span><span class="total-highlight"><span ng-bind="DataSet.Purchases.Sums.Debt | currency:'':0"></span> đ</span>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <span grid-paging-for="Purchases"></span>
                        </div>

                        <div class="col-md-3">
                            <span grid-page-size-for="Purchases"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid none-display" ng-class="{'active-content' : IsShowPurchaseDetail}">
        <div ng-show="IsShowPurchaseDetail" ng-include src="'@Url.Action("PurchaseDetail", "Admin")'">
        </div>
    </div>

    <div class="none-display" id="divPrint">
        <span bind-html-compile="PrintTemplate">
        </span>
    </div>
</div>